<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section th:replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        <!-- Form Header  Path -->
        <section th:replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section><!-- Small Box Set -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h4>First sud Header</h4>
                                <form role="form">


                                    <a class="btn btn-success" href="/supplier/add" tabindex="1">
                                        <i class="fa fa-plus" style="font-size: 20px"></i>&nbsp;&nbsp;New</a>&nbsp;

                                    <a href="/home" id="searchShow" class="btn btn-primary" tabindex="2">
                                        <!--<i class="fa fa-user " style="font-size: 20px"></i>&nbsp;Add&nbsp;-->
                                        <i class="fas fa-home" style="font-size: 20px"></i>&nbsp;&nbsp;Home&nbsp;
                                    </a>


                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-body">
                                <h4>Secondary Header </h4></div>
                            <div class="col" th:fragment="supplierFragment" id="supplierListPresent" th:if="${not #lists.isEmpty(suppliers)}">
                                <table class="table table-hover table-striped" id="myTable">
                                    <thead>
                                    <tr>
                                        <th> Index</th>
                                        <th> Company Name</th>
                                        <th> Contact No1</th>
                                        <th> Email</th>
                                        <th> Address</th>
                                        <th> Modify</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="supplier, rowCount : ${suppliers}">
                                        <th th:text="${rowCount.count}"></th>
                                        <th th:text="${supplier.name}"></th>
                                        <th th:text="${supplier.contactOne}"></th>
                                        <th th:text="${supplier.email}"></th>
                                        <th th:text="${supplier.address}"></th>
                                        <th th:if="${supplierDetailShow !=true}">
                                            <a id="supplierView" th:href="${'/supplier/' + supplier.id}" class="btn btn-primary btn-sm"><i class="fa fa-folder-open" style="font-size: 15px"></i>&nbsp;View</a>
                                            <a id="supplierEdit" th:href="${'/supplier/edit/' + supplier.id}" class="btn btn-success btn-sm"><i class="fa fa-edit" style="font-size: 15px"></i>&nbsp;Edit</a>
                                            <a id="supplierRemove" th:href="${'/supplier/delete/' + supplier.id}" class="btn btn-danger btn-sm">
                                                <!--th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"--> <i class="fa fa-trash" style="font-size: 15px"></i> Delete</a>
                                        </th>
                                        <th th:if="${supplierDetailShow==true}">
                                            <a th:href="${'/supplierItem/' + supplier.id}" class="btn btn-primary btn-sm"><i class="fa fa-thumbs-up" style="font-size: 15px"></i>&nbsp;Select</a>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--Error-->
                            <div class="row" th:if="${ #lists.isEmpty(suppliers)}">
                                <div class="col-sm-12">
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h3 class="text-center text-danger">
                                            <strong>There is no supplier upto now please add supplier to the system using add user button.</strong>
                                        </h3>
                                    </div>
                                </div>
                                <script>
                                    /*active boostrap alert - start*/
                                    $(".alert").alert();
                                    /*active boostrap alert - end*/
                                </script>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div><!-- content-wrapper end -->
<footer th:replace="~{fragments/footerSection :: footerSectionFragment}"></footer><!-- footer Section -->
</div><!-- wrapper end -->
<script th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></script><!-- script Fragment -->
</body>
</html>