<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}" ></head >
<body class="hold-transition sidebar-mini layout-fixed" >
<div class="wrapper" ><!-- wrapper start -->
  <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}" ></nav ><!-- navbar Section -->
  <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}" ></aside ><!-- navbar Section -->
  <div class="content-wrapper" ><!-- content-wrapper Start -->
    <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}" ></section >
                                <!-- Form Header  Path -->
    <!--action button layer---------------------------------------------------------     -->
    <div class="row m-1">
      <div class="col-12">
        <div class="text-right">
          <div text-right>
            <button type="button" class="btn btn-info btn-sm">
              <a  data-th-href="${'/otherExpence/'}" >
                <span class="info-box-icon text-white"><i class="fa fa-plus mr-1" ></i ></span >
                <span class="text-white"> View Other Expenses </span></a>
            </button>
            <button type="button" class="btn btn-success btn-sm">
              <a  data-th-href="${'/home'}" >
                <span class="info-box-icon text-white"><i class="fas fa-home mr-1" ></i ></span >
                <span class="text-white"> Home </span></a>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--form action end button---------------------------------------------------------     -->


    <div class="content-header" >
      <div class="container-fluid" >
        <div class="row" >
          <div class="col-md-12" >
                <div class="card" >
                  <div class="card-body" >
                    <h4>Fund Expences</h4>
                  <form action="/otherExpence" role="form" method="post"
                        data-th-object="${otherExpence}" >
                    <!--fundReceivingType-->
                    <div class="form-group" >
                      <label data-th-for="${fundReceivingType}" >Fund Receiving Type :</label >
                      <!--Radio button-->
                      <div class="col" >
                        <div class="custom-control custom-checkbox custom-control-inline "
                             data-th-each="otherExpenceType,index : ${otherExpenceTypes}" >
                          <input class="custom-control-input" tabindex="-1" required
                                 data-th-name="${'otherExpenseType'}"
                                 data-th-value="${otherExpenceType}"
                                 data-th-id="${index.index}+${otherExpenceType}"
                                 type="radio"
                                 data-th-checked="${otherExpenceType==otherExpenceType}" />
                          <label class="custom-control-label" tabindex="-1"
                                 data-th-for="${index.index}+${otherExpenceType}"
                                 data-th-text="${otherExpenceType.otherExpenseType}" > radio
                          </label >
                        </div >
                      </div >
                    </div >
                    <!--Amount-->
                    <div class="col" >
                      <label class="control-label" for="amount" >Amount
                                                                 :</label >

                      <input id="amount" data-th-field="*{amount}"
                             class="form-control" tabindex="18"
                             type="number"
                             required />
                      <span class="error" data-th-errors="*{amount}"
                            data-th-if="${#fields.hasErrors('amount')}"
                      >Error Amount</span >

                    </div >
                    <!--    remark-->
                    <div class="col" >
                      <label class="control-label" for="remark" >Remark
                                                                 :</label >

                      <textarea id="remark" data-th-field="*{amount}"
                                class="form-control mobile" tabindex="18" placeholder="Log No, EPF NO, Description "
                                required ></textarea >
                      <span class="error" data-th-errors="*{amount}"
                            data-th-if="${#fields.hasErrors('amount')}"
                      >Error Amount Number</span >

                    </div >
                    <div class="card-footer " >
                      <button type="submit" class="btn btn-primary float-right ml-2" tabindex="28" >
                        <i data-th-class="${addStatus==true?'fa fa-save mr-1':'fa fa-thumbs-up mr-1'}" ></i >
                        <span data-th-text="${addStatus==true?'Update' : 'Save'}" ></span >
                      </button >

                      <button type="clear" class="btn btn-primary float-right" >
                        <i data-th-class="${addStatus==true?'fa fa-save mr-1':'fa fa-thumbs-down mr-1'}" ></i >
                        <span data-th-text="${addStatus==true?'Reset' : 'Clear'}" ></span >
                      </button >
                    </div >
                  </form >


                </div >
              </div >
            </div >
          </div >
        </div >
      </div >
    </div >
  </div ><!-- content-wrapper end -->
  <div data-th-replace="~{fragments/footerSection :: footerSectionFragment}" ></div ><!-- footer Section -->
</div ><!-- wrapper end -->
<div data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}" ></div ><!-- script Fragment -->
</body >
</html >
