<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}" ></head >
<body class="hold-transition sidebar-mini layout-fixed" >
<div class="wrapper" ><!-- wrapper start -->
  <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}" ></nav ><!-- navbar Section -->
  <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}" ></aside ><!-- navbar Section -->
  <div class="content-wrapper" ><!-- content-wrapper Start -->
    <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}" ></section >
                                <!-- Form Header  Path -->
<!--    <section data-th-replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}" ></section >-->
                                <!-- Small Box Set -->
    <!--action button layer---------------------------------------------------------     -->
    <div class="row m-1">
      <div class="col-12">
        <div class="text-right">
          <div text-right>
            <button type="button" class="btn btn-info btn-sm">
              <a  data-th-href="${'/otherExpence/add'}" >
                <span class="info-box-icon text-white"><i class="fa fa-plus mr-1" ></i ></span >
                <span class="text-white"> Add Other Expenses </span></a>
            </button>
            <button type="button" class="btn btn-success btn-sm">
              <a  data-th-href="${'/home'}" >
                <span class="info-box-icon text-white"><i class="fas fa-home mr-1" ></i ></span >
                <span class="text-white"> Home </span></a>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--form action end button---------------------------------------------------------     -->


    <div class="content-header" >
<!--      <div class="container-fluid" >-->
        <div class="row" >
          <div class="col-md-12" >
                <div class="card" >
                  <div class="card-body" >
                    <h4 >	Other Expences Type</h4 >
                  <table id="myTable" class="table table-hover table-striped" >
                    <thead>
                    <tr >
                      <th >Index</th >
                      <th >Other Expenses Type</th >
                      <th >Amount</th >
                      <th >Remark</th >
                      <th >Created By</th >
                      <th >Created At</th >
                    </tr >
                    </thead >
                    <tbody >
                    <tr data-th-each="otherExpenceType, index : ${otherExpenceTypes}" >
                      <td data-th-text="${index.count}" ></td >
                      <td data-th-text="${otherExpenceType.otherExpenseType.otherExpenseType}" ></td >
                      <td data-th-text="${otherExpenceType.amount}" ></td >
                      <td data-th-text="${otherExpenceType.remark}" ></td >
                      <td data-th-text="${otherExpenceType.createdBy}" ></td >
                      <td data-th-text="${{otherExpenceType.createdAt}}" ></td >
                    </tr >
                    </tbody >
                  </table >

                </div >
              </div >
            </div >
          </div >
        </div >
      </div >
    </div >
  </div ><!-- content-wrapper end -->
  <div data-th-replace="~{fragments/footerSection :: footerSectionFragment}" ></div ><!-- footer Section -->
</div ><!-- wrapper end -->
<div data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}" ></div ><!-- script Fragment -->
</body >
</html >
