<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
   <li><a href="/additionalPayment"> /additionalPayment</a></li>
    <li><a href="/addPaymentType"> /addPaymentType</a></li>
    <li> <a href="/balance"> /balance</a></li>
    <li>  <a href="/financialYears"> /financialYears</a></li>
    <li> <a href="/paymentSection"> /paymentSection</a></li>
    <li> <a href="/paymentView"> /paymentView</a></li>
    <li><a href="/receivingExpenses"> /receivingExpenses</a></li>
    <li> <a href="/setPayment"> /setPayment</a></li>
    <li>  <a href="/feeType"> /feeType</a></li>
    <li> <a href="/testV"> /testV</a></li>
    <li> <a href="/testr"> /testr</a></li>
    <li><a href="/test"> /test</a></li>
    <li><a href="/templateOriginal"> /templateOriginal</a></li>
    <li><a href="/main"> /main</a></li>
</ul>
</body>
</html>