<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  data-th-replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<!--<head  data-th-replace="~{fragments/header :: headerFragment}"></head>-->
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
<nav  data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav>
<aside  data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside>
    <!-- SIDE END SECTION -->
    <!-- CONTENT START-->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Dashboard</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard v1</li>
                        </ol>
                    </div><!-- /.col -->
                    <!--Page header -->
                    <div class="container-fluid bg-secondary form-Border">
                        <div class="row text-center formManagement border-info">
                            <div class="col">
                                <a class="btn btn-primary" href="/home">
                                    <i class="fa fa-home" ></i> &nbsp; Home
                                </a>
                            </div>
                            <div class="col">
                                <h4 class="text-light text-center">
                                    <strong>
                                        <span id="formHeader" th:text="${addStatus==false?'New Designation':'Update Designation'}"></span>
                                    </strong>
                                </h4>
                            </div>
                            <div class="col">
                                <a href="/designation" class="btn btn-primary">
                                    <i class="fa fa-list"></i>&nbsp; View List
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--add form-->
                    <div class="container-fluid">
                        <form th:action="${addStatus==false?'/designation/save' :'/designation/update'}" method="post"
                              th:object="${designation}"
                              class="mt-3">
                            <div class="offset-3 col-6">
                                <!--/* id this comment not visualize */-->
                                <!--Id-->
                                <div class="form-group row" th:if="${addStatus==true}">
                                    <label for="id" class="col-form-label "> Id </label>
                                    <input type="text" class="form-control" th:field="*{id}" id="id" readonly>
                                </div>
                                <!--Name-->
                                <div class="form-group row">
                                    <label th:for="${'name'}" class="form-label "> Name </label>
                                    <input type="text" class="form-control" th:field="*{name}" required>
                                    <p class="text-danger" th:if="${#fields.hasErrors('name')}"
                                       th:errors="*{name}">Error Name</p>
                                </div>
                                <!--shortName-->
                                <div class="form-group row">
                                    <label th:for="${'shortName'}" class="col-form-label "> Short Name</label>

                                    <textarea class="form-control" th:field="*{shortName}" required></textarea>
                                    <p class="text-danger" th:if="${#fields.hasErrors('shortName')}"
                                       th:errors="*{shortName}">Error shortName</p>
                                </div>
                                <!--categoryType-->
                                <div class="form-group row">
                                    <label th:for="${'categoryType'}" class="form-label"> Category Type </label>

                                    <input type="text" class="form-control" th:field="*{categoryType}">
                                    <p class="text-danger" th:if="${#fields.hasErrors('categoryType')}"
                                       th:errors="*{categoryType}">Error categoryType</p>
                                </div>
                                <!--salaryScale-->
                                <div class="form-group row">
                                    <label th:for="${'salaryScale'}" class="form-label"> Salary Scale</label>

                                    <input type="text" class="form-control" th:field="*{salaryScale}">
                                    <p class="text-danger" th:if="${#fields.hasErrors('salaryScale')}"
                                       th:errors="*{salaryScale}">Error salaryScale</p>
                                </div>
                                <!--Remark-->
                                <div class="form-group row">
                                    <label th:for="${'remark'}" class="form-label "> Remark </label>
                                    <input type="text" class="form-control" th:field="*{remark}" required>
                                    <p class="text-danger" th:if="${#fields.hasErrors('remark')}"
                                       th:errors="*{remark}">Error Remark</p>
                                </div>
                                <!--priority-->
                                <div class="form-group row">
                                    <label th:for="${'priority'}" class="form-label "> Priority </label>
                                    <div class="custom-control" style="display: inline"
                                         th:each="priority, index : ${priorities}">
                                        <input type="radio" class="custom-control" required th:field="*{priority}"
                                               th:value="${priority}" th:id="${priority}+${index.index}" style="display: inline"/>
                                        <label class="" th:for="${priority}+${index.index}"
                                               th:text="${priority.priority}" style="display: inline"> radio
                                        </label>
                                    </div>

                                    <!--  <input type="test" class="form-control" th:field="*{priority}" required>-->
                                    <p class="text-danger" th:if="${#fields.hasErrors('priority')}"
                                       th:errors="*{priority}">Error Priority</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-sm-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary">
                                        <i th:class="${addStatus==false?'fa fa-save mr-1':'fa fa-thumbs-up mr-1'}"></i> <span
                                            th:text="${addStatus==false?'Save' : 'Update'}"></span>
                                    </button>
                                </div>
                            </div>


                        </form>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->

        <div  data-th-replace="~{fragments/section :: sectionSectionFragment}"></div>
        <!-- /.content -->
    </div>
    <!-- CONTENT END SECTION-->
    <!--FOOTER SECTION-->
    <!-- /.content-wrapper -->
    <footer  data-th-replace="~{fragments/footerSection :: footerSectionFragment}"></footer>
    <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
        <i class="fas fa-chevron-up"></i>
    </a>

</div>
    <script  data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}"></script>
</body>
</html>
