
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <!--Full Name-->
                            <div class="form-group">
                                <label class="control-label" >Full Name</label>
                                <input type="text" class="form-control" id="email" placeholder="Full Name Here" tabindex="1">
                                <p class="help-block"> 	</p>

                            </div>
                            <!--Name with Initials-->
                            <div class="form-group">
                                <label class="control-label">Name with Initials</label>
                                <input type="text" class="form-control" placeholder="Name with Initials">
                                <p class="help-block"> 	</p>

                            </div>
                            <!--Gender -->
                            <div class="form-group">
                                <label class="control-label">Gender</label>

                                <select class="form-control m-bot15">
                                    <option>Male</option>
                                    <option>Femail</option>
                                    <option>Other</option>
                                </select>
                                <p class="help-block"> 	</p>
                            </div>
                            <!--  Title-->
                            <div class="form-group">
                                <label class="control-label">Title</label>
                                <select class="form-control m-bot15">
                                    <option>Mr </option>
                                    <option>Ms </option>
                                    <option>Miss </option>
                                    <option>Maj </option>
                                    <option>Hon </option>
                                    <option>Wen </option>
                                </select>
                                <p class="help-block"> 	</p>


                            </div>
                            <!--NIC / -->
                            <div class="form-group">
                                <label class="control-label">NIC No</label>

                                <input type="text" class="form-control"  placeholder="NIC No">
                                <p class="help-block"> 	</p>
                            </div>
                            <!-- Civil Status-->
                            <div class="form-group">
                                <label class="control-label">Civil Status</label>
                                <input type="text" class="form-control"  placeholder="Civil Status">
                                <p class="help-block"> 	</p>
                            </div>
                            <!--DOB / Nationality-->
                            <div class="form-group">
                                <label class="control-label">Date of Birth</label>

                                <input type="text" value="22-09-1985" class="form-control">
                            </div>
                            <!-- Nationality-->
                            <div class="form-group">
                                <label class="control-label">Nationality</label>
                                <select class="form-control m-bot15">
                                    <option>Sri Lankan </option>
                                    <option>Other </option>
                                </select>

                            </div>
                            <!--Blood Group / Religion-->
                            <div class="form-group">
                                <label class="control-label">Blood Group</label>

                                <select class="form-control m-bot15">
                                    <option>A + </option>
                                    <option>A - </option>
                                    <option>B +</option>
                                    <option>B -</option>
                                    <option>AB +</option>
                                    <option>AB -</option>
                                    <option>O +</option>
                                    <option>O -</option>
                                </select>
                                <p class="help-block"> 	</p>
                            </div>
                            <!-- Religion-->
                            <div class="form-group">
                                <label class="control-label">Religion</label>

                                <select class="form-control m-bot15">
                                    <option>Buddhist </option>
                                    <option>Catholic </option>
                                    <option>Cristian </option>
                                    <option>Muslim </option>
                                    <option>Burger </option>
                                    <option>Other </option>
                                </select>
                                <p class="help-block"> 	</p>
                            </div>
                            <!--District /Election Division-->
                            <div class="form-group">
                                <label class="control-label">District</label>
                                <select class="form-control m-bot15">
                                    <option>Colombo</option>
                                    <option>Gampaha </option>
                                    <option>Kaluthara</option>
                                    <option>Matara</option>
                                    <option>Hambanthota</option>
                                    <option>Ampara</option>
                                    <option>Negambo</option>
                                    <option>Anuradapura</option>
                                </select>
                                <p class="help-block"> 	</p>
                            </div>
                            <!--Election Division-->
                            <div class="form-group">
                                <label class="control-label">Election Division</label>

                                <select class="form-control m-bot15">
                                    <option>Buddhist </option>

                                </select>
                                <p class="help-block"> 	</p>
                            </div>
                            <!--Nearest Town -->
                            <div class="form-group">
                                <label class="control-label">Nearest Town</label>

                                <select class="form-control m-bot15">
                                    <option>Colombo </option>
                                    <option>Gampaha</option>
                                    <option>Kaluthara</option>
                                </select>
                                <p class="help-block"> 	</p>
                            </div>
                            <!--Nearest Police station-->
                            <div class="form-group">
                                <label class="control-label">Nearest Police station</label>

                                <select class="form-control m-bot15">
                                    <option>Colombo </option>
                                    <option>Gampaha</option>
                                    <option>Kaluthara</option>
                                </select>
                                <p class="help-block"> 	</p>


                            </div>
                            <!--P Address-->
                            <div class="form-group">
                                <label class="control-label">Permeant Address</label>

                                <input type="text" class="form-control" placeholder="Permeant Address">
                                <p class="help-block"> 	</p>

                            </div>
                            <!--T Address-->
                            <div class="form-group">
                                <label class="control-label">Temporary Address</label>
                                <input type="text" class="form-control" placeholder="Temporary Address">
                                <p class="help-block"> 	</p>

                            </div>
                            <!--Mobile No I/II -->
                            <div class="form-group">
                                <label class="control-label">Mobile No I</label>

                                <input type="text" class="form-control" placeholder="Mobile No I">
                                <p class="help-block"> 	</p>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Mobile No II</label>

                                <input type="text" class="form-control" placeholder="Mobile No II">
                                <p class="help-block"> 	</p>


                            </div>
                            <!--Residence & Office No-->
                            <div class="form-group">
                                <label class="control-label">Residence No</label>

                                <input type="text" class="form-control"  placeholder="Residence No">
                                <p class="help-block"> 	</p>
                            </div>
                            <!--Office No-->
                            <div class="form-group">
                                <label class="control-label">Office No</label>

                                <input type="text" class="form-control"  placeholder="Office No">
                                <p class="help-block"> 	</p>


                            </div>
                            <!--Emege No -->
                            <div class="form-group">
                                <label class="control-label">Emergency Contact No </label>

                                <input type="text" class="form-control"  placeholder="Emergency Contact No ">
                                <p class="help-block"> 	</p>
                            </div>
                            <!-- Email-->
                            <div class="form-group">
                                <label class="control-label">Email</label>

                                <input type="text" class="form-control"  placeholder="Email">
                                <p class="help-block"> 	</p>


                            </div>
                            <!--Photo Upload-->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Upload Image</label>
                                <div class="input-group">
                                    Browse… <input type="file" id="imgInp">

                                </div>
                                <img id='img-upload'/>
                            </div>
                            <!--EPF No -->
                            <div class="form-group">
                                <label class="control-label">EPF No</label>

                                <input type="text" class="form-control"  placeholder="EPF No Here">
                                <p class="help-block"> 	</p>

                            </div>
                            <!--Medicle No-->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Medicle No</label>

                                <input type="text" class="form-control"  placeholder="Medicle No Here">
                                <p class="help-block"> 	</p>



                            </div>
                            <!--Location / Section-->
                            <div class="form-group">
                                <label class="control-label">Working Location</label>

                                <select class="form-control m-bot15">
                                    <option>BIA</option>
                                    <option>MRIA</option>
                                    <option>JIA</option>
                                    <option>RMA</option>
                                    <option>BDA</option>
                                    <option>CATC</option>
                                    <option>Other</option>
                                </select>
                                <p class="help-block"> 	</p>
                            </div>
                            <!--Section-->
                            <div class="form-group">
                                <label class="control-label">Working Section</label>

                                <select class="form-control m-bot15">
                                    <option>A Group </option>
                                    <option>B Group </option>
                                    <option>C Group </option>
                                    <option>D Group </option>
                                    <option>Admin </option>
                                    <option>Other </option>
                                </select>
                                <p class="help-block"> 	</p>


                            </div>



                        </div>
                    </div>
                </div>
                <!-- Right Side-->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <!--Designation -->
                            <div class="form-group">
                                <label class="control-label">Designation</label>

                                <select class="form-control m-bot15">
                                    <option>Sentryman</option>
                                    <option>Patrolman</option>
                                    <option>Snr. Patrolman</option>
                                    <option>Patrol Leader</option>
                                </select>
                                <p class="help-block"> 	</p>
                            </div>
                            <!--Position-->
                            <div class="form-group">
                                <label class="control-label">Position</label>

                                <select class="form-control m-bot15">
                                    <option>Group Marshal </option>
                                    <option>Group DSM </option>
                                    <option>Welfare Officer </option>
                                    <option>Access Permit - OIC </option>
                                    <option>Investigation - OIC </option>
                                    <option>Group Admin </option>
                                </select>
                                <p class="help-block"> 	</p>


                            </div>
                            <!--Uniform Type-->
                            <div class="form-group">
                                <label class="control-label">Appoiment Date</label>

                                <input id="dp1" type="text" value="22-09-1985" size="16" class="form-control">
                            </div>
                            <!-- Uniform Type-->
                            <div class="form-group">
                                <label class="control-label">Uniform Type</label>

                                <select class="form-control m-bot15">
                                    <option>Normal Unifrom (PM) </option>
                                    <option>Seramonial (SO) </option>
                                    <option>Dark Blue (PKS) </option>
                                    <option>Whight and Blue (OSA) </option>
                                    <option>Casual (None) </option>
                                </select>

                            </div>
                            <!--Status / Religion-->
                            <div class="form-group">
                                <label class="control-label">Employee Status</label>

                                <select class="form-control m-bot15">
                                    <option>Active </option>
                                    <option>Dismiss </option>
                                    <option>No-Pay</option>
                                    <option>Retire</option>

                                </select>
                                <p class="help-block"> 	</p>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Intake No</label>

                                <input type="text" class="form-control"  placeholder="Intake No">
                                <p class="help-block"> 	</p>


                            </div>

                        </div></div>
                    <div class="card">
                        <div class="card-body">

                            <h4>Certificate /Course Details</h4>
                            <!--Certificate/Course -->
                            <div class="form-group">
                                <label class="control-label">Certificate or Course Name</label>

                                <input type="text" class="form-control" placeholder="Certificate or Course Name">
                                <p class="help-block"> 	</p>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Institute Name</label>

                                <input type="text" class="form-control"  placeholder="Institute Name">
                                <p class="help-block"> 	</p>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Gread/Leval</label>

                                <input type="text" class="form-control"  placeholder="Gread/Leval">
                                <p class="help-block"> 	</p>

                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-primary btn-sm ">Add Details</button>

                                </div>
                            </div>

                            <table class="table table-striped table-advance table-hover table-dark">
                                <tbody>
                                <tr>
                                    <th><i class="icon_profile"></i> Name</th>
                                    <th><i class="icon_calendar"></i> Relationshipe</th>
                                    <th><i class="icon_mail_alt"></i> Date of Birth</th>
                                    <th><i class="icon_cogs"></i> Action</th>
                                </tr>
                                <tr>
                                    <td>Angeline Mcclain</td>
                                    <td>2004-07-06</td>
                                    <td>dale@chief.info</td>

                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sung Carlson</td>
                                    <td>2011-01-10</td>
                                    <td>ione.gisela@high.org</td>


                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                        </div>
                                    </td>
                                </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4>Dependence Details</h4>
                            <!--Dependence Details -->
                            <div class="form-group">
                                <label class="control-label">Name</label>

                                <input type="text" class="form-control"  placeholder="Name">
                                <p class="help-block"> 	</p>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Relationship</label>

                                <input type="text" class="form-control"  placeholder="Relationshipe">
                                <p class="help-block"> 	</p>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Date of Birth</label>

                                <input type="text" class="form-control"  placeholder="Date of Birth">
                                <p class="help-block"> 	</p>

                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-primary btn-sm ">Add Details</button>

                                </div></div>

                            <table class="table table-striped table-advance table-hover table-dark">
                                <tbody>
                                <tr>
                                    <th><i class="icon_profile"></i> Name</th>
                                    <th><i class="icon_calendar"></i> Relationshipe</th>
                                    <th><i class="icon_mail_alt"></i> Date of Birth</th>
                                    <th><i class="icon_cogs"></i> Action</th>
                                </tr>
                                <tr>
                                    <td>Angeline Mcclain</td>
                                    <td>2004-07-06</td>
                                    <td>dale@chief.info</td>

                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sung Carlson</td>
                                    <td>2011-01-10</td>
                                    <td>ione.gisela@high.org</td>


                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                        </div>
                                    </td>
                                </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4>Promotion Details</h4>
                            <div class="form-group">
                                <label class="control-label">Promotion Name</label>
                                <input type="text" class="form-control"  placeholder="Certificate or Course Name">
                                <p class="help-block"> 	</p>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Date of effective</label>

                                <input type="text" class="form-control"  placeholder="Gread/Leval">
                                <p class="help-block"> 	</p>

                            </div>
                            <div class="form-group">

                                <button type="button" class="btn btn-primary btn-sm ">Add Details</button>

                            </div>
                            <table class="table table-striped table-advance table-hover table-dark">
                                <tbody>
                                <tr>
                                    <th><i class="icon_profile"></i> Promotion Name</th>
                                    <th><i class="icon_mail_alt"></i> Date of effective</th>
                                    <th><i class="icon_cogs"></i> Action</th>
                                </tr>
                                <tr>
                                    <td>Angeline Mcclain</td>
                                    <td>2004-07-06</td>


                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sung Carlson</td>
                                    <td>2011-01-10</td>



                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Bryon Osborne</td>
                                    <td>2006-10-29</td>



                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                        </div>
                                    </td>
                                </tr>


                                </tbody>
                            </table>


                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body"></div>
                    </div>
                </div>
