<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}" ></section >
        <!-- /.content-header -->
        <!--form action button---------------------------------------------------------     -->
        <div class="row m-1">
            <div class="col-12">
                <div class="text-right">
                    <div text-right>
                        <button type="button" class="btn btn-info btn-sm">
                            <a  data-th-href="${'/emailMessage/add'}" >
                                <span class="info-box-icon text-white"><i class="fa fa-plus mr-1" ></i ></span >
                                <span class="text-white"> Add Email Message </span></a>
                        </button>
                        <button type="button" class="btn btn-success btn-sm disabled">
                            <a  data-th-href="${'/emailMessage'}" >
                                <span class="info-box-icon text-white"><i class="fas fa-folder-open mr-1" ></i ></span >
                                <span class="text-white"> View Email Message </span></a>
                        </button>
                        <button type="button" class="btn btn-warning btn-sm" onclick="myEdit()">
                            <!--                            <a  data-th-href="${'/designation/edit/'}" >-->
                            <span class="info-box-icon text-white"><i class="fas fa-edit" ></i ></span >
                            <span class="text-white"> Edit Email Message </span></a>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" onclick="myDelete()">
                            <!--                            <a  data-th-href="${'/designation/remove/'}" >-->
                            <span class="info-box-icon text-white"><i class="fas fa-trash mr-1" ></i ></span >
                            <span class="text-white"> Delete Email Message </span></a>

                        </button>
                    </div>
                </div>
            </div>

        </div>
        <!--form action end button---------------------------------------------------------     -->
 <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4>Secondary Header </h4>
                                    <div class="container-fluid bg-dark formBorder">
                                        <div class="col-sm-12 flex-column ">
                                            <div class="row" th:if="${not #lists.isEmpty(emailMessages)}" id="emailMessageListTable">
                                                <table class="table table-hover table-striped" id="myTable">
                                                    <thead class="thead-inverse">
                                                    <tr>
                                                        <th>Index</th>
                                                        <th>Subject</th>
                                                        <th>Send By</th>
                                                        <th>Send Date</th>
                                                        <th class="text-center">Modify</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="emailMessage, rowCount : ${emailMessages}" scope="row">
                                                        <th th:text="${rowCount.count}"></th>
                                                        <th th:text="${emailMessage.subject}"></th>
                                                        <th th:text="${emailMessage.createdBy}"></th>
                                                        <th th:text="${#temporals.format(emailMessage.createdAt, 'dd-MM-yyyy HH:mm')}"></th>
                                                        <th><a class="btn btn-success btn-sm" th:href="${'/emailMessage/' + emailMessage.id}"><i
                                                                class="fa fa-folder-open"></i>&nbsp;View</a>
                                                        </th>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="row" id="emailMessagesNotList" th:if="${ #lists.isEmpty(emailMessages)}">
                                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <h3 class="text-center text-danger">
                                                        <strong>There is no user upto now please add user to the system
                                                            using add user button.
                                                        </strong>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div></div>
</div><!-- content-wrapper end -->
<div th:replace="~{fragments/footerSection :: footerSectionFragment}"></div><!-- footer Section -->
</div><!-- wrapper end -->
<div th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></div><!-- script Fragment -->
</body>
</html>