<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}" ></head >
<body class="hold-transition sidebar-mini layout-fixed" >
<div class="wrapper" ><!-- wrapper start -->
  <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}" ></nav ><!-- navbar Section -->
  <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}" ></aside ><!-- navbar Section -->
  <div class="content-wrapper" ><!-- content-wrapper Start -->
    <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}" ></section >
                                <!-- content-header Start -->
                                <!--action button layer---------------------------------------------------------     -->
    <div class="row m-1" >
      <div class="col-12" >
        <div class="text-right" >
          <div text-right >
            <button type="button" class="btn btn-info btn-sm" >
              <a data-th-href="${'/grievances'}" >
                <span class="info-box-icon text-white" ><i class="fa fa-plus mr-1" ></i ></span >
                <span class="text-white" > View Grievances </span ></a >
            </button >

          </div >
        </div >
      </div >
    </div >
                                <!--form action end button---------------------------------------------------------     -->


    <div class="content-header" >
      <div class="container-fluid" >
        <div class="row" >
          <div class="col-md-12" >
            <div class="row" >
              <div class="col-md-12" >
                <div class="card" >
                  <div class="card-body" >
                    <h4 ><span id="formHeader"
                               th:text="${addStatus==false?'New Grievances':'Update Grievances'}" ></span >
                      Form </h4 ></div >
                  <!--if not empty list-->
                  <div class="card-body" >
                    <form th:action="${addStatus==false?'/grievances/save' :'/grievances/update'}"
                          method="post"
                          th:object="${grievances}" >

                      <!--/* id this comment not visualize */-->
                      <!--Id-->
                      <div class="form-group" th:if="${addStatus==true}" >
                        <label for="id" class="form-label " > Id </label >
                        <input type="text" class="form-control" th:field="*{id}" id="id"
                               readonly >
                        <input class="form-control" th:field="*{liveDead}" type="hidden" readonly />
                      </div >
                      <!--Description-->
                      <div class="form-group" >
                        <label th:for="${'description'}" class="form-label" > Description</label >

                        <textarea class="form-control" th:field="*{description}" required
                                  th:readonly="${actionDetail}" ></textarea >
                        <p class="text-danger" th:if="${#fields.hasErrors('description')}"
                           th:errors="*{description}" >Error description</p >

                      </div >
                      <div class="form-group" th:if="${actionDetail}" >
                        <!--Remark already-->
                        <div class="form-group"
                             th:if="${not #lists.isEmpty(grievances.grievanceStateChange)}" >
                          <label > Previous Comment For this </label >
                          <ol class="list-group" >
                            <li class="list-group-item"
                                th:each="grievanceStateChange : ${grievances.grievanceStateChange}" >
                                                            <span th:text="${grievanceStateChange.remark}"
                                                                  class="mr-2" ></span > <small
                                  class="text-muted ml-2" >Commented By:</small >
                              <small
                                    class="ml-2"
                                    th:text="${grievanceStateChange.commentedBy}" > </small >
                            </li >
                          </ol >
                        </div >
                        <!--Remark new-->
                        <div class="form-group" >
                          <label th:for="${'remark'}" class="form-label " > Remark </label >
                          <textarea type="text" class="form-control" th:field="*{remark}"
                                    required ></textarea >
                        </div >
                        <!--priority-->
                        <div class="form-group" >
                          <label th:for="${'priority'}" class="form-label " > Priority </label >
                          <div class="custom-control" style="display: inline"
                               th:each="priority, index : ${priorities}" >
                            <input type="radio" class="custom-control" required
                                   th:name="${'priority'}"
                                   th:value="${priority}" th:id="${priority}+${index.index}"
                                   style="display: inline" />
                            <label class="" th:for="${priority}+${index.index}"
                                   th:text="${priority.priority}" style="display: inline" >
                              radio
                            </label >
                          </div >
                          <p class="text-danger" th:if="${#fields.hasErrors('priority')}"
                             th:errors="*{priority}" >Error Priority</p >
                        </div >
                        <!--grievancesStatus-->
                        <div class="form-group" >
                          <label class="control-label" th:for="${'grievancesStatus'}" >Grievances Status
                                                                                       :</label >
                          <div class="custom-control" style="display: inline"
                               th:each="grievancesStatus, index : ${grievancesStatuses}" >
                            <input type="radio" class="custom-control" required
                                   th:name="${'grievancesStatus'}"
                                   th:value="${grievancesStatus}" th:id="${grievancesStatus}+${index.index}"
                                   style="display: inline" />
                            <label class="" th:for="${grievancesStatus}+${index.index}"
                                   th:text="${grievancesStatus.grievancesStatus}" style="display: inline" >
                              radio
                            </label >
                          </div >
                        </div >
                        <!--solutionType-->
                        <div class="form-group" >
                          <label class="control-label" th:for="${'solutionType'}" >Final Decision to this grievance
                                                                                   :</label >
                          <div class="custom-control" style="display: inline"
                               th:each="solutionType, index : ${solutionTypes}" >
                            <input type="radio" class="custom-control" required
                                   th:name="${'solutionType'}"
                                   th:value="${solutionType}" th:id="${solutionType}+${index.index}"
                                   style="display: inline" />
                            <label class="" th:for="${solutionType}+${index.index}"
                                   th:text="${solutionType.solutionType}" style="display: inline" >
                              radio
                            </label >
                          </div >
                        </div >
                      </div >
                      <div class="form-group" >
                        <button type="submit" class="btn btn-primary" >
                          <i th:class="${addStatus==false?'fa fa-save mr-1':'fa fa-thumbs-up mr-1'}" ></i >
                          <span
                                th:text="${addStatus==false?'Save' : 'Update'}" ></span >
                        </button >
                      </div >
                    </form >
                  </div >
                  <div class="modal fade" id="modalScrollableBody" tabindex="-1" role="dialog"
                       aria-labelledby="modalScrollableBodyTitle" aria-hidden="true" >
                    <div class="modal-dialog modal-dialog-scrollable" role="document" >
                      <div class="modal-content" >
                        <div class="modal-header" >
                          <h5 class="modal-title" id="modalScrollableBodyTitle" >Grievances
                                                                                 Circular</h5 >
                          <button type="button" class="close" data-dismiss="modal"
                                  aria-label="Close" >
                            <span aria-hidden="true" >×</span >
                          </button >
                        </div >
                        <div class="modal-body" >
                          <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                              feugiat, urna ut pharetra ultricies, augue
                              tellus euismod turpis, vitae semper ipsum augue a velit.
                              Pellentesque id finibus velit. Ut sagittis maximus maximus. In
                              aliquet enim sed turpis mollis ornare. Suspendisse elementum a
                              magna eu luctus. Etiam tincidunt mattis mauris, non
                              lobortis nulla tempor in. Sed lacinia metus viverra, scelerisque
                              enim sed, sollicitudin magna. Sed non augue sit amet
                              nisl tincidunt ultrices. Praesent nec lacus eget tortor
                              ultricies pulvinar. Praesent euismod ut lorem sit amet
                              bibendum.</p >
                          <p >Pellentesque vitae convallis magna. Morbi non elementum mi.
                              Suspendisse at mollis arcu, eu tempus tellus.
                              Aenean fringilla eleifend nisl. Aliquam erat volutpat. Sed a
                              tortor quis tortor convallis mattis. Nunc congue massa
                              vitae lectus dictum, a mattis metus dignissim.</p >
                          <p >Nulla feugiat, lorem sit amet vehicula hendrerit, velit eros
                              pellentesque est, at dictum elit risus id diam. In
                              ante lorem, blandit vel dui in, sagittis laoreet erat. Proin
                              dictum sit amet urna ut placerat. Pellentesque laoreet,
                              dolor vitae facilisis feugiat, quam quam gravida elit, nec
                              sagittis orci metus at leo. In scelerisque felis vel neque
                              lobortis ullamcorper. Praesent quis sagittis neque, nec eleifend
                              neque. Suspendisse at consectetur eros. Mauris lectus
                              libero, molestie vel dapibus sit amet, luctus gravida ante.
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                              libero neque, pretium quis malesuada eget, congue ac mauris.</p >
                          <p >Aenean quis tristique libero. Vestibulum sagittis, sapien gravida
                              lobortis posuere, diam arcu auctor libero, at
                              tempor mauris nulla vel odio. Phasellus semper eros rutrum mi
                              scelerisque interdum. Maecenas euismod est sit amet justo
                              vestibulum bibendum. Etiam scelerisque sodales nisi nec
                              efficitur. Pellentesque arcu mauris, accumsan eget mollis at,
                              ultrices id ante. Duis in mi eget nisi euismod gravida. Cras
                              pharetra sollicitudin elit, vel eleifend felis dignissim
                              non. Integer leo ex, feugiat eu lorem egestas, mollis suscipit
                              nulla. Duis quis tellus nulla. Maecenas risus ipsum,
                              fringilla at orci sit amet, mattis fringilla orci. Vivamus odio
                              tellus, ornare eu leo id, pellentesque sodales
                              ante.</p >
                          <p >Sed laoreet ut ligula eget fringilla. Suspendisse dapibus dui at
                              ex dictum hendrerit. Vestibulum ante ipsum
                              primis in faucibus orci luctus et ultrices posuere cubilia
                              Curae; Morbi efficitur ac purus eget dignissim. Aliquam
                              ultrices, orci finibus sollicitudin tempus, elit metus
                              scelerisque magna, a rhoncus justo nisl vitae lectus. Nam mollis
                              sed est ut ullamcorper. Curabitur consequat feugiat erat quis
                              molestie. Fusce suscipit sem et nulla dignissim, id
                              malesuada felis laoreet. Cras leo ligula, vulputate id mi ac,
                              gravida porta sem. Mauris ullamcorper lectus ac eleifend
                              elementum. Ut id velit consequat, facilisis leo vitae, volutpat
                              nisi. Nunc hendrerit libero mi. Integer scelerisque
                              mattis neque placerat condimentum. Pellentesque habitant morbi
                              tristique senectus et netus et malesuada fames ac turpis
                              egestas. Nulla eu odio mi. Duis interdum vulputate turpis
                              pretium congue.</p >
                        </div >
                        <div class="modal-footer" >
                          <button type="button" class="btn btn-secondary"
                                  data-dismiss="modal" >Close
                          </button >
                        </div >
                      </div >
                    </div >
                  </div >
                </div >
              </div >
            </div >
          </div >
        </div >
      </div >
    </div >
  </div ><!-- content-wrapper end -->
  <div data-th-replace="~{fragments/footerSection :: footerSectionFragment}" ></div ><!-- footer Section -->
</div ><!-- wrapper end -->
<div data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}" ></div ><!-- script Fragment -->
</body >
</html >
