<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}" ></head >
<body class="hold-transition sidebar-mini layout-fixed" >
<div class="wrapper" ><!-- wrapper start -->
  <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}" ></nav ><!-- navbar Section -->
  <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}" ></aside ><!-- navbar Section -->
  <div class="content-wrapper" ><!-- content-wrapper Start -->
    <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}" ></section >
                                <!-- content-header Start -->
                                <!--action button layer---------------------------------------------------------     -->
    <div class="row m-1" >
      <div class="col-12" >
        <div class="text-right" >
          <div text-right >
            <button type="button" class="btn btn-info btn-sm" >
              <a data-th-href="${'/grievances'}" >
                <span class="info-box-icon text-white" ><i class="fa fa-plus mr-1" ></i ></span >
                <span class="text-white" > View Grievances </span ></a >
            </button >

          </div >
        </div >
      </div >
    </div >
                                <!--form action end button---------------------------------------------------------     -->


    <div class="content-header" >
      <div class="container-fluid" >
        <div class="row" >
          <div class="col-md-12" >
            <div class="row" >

              <div class="col-md-12" >
                <div class="card" >
                  <div class="card-body" >
                    <h4 >Grievances Management </h4 ></div >
                  <!--if not empty list-->
                  <div class="card-body" th:fragment="grievancesDetail" >
                    <!--/* id this comment not visualize */-->
                    <!--Id-->
                    <div class="form-group row" >
                      <label class="col-sm-2 col-form-label " > Id </label >
                      <div class="col-sm-10" >
                        <p class="display_detail" th:text="${grievancesDetail.id}" ></p >
                      </div >
                    </div >
                    <div class="form-group row" >
                      <label class="col-sm-2 col-form-label " > Name </label >
                      <div class="col-sm-10" >
                        <p class="display_detail" th:text="${grievancesDetail.description}" ></p >
                      </div >
                    </div >
                    <div class="form-group row" >
                      <label class="col-sm-2 col-form-label " > Employee Details  </label >
                      <div class="col-sm-10" >
                          <section data-th-replace="~{employee/employee-detail :: employeeDetailsFragment}" ></section >
                      </div >
                    </div >
                  </div >
                </div >
              </div >
            </div >
          </div >
        </div >
      </div >
    </div >
  </div ><!-- content-wrapper end -->
  <div data-th-replace="~{fragments/footerSection :: footerSectionFragment}" ></div ><!-- footer Section -->
</div ><!-- wrapper end -->
<div data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}" ></div ><!-- script Fragment -->
</body >
</html >
