<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section th:replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        <!-- Form Header  Path -->
        <section th:replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section><!-- Small Box Set -->


        <div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card"><div class="card-body">
                            <h4>Grievances</h4>
                            <form role="form">
                                <div class="form-group">
                                    <a class="btn btn-success" id="newGrievances" style="width:100%" th:href="${'/grievance/add'}">
                                        <i class="fa fa-grievance-plus" style="font-size: 18px;"></i> &nbsp; Add Grievances </a>
                                </div>
                                <div class="form-group">
                                    <a class="btn btn-warning" id="newGrievances" style="width:100%" th:href="${'/grievance/add'}">
                                        <i class="fa fa-grievance-plus" style="font-size: 18px;"></i> &nbsp; Edit Grievances </a>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" style="width:100%";data-toggle="modal" data-target="#modalScrollableBody">
                                        <i class="fa fa-grievance-plus" style="font-size: 18px;"></i>  Read Circular</button>
                                </div>

                            </form>
                        </div></div>
                    </div>
                    <div class="col-md-9">
                        <div class="card"><div class="card-body">
                            <h4>Financial Years List </h4></div>
                            <!--if not empty list-->
                            <div class="card-body" th:fragment="grievancesDetail">
                                <!--/* id this comment not visualize */-->
                                <!--Id-->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label "> Id </label>
                                    <div class="col-sm-10">
                                        <p class="display_detail" th:text="${grievancesDetail.id}"></p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label "> Name </label>
                                    <div class="col-sm-10">
                                        <p class="display_detail" th:text="${grievancesDetail.name}"></p>
                                    </div>
                                </div>
                            </div>
                            <!-- model Body  -->
                            <div class="modal fade" id="modalScrollableBody" tabindex="-1" role="dialog"
                                 aria-labelledby="modalScrollableBodyTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalScrollableBodyTitle">Grievances Circular</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas feugiat, urna ut pharetra ultricies, augue
                                                tellus euismod turpis, vitae semper ipsum augue a velit. Pellentesque id finibus velit. Ut sagittis maximus maximus. In
                                                aliquet enim sed turpis mollis ornare. Suspendisse elementum a magna eu luctus. Etiam tincidunt mattis mauris, non
                                                lobortis nulla tempor in. Sed lacinia metus viverra, scelerisque enim sed, sollicitudin magna. Sed non augue sit amet
                                                nisl tincidunt ultrices. Praesent nec lacus eget tortor ultricies pulvinar. Praesent euismod ut lorem sit amet
                                                bibendum.</p>
                                            <p>Pellentesque vitae convallis magna. Morbi non elementum mi. Suspendisse at mollis arcu, eu tempus tellus.
                                                Aenean fringilla eleifend nisl. Aliquam erat volutpat. Sed a tortor quis tortor convallis mattis. Nunc congue massa
                                                vitae lectus dictum, a mattis metus dignissim.</p>
                                            <p>Nulla feugiat, lorem sit amet vehicula hendrerit, velit eros pellentesque est, at dictum elit risus id diam. In
                                                ante lorem, blandit vel dui in, sagittis laoreet erat. Proin dictum sit amet urna ut placerat. Pellentesque laoreet,
                                                dolor vitae facilisis feugiat, quam quam gravida elit, nec sagittis orci metus at leo. In scelerisque felis vel neque
                                                lobortis ullamcorper. Praesent quis sagittis neque, nec eleifend neque. Suspendisse at consectetur eros. Mauris lectus
                                                libero, molestie vel dapibus sit amet, luctus gravida ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                                                libero neque, pretium quis malesuada eget, congue ac mauris.</p>
                                            <p>Aenean quis tristique libero. Vestibulum sagittis, sapien gravida lobortis posuere, diam arcu auctor libero, at
                                                tempor mauris nulla vel odio. Phasellus semper eros rutrum mi scelerisque interdum. Maecenas euismod est sit amet justo
                                                vestibulum bibendum. Etiam scelerisque sodales nisi nec efficitur. Pellentesque arcu mauris, accumsan eget mollis at,
                                                ultrices id ante. Duis in mi eget nisi euismod gravida. Cras pharetra sollicitudin elit, vel eleifend felis dignissim
                                                non. Integer leo ex, feugiat eu lorem egestas, mollis suscipit nulla. Duis quis tellus nulla. Maecenas risus ipsum,
                                                fringilla at orci sit amet, mattis fringilla orci. Vivamus odio tellus, ornare eu leo id, pellentesque sodales
                                                ante.</p>
                                            <p>Sed laoreet ut ligula eget fringilla. Suspendisse dapibus dui at ex dictum hendrerit. Vestibulum ante ipsum
                                                primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi efficitur ac purus eget dignissim. Aliquam
                                                ultrices, orci finibus sollicitudin tempus, elit metus scelerisque magna, a rhoncus justo nisl vitae lectus. Nam mollis
                                                sed est ut ullamcorper. Curabitur consequat feugiat erat quis molestie. Fusce suscipit sem et nulla dignissim, id
                                                malesuada felis laoreet. Cras leo ligula, vulputate id mi ac, gravida porta sem. Mauris ullamcorper lectus ac eleifend
                                                elementum. Ut id velit consequat, facilisis leo vitae, volutpat nisi. Nunc hendrerit libero mi. Integer scelerisque
                                                mattis neque placerat condimentum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                                                egestas. Nulla eu odio mi. Duis interdum vulputate turpis pretium congue.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div><!-- content-wrapper end -->
<footer th:replace="~{fragments/footerSection :: footerSectionFragment}"></footer><!-- footer Section -->
</div><!-- wrapper end -->
<script th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></script><!-- script Fragment -->
</body>
</html>