<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}" ></head >
<body class="hold-transition sidebar-mini layout-fixed" >
<div class="wrapper" ><!-- wrapper start -->
    <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}" ></nav ><!-- navbar Section -->
    <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}" ></aside ><!-- navbar Section -->
    <div class="content-wrapper" ><!-- content-wrapper Start -->
        <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}" ></section ><!-- content-header Start -->
        <!--action button layer---------------------------------------------------------     -->
        <div class="row m-1">
            <div class="col-12">
                <div class="text-right">
                    <div text-right>
                        <button type="button" class="btn btn-info btn-sm">
                            <a  data-th-href="${'/dependent'}" >
                                <span class="info-box-icon text-white"><i class="fa fa-plus mr-1" ></i ></span >
                                <span class="text-white"> View Dependent </span></a>
                        </button>

                    </div>
                </div>
            </div>
        </div>
        <!--form action end button---------------------------------------------------------     -->

        <!--form action end button---------------------------------------------------------     -->
    <div class="content-header" >
      <div class="container-fluid" >
        <div class="row" >
          <div class="col-md-12" >
            <div class="row" >

              <div class="col-md-6" >
                <div class="card" >
                  <div class="card-body" th:fragment="dependentDetail" >
                      <div class="card-header" >
 <h3 ><span id="formHeader" th:text="${addStatus==false?'Dependent Details':'Dependent Details'}" ></span ></h3 >
                      </div>
                    <!--/* id this comment not visualize */-->
                    <!--Id-->
                    <table class="table">
                      <tbody>
                      <tr>
                          <th>
                      <label class="form-label " > Id </label ></th>
                      <td><p class="display_detail" th:text="${dependentDetail.id}" ></p >
                      </td> </tr>

                      <tr><th>
                        <label class="form-label " > Name </label ></th>
                      <td><p class="display_detail" th:text="${dependentDetail.name}" ></p >
                      </td> </tr>
                      <tr><th>
                        <label class="form-label " > Birth date </label ></th>
                     <td> <p class="display_detail" th:text="${dependentDetail.dob}" ></p >
                      </td> </tr>
                      <tr><th>
                        <label class="form-label " > Nic </label ></th>
                      <td><p class="display_detail" th:text="${dependentDetail.nic}" ></p >
                      </td> </tr>
                      <tr><th>
                        <label class="form-label " > Remark </label ></th>
                      <td></td><p class="display_detail" th:text="${dependentDetail.remark}" ></p >
                      </td> </tr>
                      </tbody></table>

                  </div>
                </div>
              </div>
                <div class="col-md-6" >
                          <div class="card" >
                              <div class="card-body">
                                  <div class="card-header" >
                                      <h4 >Dependended Employees</h4 >
                                  </div>
                    <!--Dependent Employee -->
                    <div class="container-fluid" th:each="dependentEmployee : ${dependentDetail.dependentEmployees}" >
                      <table class="table">
                        <tbody>
                        <tr><th>
                          <label class="form-label " > Relation Ship </label ></th>
                       <td> <p class="display_detail" th:text="${dependentEmployee.relationship.relationship}" ></p >
                          </td> </tr>
                        <tr><th>

                          <label class="form-label " > Internal Employee Or Not </label ></th>
                       <td> <p class="display_detail" th:text="${dependentEmployee.insideOrOut.insideOrOut}" ></p >
                          </td> </tr>
                        <tr><th>

                      <!--  Employee one details-->

                          <label class="form-label" >Name</label ></th>
                         <td> <p class="display_detail" th:text="${dependentEmployee.employeeOne.name}"></p >
                          </td> </tr>
                        <tr><th>
                          <label class="form-label" >NIC</label ></th>
                        <td>  <p class="display_detail" th:text="${dependentEmployee.employeeOne.nic}"></p >
                          </td> </tr>
                        <tr><th>
                          <label class="form-label" >EPF No</label ></th>
                         <td> <p class="display_detail" th:text="${dependentEmployee.employeeOne.epf}"></p >
                          </td> </tr>
                        </tbody></table>

                      <!--  Employee two details-->

                    </div >
                  </div >
                </div >
              </div >
            </div >
          </div >
        </div >
      </div >
    </div >
  </div ><!-- content-wrapper end -->
  <div  data-th-replace="~{fragments/footerSection :: footerSectionFragment}" ></div ><!-- footer Section -->
</div ><!-- wrapper end -->
<div  data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}" ></div ><!-- script Fragment -->
</body >
</html >
