<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}" ></head >
<body class="hold-transition sidebar-mini layout-fixed" >
<div class="wrapper" ><!-- wrapper start -->
    <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}" ></nav ><!-- navbar Section -->
    <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}" ></aside ><!-- navbar Section -->
    <div class="content-wrapper" ><!-- content-wrapper Start -->
        <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}" ></section ><!-- content-header Start -->
        <!--action button layer---------------------------------------------------------     -->
        <div class="row m-1">
            <div class="col-12">
                <div class="text-right">
                    <div text-right>
                        <button type="button" class="btn btn-info btn-sm">
                            <a  data-th-href="${'/briefing/add'}" >
                                <span class="info-box-icon text-white"><i class="fa fa-plus mr-1" ></i ></span >
                                <span class="text-white"> Add Briefing </span></a>
                        </button>

                    </div>
                </div>
            </div>
        </div>
        <!--form action end button---------------------------------------------------------     -->

        <!-- Form Header/Path end-->
<!--Page header -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="card">
                                    <div class="card-header">
                                        <h4 data-th-text="${addStatus==true?'Briefing Update' :'Briefing Add'}"></h4>

                                    </div>
                                    <div class="card-body">
                                        <form th:action="${addStatus==false?'/briefing/save' :'/briefing/update'}" method="post" th:object="${briefing}"
                                              class="mt-3">

                                                <!--/* id this comment not visualize */-->
                                                <!--Id-->
                                            <table class="table table-hover table-borderless">
                                                <tbody>
                                                <tr class="form-group" th:if="${addStatus==true}">
                                                    <th><label for="id" class="form-label "> Id </label></th>
                                                    <td><input type="text" class="form-control" th:field="*{id}" id="id" readonly>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th><label th:for="${'name'}" class="form-label "> Name </label></th>
                                                    <td><input type="text" class="form-control" th:field="*{name}" placeholder="By HOSS" required>
                                                        <p class="text-danger" th:if="${#fields.hasErrors('name')}"
                                                           th:errors="*{name}">Error Name</p></td>
                                                </tr>
                                                <tr>
                                                    <th><label th:for="${'toWhom'}" class="form-label "> To Whom </label></th>
                                                    <td><input type="text" class="form-control" th:field="*{toWhom}" placeholder="By All" required>
                                                        <p class="text-danger" th:if="${#fields.hasErrors('toWhom')}"
                                                           th:errors="*{toWhom}">Error toWhom</p></td>
                                                </tr>
                                                <tr>
                                                    <th><label th:for="${'notices'}" class="form-label "> Subject </label></th>
                                                    <td><textarea class="form-control" th:field="*{subject}" placeholder="The Hon President Deputure on 27.02.2020"></textarea>
                                                        <p class="text-danger" th:if="${#fields.hasErrors('subject')}"
                                                           th:errors="*{subject}">Error subject</p></td>
                                                </tr>
                                                <tr>
                                                    <th><label th:for="${'notices'}" class="form-label "> notices </label></th>
                                                    <td><textarea class="form-control" th:field="*{notices}"></textarea>
                                                        <p class="text-danger" th:if="${#fields.hasErrors('notices')}"
                                                           th:errors="*{notices}">Error notices</p></td>
                                                </tr>
                                                <tr>
                                                    <th><label th:for="${'effDate'}" class="form-label "> Effective Date </label></th>
                                                    <td><input type="date" class="form-control" th:field="*{effDate}" >
                                                        <p class="text-danger" th:if="${#fields.hasErrors('effDate')}"
                                                           th:errors="*{effDate}">Error effDate</p></td>
                                                </tr>
                                                <tr>
                                                    <th><label th:for="${'priority'}" class="form-label "> priority </label></th>
                                                    <td><select class="form-control" th:field="*{priority}">
                                                        <option th:each="priority : ${priorities}"
                                                                th:text="${priority.priority}"
                                                                th:value="${priority}">
                                                        </option>
                                                    </select></td>
                                                </tr>
                                                <tr>
                                                    <th></th>
                                                    <td><button type="submit" class="btn btn-primary">
                                                        <i th:class="${addStatus==false?'fa fa-save mr-1':'fa fa-thumbs-up mr-1'}"></i> <span
                                                            th:text="${addStatus==false?'Save' : 'Update'}"></span>
                                                    </button>
                                                    <button type="reset" class="btn btn-primary">
                                                        <i th:class="${addStatus==false?'fa fa-save mr-1':'fa fa-thumbs-down mr-1'}"></i> <span
                                                            th:text="${addStatus==false?'Clear' : 'Reset'}"></span>
                                                    </button>
                                                    <button class="btn btn-dark" type="button" tabindex="3"> <a data-th-href="${'/briefing'}">
                                                        <span class="info-box-icon text-white"><i class="fas fa-arrow-circle-left" style="font-size: 20px"></i>&nbsp;&nbsp;Back</span></a>
                                                    </button>
                                                </tr>

                                                </tbody>
                                            </table>






                                            <!--subject-->


                                        </form>
                                    </div>
                                    </div>
                                </div>
                        </div>

                    </div>
                 </div>
            </div>
        </div><!-- content-wrapper end -->
    </div>
    <div  data-th-replace="~{fragments/footerSection :: footerSectionFragment}"></div><!-- footer Section -->
    <!-- Scroll Up Button -->
    <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
        <i class="fas fa-chevron-up"></i>
    </a>
    <!-- Scroll Up Button end-->
</div><!-- wrapper end -->
<div  data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}"></div><!-- script Fragment -->
</body>
</html>
