<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section th:replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        <!-- Form Header  Path -->
        <section th:replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section><!-- Small Box Set -->


        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h4>First sud Header</h4>
                                        <form role="form">
                                            <a href="/briefing" class="btn btn-primary">
                                                <i class="fa fa-list"></i>&nbsp; View List
                                            </a>
                                            <a href="/briefing">
                                                <button class="btn btn-primary">

                                                    <i class="fa fa-step-backward mr-1"></i>Back
                                                </button>
                                            </a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="card">
                                    <div class="card-body container-fluid" th:fragment="briefingDetail">
                                        <h4>Secondary Header </h4>
                                    <!--Id-->
                                    <div class="form-group row">
                                        <label class="form-label "> Id </label>

                                        <p class="display_detail pl-xl-5" th:text="${briefingDetail.id}"></p>
                                    </div>
                                    <!--Name-->
                                    <div class="form-group row">
                                        <label class="form-label "> Name </label>
                                        <p class="display_detail" th:text="${briefingDetail.name}"></p>
                                    </div>
                                    <!--Description-->
                                    <div class="form-group row">
                                        <label class="form-label "> Description </label>
                                        <p class="display_detail" th:text="${briefingDetail.notices}"></p>
                                    </div>
                                    <!--Participant -->
                                    <div class="form-group row">
                                        <label class="form-label "> Participant  </label>
                                        <p class="display_detail" th:text="${briefingDetail.name}"></p>
                                    </div>
                                    <!--Name-->
                                    <div class="form-group row">
                                        <label class="form-label "> Remark </label>
                                        <p class="display_detail" th:text="${briefingDetail.name}"></p>
                                    </div>
                                    <!--Name-->
                                    <div class="form-group row">
                                        <label class="form-label "> Priority </label>
                                        <p class="display_detail" th:text="${briefingDetail.priority.priority}"></p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- content-wrapper end -->
    </div>
    <footer th:replace="~{fragments/footerSection :: footerSectionFragment}"></footer><!-- footer Section -->
</div><!-- wrapper end -->
<script th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></script><!-- script Fragment -->
</body>
</html>