<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}" ></head >
<body class="hold-transition sidebar-mini layout-fixed" >
<div class="wrapper" ><!-- wrapper start -->
    <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}" ></nav ><!-- navbar Section -->
    <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}" ></aside ><!-- navbar Section -->
    <div class="content-wrapper" ><!-- content-wrapper Start -->
        <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}" ></section ><!-- content-header Start -->
        <!--action button layer---------------------------------------------------------     -->
        <div class="row m-1">
            <div class="col-12">
                <div class="text-right">
                    <div text-right>
                        <button type="button" class="btn btn-info btn-sm">
                            <a  data-th-href="${'/employee/add'}" >
                                <span class="info-box-icon text-white"><i class="fa fa-plus mr-1" ></i ></span >
                                <span class="text-white"> Add Employee </span></a>
                        </button>
                        <!--                      <button type="button" class="btn btn-success btn-sm">-->
                        <!--                          <a  data-th-href="${'/employee'}" >-->
                        <!--                              <span class="info-box-icon text-white"><i class="fas fa-folder-open mr-1" ></i ></span >-->
                        <!--                              <span class="text-white"> View Employee </span></a>-->
                        <!--                      </button>-->
                        <!--                      <button type="button" class="btn btn-warning btn-sm hide" onclick="myEdit()">-->
                        <!--                          //                         <a  data-th-href="${'/designation/edit/'}" >-->
                        <!--                          <span class="info-box-icon text-white"><i class="fas fa-edit" ></i ></span >-->
                        <!--                          <span class="text-white"> Edit Employee </span></a>-->
                        <!--                      </button>-->
                        <!--                      <button type="button" class="btn btn-danger btn-sm " display="none" onclick="myDelete()">-->
                        <!--                          // <a  data-th-href="${'/designation/remove/'}" >-->
                        <!--                          <span class="info-box-icon text-white"><i class="fas fa-trash mr-1" ></i ></span >-->
                        <!--                          <span class="text-white"> Delete Employee </span></a>-->
                        <!--                      </button>-->
                        <button type="button" class="btn btn-success btn-sm">
                            <a  data-th-href="${'/home'}" >
                                <span class="info-box-icon text-white"><i class="fas fa-home mr-1" ></i ></span >
                                <span class="text-white"> Home </span></a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--form action end button---------------------------------------------------------     -->


        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->

                <!-- Small Box Set -->
                <!-- /.row -->
                <!-- Small boxes (Stat box) -->

                <!-- data table start -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="breadcrumb-item active" th:text="${contendHeader}"></h3>
                     </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <!--if not empty list-->
                        <div class="table-responsive container-fluid" id="briefingListTable" th:if="${not #lists.isEmpty(briefings)}">
                            <!-- data table start -->
                            <table id="myTable" class="table table-hover table-light">
                                <thead>
                                <tr>
                                    <!--id, name, toWhom, notices, priority effDate-->
                                    <th>Index</th>
                                    <th>By Whom</th>
                                    <th>To Whom</th>
                                    <th>Subject</th>
<!--                                    <th>Notices</th>-->
                                    <th>Priority</th>
                                    <th>Effect Date</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="briefing, rowCount : ${briefings}" scope="row">
                                    <td th:text="${rowCount.count}"></td>
                                    <td th:text="${briefing.name}"></td>
                                    <td th:text="${briefing.toWhom}"></td>
                                    <td th:text="${briefing.subject}"></td>
<!--                                    <td th:text="${briefing.notices}"></td>-->
                                    <td th:text="${briefing.priority.Priority}"></td>
                                    <td th:text="${briefing.effDate}"></td>
                                    <td>


                                        <a class="btn btn-success btn-sm" th:href="${'/briefing/' + briefing.id}" id="briefingView">
                                            <i class="fa fa-folder-open"></i>View</a>
                                        <a class="btn btn-primary btn-sm" id="briefingEdit"
                                           th:href="${'/briefing/edit/' + briefing.id}"><i
                                                class="fa fa-edit"></i>&nbsp;Edit </a>
                                        <a class="btn btn-danger btn-sm" id="briefingRemove"
                                           th:href="${'/briefing/remove/' + briefing.id}"
                                           th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                                           th:onclick="if(!(confirm('Are you want to delete this civilStatus ?'))) return false"
                                        ><i
                                                aria-hidden="true" class="fa fa-trash"></i>
                                            Delete</a>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- data table end -->
                        </div>
                    </div>
                    <!--if empty list-->
                    <div class="row" id="briefingNotList" th:if="${ #lists.isEmpty(briefings)}">
                        <div class="col-sm-12">
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h3 class="text-center text-danger">
                                    <strong>There is no briefing upto know please add briefing to the system
                                        using add briefing button.
                                    </strong>
                                </h3>
                            </div>
                        </div>
                        <script>
                            /*active boostrap alert - start*/
                            $(".alert").alert();
                            /*active boostrap alert - end*/
                        </script>
                    </div>
                    <!--Show saved briefing-->
                    <div class="row" th:if="${briefingDetail!=null}">
                        <div class="col-sm-12">
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <div class="container">
                                    <div  data-th-replace="~{briefing/briefing-detail :: briefingDetail}"></div>
                                </div>
                            </div>
                        </div>
                        <script>
                            /*active boostrap alert - start*/
                            $(".alert").alert();
                            /*active boostrap alert - end*/
                        </script>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>



        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div  data-th-replace="~{fragments/footerSection :: footerSectionFragment}"></div><!-- footer Section -->
    <!-- Scroll Up Button -->
    <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
        <i class="fas fa-chevron-up"></i>
    </a>
    <!-- Scroll Up Button end-->
</div><!-- wrapper end -->
<div  data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}"></div><!-- script Fragment -->
</body>
</html>
