<body>
<nav th:replace="~{fragments/navBar :: navBarFragment}"></nav>
<aside th:replace="~{fragments/sidebar :: sidebarFragment}"></aside>
<!-- wrapper -->
<div class="wrapper">
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Briefing</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active"></li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <!-- 4 small box col-lg-3 col-6-->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>150</h3>

                                <p>New Orders</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>53<sup style="font-size: 20px">%</sup></h3>

                                <p>Bounce Rate</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3>44</h3>

                                <p>User Registrations</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>65</h3>

                                <p>Unique Visitors</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->

                </div>
                <!-- /.row -->
                <!-- Small boxes (Stat box) -->

                <!-- data table start -->
                <div class="card">
                    <div class="card-header">
                        <a class="btn btn-success" id="newBriefing" th:href="${'/briefing/add'}">
                            <i class="fa fa-briefing-plus"></i>  Add Briefing </a>


                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <!--if not empty list-->
                        <div class="row" id="briefingListTable" th:if="${not #lists.isEmpty(briefings)}">
                            <!-- data table start -->
                            <table id="example2" class="table table-hover table-dark">
                                <thead>
                                <tr>
                                    <!--id, name, toWhom, notices, priority effDate-->
                                    <th>Index</th>
                                    <th>By Whom</th>
                                    <th>To Whom</th>
                                    <th>Notices</th>
                                    <th>Priority</th>
                                    <th>Effect Date</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="briefing, rowCount : ${briefings}" scope="row">
                                    <td th:text="${rowCount.count}"></td>
                                    <td th:text="${briefing.name}"></td>
                                    <td th:text="${briefing.toWhom}"></td>
                                    <td th:text="${briefing.notices}"></td>
                                    <td th:text="${briefing.priority.Priority}"></td>
                                    <td th:text="${briefing.effDate}"></td>
                                    <td>


                                        <a class="btn btn-success btn-sm" th:href="${'/briefing/' + briefing.id}" id="briefingView">
                                            <i class="fa fa-folder-open"></i>&nbsp;View</a>
                                        <a class="btn btn-primary btn-sm" id="briefingEdit"
                                           th:href="${'/briefing/edit/' + briefing.id}"><i
                                                class="fa fa-edit"></i>&nbsp;Edit</a>
                                        <a class="btn btn-danger btn-sm" id="briefingRemove"
                                           th:href="${'/briefing/remove/' + briefing.id}"
                                           th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                                           th:onclick="if(!(confirm('Are you want to delete this civilStatus ?'))) return false"
                                        ><i
                                                aria-hidden="true" class="fa fa-trash"></i>
                                            Delete</a>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- data table end -->
                        </div>
                    </div>
                    <!--if empty list-->
                    <div class="row" id="briefingNotList" th:if="${ #lists.isEmpty(briefings)}">
                        <div class="col-sm-12">
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h3 class="text-center text-danger">
                                    <strong>There is no briefing upto know please add briefing to the system
                                        using add briefing button.
                                    </strong>
                                </h3>
                            </div>
                        </div>
                        <script>
                            /*active boostrap alert - start*/
                            $(".alert").alert();
                            /*active boostrap alert - end*/
                        </script>
                    </div>
                    <!--Show saved briefing-->
                    <div class="row" th:if="${briefingDetail!=null}">
                        <div class="col-sm-12">
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <div class="container">
                                    <div th:replace="~{briefing/briefing-detail :: briefingDetail}"></div>
                                </div>
                            </div>
                        </div>
                        <script>
                            /*active boostrap alert - start*/
                            $(".alert").alert();
                            /*active boostrap alert - end*/
                        </script>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>


            <!-- data table end -->

            <!-- Small boxes (Stat box) -->
            <!-- Main row -->
            <div class="row">
                <!-- Left col -->




                <section class="col-lg-7 connectedSortable">


                </section>
                <!-- /.Left col -->
                <!-- right col (We are only adding the ID to make the widgets sortable)-->
                <section class="col-lg-5 connectedSortable">


                </section>
                <!-- right col -->
            </div>
            <!-- /.row (main row) -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

</div>
<!-- ./wrapper -->



<!--footer include-->
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script th:replace="~{fragments/script :: scriptFragment}"></script>
</body>
</html>