<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}" ></head >
<body class="hold-transition sidebar-mini layout-fixed" >
<div class="wrapper" ><!-- wrapper start -->
    <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}" ></nav ><!-- navbar Section -->
    <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}" ></aside ><!-- navbar Section -->
    <div class="content-wrapper" ><!-- content-wrapper Start -->
        <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}" ></section ><!-- content-header Start -->
        <!--action button layer---------------------------------------------------------     -->
        <div class="row m-1">
            <div class="col-12">
                <div class="text-right">
                    <div text-right>
                        <button type="button" class="btn btn-info btn-sm">
                            <a  data-th-href="${'/employee/add'}" >
                                <span class="info-box-icon text-white"><i class="fa fa-plus mr-1" ></i ></span >
                                <span class="text-white"> Add Employee </span></a>
                        </button>
                        <!--                      <button type="button" class="btn btn-success btn-sm">-->
                        <!--                          <a  data-th-href="${'/employee'}" >-->
                        <!--                              <span class="info-box-icon text-white"><i class="fas fa-folder-open mr-1" ></i ></span >-->
                        <!--                              <span class="text-white"> View Employee </span></a>-->
                        <!--                      </button>-->
                        <!--                      <button type="button" class="btn btn-warning btn-sm hide" onclick="myEdit()">-->
                        <!--                          //                         <a  data-th-href="${'/designation/edit/'}" >-->
                        <!--                          <span class="info-box-icon text-white"><i class="fas fa-edit" ></i ></span >-->
                        <!--                          <span class="text-white"> Edit Employee </span></a>-->
                        <!--                      </button>-->
                        <!--                      <button type="button" class="btn btn-danger btn-sm " display="none" onclick="myDelete()">-->
                        <!--                          // <a  data-th-href="${'/designation/remove/'}" >-->
                        <!--                          <span class="info-box-icon text-white"><i class="fas fa-trash mr-1" ></i ></span >-->
                        <!--                          <span class="text-white"> Delete Employee </span></a>-->
                        <!--                      </button>-->
                        <button type="button" class="btn btn-success btn-sm">
                            <a  data-th-href="${'/home'}" >
                                <span class="info-box-icon text-white"><i class="fas fa-home mr-1" ></i ></span >
                                <span class="text-white"> Home </span></a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--form action end button---------------------------------------------------------     -->


        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                             <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4>Instalment Type </h4>
                                    </div>
                                    <div class="container-fluid">
                                        <table class="table table-hover" id="myTable">
                                            <thead class="thead-inverse">
                                            <tr>
                                                <th>Index</th>
                                                <th>Name</th>
                                                <th>Year</th>
                                                <th>Expense Or Received</th>
                                                <th>Collection Type</th>
                                                <th>Amount</th>
                                                <th>Modify</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="instalmentType, index : ${instalmentTypeis}">
                                                <td th:text="${index.count}"></td>
                                                <td th:text="${instalmentType.name}"></td>
                                                <td th:text="${instalmentType.year}"></td>
                                                <td th:text="${instalmentType.expenseOrReceived.expenseOrReceived}"></td>
                                                <td th:text="${instalmentType.collectionType.collectionType}"></td>
                                                <td th:text="${instalmentType.amount}"></td>
                                                <td>
                                                    <a class="btn btn-primary btn-sm" id="dependentEdit"
                                                       th:href="${'/instalmentType/edit/' + instalmentType.id}"><i
                                                            class="fa fa-edit"></i>&nbsp;Edit</a>
                                      <!--              <a class="btn btn-danger btn-sm" id="dependentRemove"
                                                       th:href="${'/instalmentType/delete/' + instalmentType.id}"
                                                       th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                                                       th:onclick="if(!(confirm('Are you want to delete this civilStatus ?'))) return false"><i
                                                            aria-hidden="true" class="fa fa-trash"></i> Delete</a>-->
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- content-wrapper end -->
</div>
<!--footer include-->
<div data-th-replace="~{fragments/footerSection :: footerSectionFragment}"></div><!-- footer Section -->
</div><!-- wrapper end -->
<div data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}"></div><!-- script Fragment -->
</body>
</html>