<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section th:replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        <!-- Form Header  Path -->
        <section th:replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section><!-- Small Box Set -->

<div class="content-header">
 <div class="container-fluid">
<div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h4>First sud Header</h4>
                                                    <form role="form">
                                                        <span id="formHeader" th:text="${addStatus==false?'New District':'Update District'}"></span>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h4>Secondary Header </h4>
                                                <form th:action="${addStatus==false?'/district/save' :'/district/update'}" method="post" th:object="${district}">

                                                        <!--/* id this comment not visualize */-->
                                                        <!--Id-->
                                                        <div class="form-group row" th:if="${addStatus==true}">
                                                            <label for="id" class="form-label "> Id </label>

                                                                <input type="text" class="form-control" th:field="*{id}" id="id" readonly>

                                                        </div>
                                                        <!--Province-->
                                                        <div class="form-group row">
                                                            <label th:for="${'province'}" class="form-label "> Province </label>

                                                                <select class="form-control" th:field="*{province}">
                                                                    <option th:each="province : ${provinces}"
                                                                            th:text="${province.province}" th:value="${province}"></option>
                                                                </select>
                                                                <p class="text-danger" th:if="${#fields.hasErrors('province')}"
                                                                   th:errors="*{province}">Error Name</p>

                                                        </div>
                                                        <!--District name-->
                                                        <div class="form-group row">
                                                            <label th:for="${'name'}" class="form-label "> Name </label>

                                                                <input type="text" class="form-control" th:field="*{name}" >
                                                                <p class="text-danger" th:if="${#fields.hasErrors('name')}"
                                                                   th:errors="*{name}">Error Name</p>

                                                        </div>
                                                        <div class="form-group row">
                                                                <button type="submit" class="btn btn-primary">
                                                                    <i th:class="${addStatus==false?'fa fa-save mr-1':'fa fa-thumbs-up mr-1'}"></i> <span
                                                                        th:text="${addStatus==false?'Save' : 'Update'}"></span>
                                                                </button>
                                                        </div>

                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
 </div></div>
                    </div><!-- content-wrapper end -->
                    <div th:replace="~{fragments/footerSection :: footerSectionFragment}"></div><!-- footer Section -->
                    </div><!-- wrapper end -->
                    <div th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></div><!-- script Fragment -->
                    </body>
                    </html>