<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}" ></section >
        <!-- /.content-header -->
        <!--form action button---------------------------------------------------------     -->
        <div class="row m-1">
            <div class="col-12">
                <div class="text-right">
                    <div text-right>
                        <button type="button" class="btn btn-info btn-sm">
                            <a  data-th-href="${'/district/add'}" >
                                <span class="info-box-icon text-white"><i class="fa fa-plus mr-1" ></i ></span >
                                <span class="text-white"> Add District </span></a>
                        </button>
                        <button type="button" class="btn btn-success btn-sm disabled">
                            <a  data-th-href="${'/district'}" >
                                <span class="info-box-icon text-white"><i class="fas fa-folder-open mr-1" ></i ></span >
                                <span class="text-white"> View District </span></a>
                        </button>
                        <button type="button" class="btn btn-warning btn-sm" onclick="myEdit()">
                            <!--                            <a  data-th-href="${'/designation/edit/'}" >-->
                            <span class="info-box-icon text-white"><i class="fas fa-edit" ></i ></span >
                            <span class="text-white"> Edit District </span></a>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" onclick="myDelete()">
                            <!--                            <a  data-th-href="${'/designation/remove/'}" >-->
                            <span class="info-box-icon text-white"><i class="fas fa-trash mr-1" ></i ></span >
                            <span class="text-white"> Delete District </span></a>

                        </button>
                    </div>
                </div>
            </div>

        </div>
        <!--form action end button---------------------------------------------------------     -->

<div class="content-header">
 <div class="container-fluid">
<div class="row">
                                <div class="col-md-12">
                                    <div class="row">

                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h4><span id="formHeader" th:text="${addStatus==false?'New District':'Update District'}"></span> </h4>
                                                <form th:action="${addStatus==false?'/district/save' :'/district/update'}" method="post" th:object="${district}">

                                                        <!--/* id this comment not visualize */-->
                                                        <!--Id-->
                                                    <table class="table table-hover table-borderless">
                                                        <tbody>
                                                        <tr class="form-group row" th:if="${addStatus==true}"><th>
                                                            <th> <label for="id" class="form-label "> Id </label></th>
                                                            <td><input type="text" class="form-control" th:field="*{id}" id="id" readonly></td>
                                                        </tr>
                                                        <!--Province-->
                                                        <tr><th>
                                                            <label th:for="${'province'}" class="form-label "> Province </label></th>
                                                                <td>
                                                                <select class="form-control" th:field="*{province}">
                                                                    <option th:each="province : ${provinces}"
                                                                            th:text="${province.province}" th:value="${province}"></option>
                                                                </select>
                                                                <p class="text-danger" th:if="${#fields.hasErrors('province')}"
                                                                   th:errors="*{province}">Error Name</p></td></tr>

                                                        <!--District name-->
                                                        <tr><th>

                                                            <label th:for="${'name'}" class="form-label "> Name </label></th>
                                                            <td>

                                                                <input type="text" class="form-control" th:field="*{name}" >
                                                                <p class="text-danger" th:if="${#fields.hasErrors('name')}"
                                                                   th:errors="*{name}">Error Name</p>
                                                            </td></tr>

                                                        <tr><th></th>
                                                       <td> <div class="form-group row">
                                                                <button type="submit" class="btn btn-primary">
                                                                    <i th:class="${addStatus==false?'fa fa-save mr-1':'fa fa-thumbs-up mr-1'}"></i> <span
                                                                        th:text="${addStatus==false?'Save' : 'Update'}"></span>
                                                                </button>
                                                       </div></td></tr>
                                                        </tbody>
                                                    </table>

                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
 </div></div>
                    </div><!-- content-wrapper end -->
                    <div th:replace="~{fragments/footerSection :: footerSectionFragment}"></div><!-- footer Section -->
                    </div><!-- wrapper end -->
                    <div th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></div><!-- script Fragment -->
                    </body>
                    </html>