<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section th:replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        <!-- Form Header  Path -->
        <section th:replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section><!-- Small Box Set -->

<div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h4>First sud Header</h4>
                                        <form role="form">
                                            <a class="btn btn-success" id="newDistrict" th:href="${'/district/add'}">
                                                <i class="fa fa-district-plus" style="font-size: 18px;"></i> &nbsp; Add District </a>

                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="card">
                                    <div class="card-body">
                                        <h4>Secondary Header </h4>
                                        <!--if not empty list-->
                                        <div class="row" id="districtListTable" th:if="${not #lists.isEmpty(districts)}">
                                            <table class="table table-hover table-striped" id="myTable">
                                                <thead class="thead-inverse">
                                                <tr>
                                                    <th>Index</th>
                                                    <th>Province</th>
                                                    <th>District</th>
                                                    <th>Modify</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="district, rowCount : ${districts}" scope="row">
                                                    <th th:text="${rowCount.count}"></th>
                                                    <th th:text="${district.province.province}"></th>
                                                    <th th:text="${district.name}"></th>

                                                    <th><a class="btn btn-success btn-sm" th:href="${'/district/' + district.id}" id="districtView"><i
                                                            class="fa fa-folder-open"></i>&nbsp;View</a>
                                                        <a class="btn btn-primary btn-sm" id="districtEdit"
                                                           th:href="${'/district/edit/' + district.id}"><i
                                                                class="fa fa-edit"></i>&nbsp;Edit</a>
                                                        <a class="btn btn-danger btn-sm" id="districtRemove"
                                                           th:href="${'/district/remove/' + district.id}"
                                                           th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                                                           th:onclick="if(!(confirm('Are you want to delete this civilStatus ?'))) return false"
                                                        ><i
                                                                aria-hidden="true" class="fa fa-trash"></i>
                                                            Delete</a>

                                                    </th>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!--if empty list-->
                                        <div class="row" id="districtNotList" th:if="${ #lists.isEmpty(districts)}">
                                            <div class="col-sm-12">
                                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <h3 class="text-center text-danger">
                                                        <strong>There is no district upto know please add district to the system
                                                            using add district button.
                                                        </strong>
                                                    </h3>
                                                </div>
                                            </div>
                                            <script>
                                                /*active boostrap alert - start*/
                                                $(".alert").alert();
                                                /*active boostrap alert - end*/
                                            </script>
                                        </div>
                                        <!--Show saved district-->
                                        <div class="row" th:if="${districtDetail!=null}">
                                            <div class="col-sm-12">
                                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <div class="container">
                                                        <div th:replace="~{district/district-detail :: districtDetail}"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <script>
                                                /*active boostrap alert - start*/
                                                $(".alert").alert();
                                                /*active boostrap alert - end*/
                                            </script>
                                        </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</div><!-- content-wrapper end -->
<footer th:replace="~{fragments/footerSection :: footerSectionFragment}"></footer><!-- footer Section -->
</div><!-- wrapper end -->
<script th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></script><!-- script Fragment -->
</body>
</html>