<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section th:replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        <!-- Form Header  Path -->
        <section th:replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section><!-- Small Box Set -->




        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card"><div class="card-body">
                                    <form role="form">
                                        <div class="form-group">

                                            <label for="exampleInputEmail1">
                                                Payment Name
                                            </label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" />
                                        </div>
                                        <div class="form-group">

                                            <label for="exampleInputPassword1">
                                                Sort Description
                                            </label>
                                            <input type="text" class="form-control" id="exampleInputPassword1" />
                                        </div>
                                        <div class="form-group">

                                            <label for="exampleInputPassword1" >
                                                Payment Type
                                            </label><br>
                                            <input type="radio" id="credit">
                                            <label for="credit">Credit (බැර)</label><br>
                                            <input type="radio" id="debit">
                                            <label for="debit">Debit (හර)</label><br>
                                        </div>


                                        <button type="submit" class="btn btn-primary">
                                            Submit
                                        </button>
                                    </form>
                                </div></div>
                            </div>
                            <div class="col-md-8">

                                <div class="card"><div class="card-body">Percent Payment Category </div>
                                    <div class="card-body">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>
                                                    S/No
                                                </th>
                                                <th>
                                                    Payment Name
                                                </th>
                                                <th>
                                                    Payment Description
                                                </th>
                                                <th>
                                                    Payment Type
                                                </th>
                                            </tr>
                                            </thead>
                                           <tbody>
                                            <tr th:each="addPaymentTypes, rowCount : ${addPaymentTypes}" scope="row">
                                                <td th:text="${rowCount.count}"></td>
                                                <td th:text="${addPaymentTypes.name}"></td>
                                                <td th:text="${addPaymentTypes.description}"></td>
                                                <td th:text="${addPaymentTypes.collectionType.collectionType}"></td>

                                                <td><a class="btn btn-success btn-sm" th:href="${'/addPaymentType/' + addPaymentTypes.id}" id="addPaymentTypesView"><i
                                                        class="fa fa-folder-open"></i>&nbsp;View</a>
                                                    <a class="btn btn-primary btn-sm" id="addPaymentTypesEdit"
                                                       th:href="${'/addPaymentType/edit/' + addPaymentTypes.id}"><i
                                                            class="fa fa-edit"></i>&nbsp;Edit</a>
                                                    <a class="btn btn-danger btn-sm" id="addPaymentTypesRemove"
                                                       th:href="${'/addPaymentType/remove/' + financialYears.id}"
                                                       th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                                                       th:onclick="if(!(confirm('Are you want to delete this addPaymentTypes ?'))) return false"
                                                    ><i
                                                            aria-hidden="true" class="fa fa-trash"></i>
                                                        Delete</a>
                                                    <!--Description-->

                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                           <!-- <div class="col-md-12">
                            <div class="card-body">
                                <form th:action="${addStatus==false?'/financialYear/save' :'/financialYear/update'}" method="post"
                                      th:object="${addPaymentType}">

                                    &lt;!&ndash;/* id this comment not visualize */&ndash;&gt;
                                    &lt;!&ndash;Id&ndash;&gt;
                                    <div class="form-group" th:if="${addStatus==true}">
                                        <label for="id" class="form-label "> Id </label>
                                        <input type="text" class="form-control" th:field="*{id}" id="id" readonly>
                                    </div>
                                    &lt;!&ndash;financialYears&ndash;&gt;
                                    <div class="form-group">
                                        <label th:for="${'addPaymentType.name'}" class="form-label "> Payment Name: </label>
                                        <input type="text" class="form-control" th:field="*{addPaymentType.name}" required>
                                        <p class="text-danger" th:if="${#fields.hasErrors('name')}"
                                           th:errors="*{name}">Error financialYears</p>
                                    </div>
                                    &lt;!&ndash;Description&ndash;&gt;
                                    <div class="form-group">
                                        <label th:for="${'description'}" class="form-label "> Description</label>
                                        <textarea class="form-control" th:field="*{description}" required></textarea>
                                        <p class="text-danger" th:if="${#fields.hasErrors('description')}"
                                           th:errors="*{description}">Error description</p>

                                    </div>
                                    &lt;!&ndash;participant&ndash;&gt;
                                    <div class="form-group">
                                        <label th:for="${'remark'}" class="form-label "> Remamrk </label>

                                        <input type="text" class="form-control" th:field="*{remark}">
                                        <p class="text-danger" th:if="${#fields.hasErrors('remark')}"
                                           th:errors="*{remark}">Error remark</p>

                                    </div>

                                    &lt;!&ndash;priority&ndash;&gt;
                                    <div class="form-group">
                                        <label th:for="${'status'}" class="form-label "> Status </label>

                                        <div class="custom-control" style="display: inline"
                                             th:each="status, index : ${status}">

                                            <input type="radio" class="custom-control" required th:field="*{status}"
                                                   th:value="${status}" th:id="${status}+${index.index}" style="display: inline"/>
                                            &lt;!&ndash; <label class="custom-control-label" th:for="${#ids.prev('gender')}"&ndash;&gt;
                                            <label class="" th:for="${status}+${index.index}"
                                                   th:text="${status.status}" style="display: inline"> radio
                                            </label>
                                        </div>

                                        &lt;!&ndash;  <input type="test" class="form-control" th:field="*{priority}" required>&ndash;&gt;
                                        <p class="text-danger" th:if="${#fields.hasErrors('status')}"
                                           th:errors="*{status}">Error status</p>

                                    </div>


                                    <div class="form-group">

                                        <button type="submit" class="btn btn-primary">
                                            <i th:class="${addStatus==false?'fa fa-save mr-1':'fa fa-thumbs-up mr-1'}"></i> <span
                                                th:text="${addStatus==false?'Save' : 'Update'}"></span>
                                        </button>

                                    </div>


                                </form>
                            </div>
                            </div>-->


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- content-wrapper end -->
    <footer th:replace="~{fragments/footerSection :: footerSectionFragment}"></footer><!-- footer Section -->
</div><!-- wrapper end -->
<script th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></script><!-- script Fragment -->
</body>
</html>