<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
     <!-- Form Header  Path -->
        <section th:replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        <section th:replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section><!-- Small Box Set -->


        <!--- Contend content-header - Button Area -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body row ">
                            <div class="col-3">
                                <div class="form-group">

                                    <label for="exampleInputEmail2">
                                        EPF No
                                    </label>
                                    <input type="Text" class="form-control" id="exampleInputEmail2" />
                                </div></div>
                            <div class="col-3">
                                <div class="form-group">

                                    <label for="exampleInputEmail2">
                                        Name
                                    </label>
                                    <input type="text" class="form-control" id="exampleInputEmail2" />
                                </div></div>
                            <div class="col-3">
                                        <div class="form-group">

                                            <label for="example-select-custom" >Location</label>
                                            <select class="form-control custom-select" id="example-select-custom">
                                                <option selected>Custom select</option>
                                                <option>BIA</option>
                                                <option>RMA</option>
                                                <option>MRIA</option>
                                            </select></div>
                                    </div>
                            <div class="col-3">
                                            <div class="form-group">

                                             <label for="example-select-custom" >Sub Section</label>
                                             <select class="form-control custom-select" id="example-select-custom">
                                                 <option selected>Custom select</option>
                                                 <option>A Group</option>
                                                 <option>B Group</option>
                                                 <option>C Group</option>
                                                 <option>D Group</option>
                                                 <option>Admin</option>

                                             </select></div>

                         </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--- Contend content-header - Button Area end-->
        <!-- Main contend Area -->
        <div class="content-header">
             <div class="container-fluid">
                 <div class="row">
                     <div class="col-md-12">
                         <div class="row">

                             <div class="col-md-12">

                                <div class="card">
                                    <div class="card-body">
                                    <h4>Financial Years List </h4>
                                    </div>
                                    <div class="card-body">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>
                                                    #
                                                </th>
                                                <th>
                                                    EPF
                                                </th>
                                                <th>
                                                    Name
                                                </th>
                                                <th>
                                                    Financial Year
                                                </th>
                                                <th>
                                                    Installment + Mandatory
                                                </th>
                                                <th>
                                                    Paid Additional Payments
                                                </th>
                                                <th>
                                                    Remaining Balance
                                                </th>
                                                <th>
                                                    Over Payments
                                                </th>
                                                <th>
                                                    Opening Balance (Last Years Due)
                                                </th>
                                                <th>
                                                    Status
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    5793
                                                </td>
                                                <td>
                                                    WB Prasad
                                                </td>
                                                <td>
                                                    2020
                                                </td>
                                                <td>
                                                    Rs. 3650.00
                                                </td>
                                                <td>
                                                    Rs. 600.00
                                                </td>
                                                <td>
                                                    Rs. 200.00
                                                </td>
                                                <td>
                                                    Rs. 200.00
                                                </td>
                                                <td>
                                                    Rs. 200.00
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary btn-sm">Edit</button>
                                                  </td>
                                            </tr>





                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                             <div class="col-md-12 card">
                                 <div class="card-body">
                                 <a href="#" class="btn btn-primary" role="button">Back</a>
                                 <input type="button" class="btn btn-success" value="Print">
                                 <input type="submit" class="btn btn-danger" value="Clear">
                                 <input type="reset" class="btn btn-warning" value="Close">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





            </div>
            <!--- Add New Contend --->
        </div>
        <!-- Main contend Area -->
    </div><!-- content-wrapper end -->
    <footer th:replace="~{fragments/footerSection :: footerSectionFragment}"></footer><!-- footer Section -->
</div><!-- wrapper end -->
<script th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></script><!-- script Fragment -->
</body>
</html>
