<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav>
    <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside>
    <!-- SIDE END SECTION -->
    <!-- CONTENT START-->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Employee Management</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Add Member</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">

            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">Add Payment Type</h1>

                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Add Payment Type</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>

            <div class="row">
                <!-- 4 small box col-lg-3 col-6-->
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>1867</h3>

                            <p>Members</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>23<sup style="font-size: 20px"></sup></h3>

                            <p>Section</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>30</h3>

                            <p>Notices</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>4</h3>

                            <p>Activity</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>



        </section>

        <!--- Add New Contend content-header - container-fluid--->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card bg-black"><div class="card-body ">
                            Payment View

                        </div> </div></div></div></div></div>

        <!--- Add New Contend content-header - container-fluid--->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card"><div class="card-body row ">
                            <div class="col-3">
                                <div class="form-group">

                                    <label for="exampleInputEmail2">
                                        EPF No
                                    </label>
                                    <input type="Text" class="form-control" id="exampleInputEmail2" />
                                </div></div>

                            <div class="col-3">
                                <div class="form-group">

                                    <label for="exampleInputEmail2">
                                        Name
                                    </label>
                                    <input type="text" class="form-control" id="exampleInputEmail2" />
                                </div></div>


                            <div class="col-3">
                                <div class="form-group">

                                    <label for="example-select-custom" >Location</label>
                                    <select class="form-control custom-select" id="example-select-custom">
                                        <option selected>Custom select</option>
                                        <option>BIA</option>
                                        <option>RMA</option>
                                        <option>MRIA</option>
                                    </select></div>
                            </div>

                            <div class="col-3">
                                <div class="form-group">

                                    <label for="example-select-custom" >Sub Section</label>
                                    <select class="form-control custom-select" id="example-select-custom">
                                        <option selected>Custom select</option>
                                        <option>A Group</option>
                                        <option>B Group</option>
                                        <option>C Group</option>
                                        <option>D Group</option>
                                        <option>Admin</option>

                                    </select></div>

                            </div> </div></div></div>
                </div></div></div>

        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">

                            <div class="col-md-12">

                                <div class="card"><div class="card-body">
                                    <h4>Financial Years List </h4></div>
                                    <div class="card-body">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>
                                                    #
                                                </th>
                                                <th>
                                                    EPF
                                                </th>
                                                <th>
                                                    Name
                                                </th>
                                                <th>
                                                    Financial Year
                                                </th>
                                                <th>
                                                    Installment + Mandatory
                                                </th>
                                                <th>
                                                    Paid Additional Payments
                                                </th>
                                                <th>
                                                    Remaining Balance
                                                </th>
                                                <th>
                                                    Over Payments
                                                </th>
                                                <th>
                                                    Opening Balance (Last Years Due)
                                                </th>
                                                <th>
                                                    Status
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    5793
                                                </td>
                                                <td>
                                                    WB Prasad
                                                </td>
                                                <td>
                                                    2020
                                                </td>
                                                <td>
                                                    Rs. 3650.00
                                                </td>
                                                <td>
                                                    Rs. 600.00
                                                </td>
                                                <td>
                                                    Rs. 200.00
                                                </td>
                                                <td>
                                                    Rs. 200.00
                                                </td>
                                                <td>
                                                    Rs. 200.00
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary btn-sm">Edit</button>
                                                </td>
                                            </tr>





                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 card"><div class="card-body ">
                                <a href="#" class="btn btn-primary" role="button">Back</a>
                                <input type="button" class="btn btn-success" value="Print">
                                <input type="submit" class="btn btn-danger" value="Clear">
                                <input type="reset" class="btn btn-warning" value="Close">
                            </div>
                            </div>
                        </div>
                    </div>
                </div>





            </div>
            <!--- Add New Contend --->
        </div>
        <!-- /.content -->
    </div>
    <!-- CONTENT END SECTION-->
    <!--FOOTER SECTION-->
    <!-- /.content-wrapper -->
    <footer th:replace="~{fragments/footerSection :: footerSectionFragment}"></footer>
    <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
        <i class="fas fa-chevron-up"></i>
    </a>

</div>
<script th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></script>
</body>
</html>
