<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}" ></head >
<body class="hold-transition sidebar-mini layout-fixed" >
<div class="wrapper" ><!-- wrapper start -->
  <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}" ></nav ><!-- navbar Section -->
  <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}" ></aside ><!-- navbar Section -->
  <div class="content-wrapper" ><!-- content-wrapper Start -->
    <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}" ></section >
                                <!-- content-header Start -->
                                <!--action button layer---------------------------------------------------------     -->
    <div class="row m-1" >
      <div class="col-12" >
        <div class="text-right" >
          <div text-right >
            <button type="button" class="btn btn-info btn-sm" >
              <a data-th-href="${'/course'}" >
                <span class="info-box-icon text-white" ><i class="fa fa-plus mr-1" ></i ></span >
                <span class="text-white" > Course </span ></a >
            </button >

          </div >
        </div >
      </div >
    </div >
                                <!--form action end button---------------------------------------------------------     -->


    <div class="content-header" >
      <div class="container-fluid" >
        <div class="row" >
          <div class="col-md-12" >
            <div class="row" >
              <div class="col-md-12" >
                <div class="card" >
                  <div class="card-body" >
                    <div class="card-header" >
                      <h4 class="breadcrumb-item active" ><span id="formHeader"
                                                                th:text="${addStatus==false?'New Course':'Update Course'}" ></span >
                      </h4 ></div >

                    <form th:action="${addStatus==false?'/course/save' :'/course/update'}" method="post"
                          th:object="${course}"
                          class="mt-3" >
                      <!--Id-->
                      <table class="table table-borderless table-hover" >
                        <tbody >
                        <tr th:if="${addStatus==true}" >
                          <th ><label for="id" class="form-label " > Id </label ></th >
                          <td >

                            <input class="form-control" th:field="*{liveDead}" value="ACTIVE" type="hidden" readonly />
                            <input type="text" class="form-control" th:field="*{id}" id="id" readonly ></td >
                        </tr >
                        <!--Name-->

                        <tr >
                          <th ><label th:for="${'name'}" class="form-label " > Name </label ></th >
                          <td >
                            <input type="text" class="form-control" th:field="*{name}" required >
                            <p class="text-danger" th:if="${#fields.hasErrors('name')}"
                               th:errors="*{name}" >Error condition</p >
                           </td >
                        </tr >
                        <tr >
                          <th ><label th:for="${'institute'}" class="form-label " > Institute </label ></th >
                          <td >
                            <input type="text" class="form-control" th:field="*{institute}" required >
                            <p class="text-danger" th:if="${#fields.hasErrors('institute')}"
                               th:errors="*{institute}" >Error condition</p >
                          </td >
                        </tr >
                        <!--relationship name-->
                        <tr >
                          <th >
                            <label th:for="${'remark'}" class="form-label " > Remark</label ></th >
                          <td ><input type="text" class="form-control" th:field="*{remark}" required >
                            <p class="text-danger" th:if="${#fields.hasErrors('remark')}"
                               th:errors="*{remark}" >Error condition</p >
                          </td >
                        </tr >
<tr>
                          <th ></th >
                          <td >
                            <button type="submit" class="btn btn-primary" >
                              <i th:class="${addStatus==false?'fa fa-save mr-1':'fa fa-thumbs-up mr-1'}" ></i > <span
                                  th:text="${addStatus==false?'Save' : 'Update'}" ></span >
                            </button >
                          </td >
                        </tr >
                        </tbody >
                      </table >
                    </form >
                  </div >
                </div >
              </div >
              <!--8/11/2020-->
              <!--                <div class="col-md-12" >-->
              <!--                    <div class="card" >-->
              <!--                        <div class="card-body" >-->
              <!--                                <table class="table table-borderless table-hover">-->
              <!--                                    <tbody>-->
              <!--                                    <tr>-->
              <!--                                        <th> <label class="form-label" > Id </label ></th>-->
              <!--                                        <th> <label class="form-label" > Course Name </label ></th>-->
              <!--                                        <th><label class="form-label" > Remark </label ></th>-->
              <!--                                        <th><label class="form-label" > Effected Dte </label ></th>-->
              <!--                                        <th> <label class="form-label" > Action </label >-->
              <!--                                        </th></tr></tbody></table>-->
              <!--                                <div class="container-fluid" data-th-each="courseDetail : ${employeeDetail.courses}" >-->
              <!--                                    <div data-th-replace="~{course/course-detail :: courseDetail1}" ></div >-->
              <!--                                    <hr >-->
              <!--                                </div >-->
              <!--                            </div >-->
              <!--                    </div>-->
              <!--                </div>-->
            </div >
          </div >
        </div >
      </div >
    </div >
  </div >
</div >
</div ><!-- content-wrapper end -->
</div >
<div data-th-replace="~{fragments/footerSection :: footerSectionFragment}" ></div ><!-- footer Section -->
</div ><!-- wrapper end -->
<div data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}" ></div ><!-- script Fragment -->
</body >
</html >
