<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}" ></head >
<body class="hold-transition sidebar-mini layout-fixed" >
<div class="wrapper" ><!-- wrapper start -->
    <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}" ></nav ><!-- navbar Section -->
    <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}" ></aside ><!-- navbar Section -->
    <div class="content-wrapper" ><!-- content-wrapper Start -->
        <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}" ></section >

        <!--form action button---------------------------------------------------------     -->
        <div class="row m-1" >
            <div class="col-12" >
                <div class="text-right" >
                    <div text-right >
                        <button type="button" class="btn btn-success btn-sm mr-lg-1" >
                            <a data-th-href="${'/punishment'}" >
                                <span class="info-box-icon text-white" ><i class="fas fa-folder-open mr-1" ></i ></span >
                                <span class="text-white" > View Punishment </span ></a >
                        </button >
                    </div >
                </div >
            </div >
        </div >

        <div class="content-header" >
            <div class="container-fluid" >
                <div class="row" >
                    <div class="col-md-12" >
                        <div class="row" >
                            <div class="col-md-12" >
                                <div class="card" >
                                    <div class="card-body" >
                                        <div class="card-header" >
                                        <h4 class="breadcrumb-item active">
                                            <span data-th-text="${addStatus==true?'Add New Punishment':'Update Punishment Details'}"></span>
                                        </h4 ></div>
                                        <table class="table table-hover table-borderless" >
        <form class="form-horizontal" data-th-action="${addStatus==true?'/punishment/save':'/punishment/update'}"
              data-th-object="${punishment}"
              enctype="multipart/form-data" method="POST">
             <!--Id-->
                    <th></th>
                    <td><input data-th-field="*{id}" data-th-if="${addStatus==false}" hidden type="text"/></td>
                    <!--Main Punishment -->
                    <tr>
                        <th><label class="control-label" for="mainPunishment">Punishment Type :</label></th>
                        <td>
                                <select class="form-control" data-th-field="*{punishmentType}" id="mainPunishment" required
                                        style="font-size: large" tabindex="4">
                                    <option value="">Please select</option>
                                    <option data-th-each="punishmentType : ${punishmentTypes}"
                                            data-th-text="${punishmentType.punishmentType}"
                                            data-th-value="${punishmentType}"></option>
                                </select>
                          </td>
                    </tr>
                    <!--Name-->
                    <tr>
                        <th><label class="control-label" data-th-for="${'name'}">Name :</label></th>
                        <td>
                                <input class="form-control" data-th-field="*{name}" required tabindex="4" type="text"/>
                                <span class="error"
                                      data-th-errors="*{name}" data-th-if="${#fields.hasErrors('name')}">Error Name</span>
                            </td>
                    </tr>
                    <!--Button-->
                    <tr>
                        <th></th>
                        <td><div class="form-group col-md-12 col-sm-12 text-center flex-column ">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-arrow-circle-left" style="font-size: 20px"></i>&nbsp;&nbsp;Back
                            </button>
                            <button class="btn btn-success ml-5" tabindex="21" type="submit">
                                <i class="fa fa-save " style="font-size: 20px"></i>&nbsp;&nbsp;<span
                                    data-th-text="${addStatus==true?'Save': 'Update'}"
                                    id="submit"></span>
                            </button>
                            <button class="btn btn-warning ml-5" tabindex="21" type="reset">
                                <i class="far fa-times-circle" style="font-size: 20px"></i>&nbsp;&nbsp;Cancel
                            </button>
                        </div></td>
                    </tr>
                    <!--Error-->
                    <tr>
                        <th></th>
                        <td><div class="form-row">
                            <label data-th-if="${#fields.hasErrors('*')}" data-th-text="'Errors: '"
                                   id="errorLabel">Errors: </label>
                            <ul>
                                <li class="error" data-th-each="err: ${#fields.errors('*')}" data-th-text="${err}"
                                    id="error"></li>
                            </ul>
                        </div></td>
                    </tr>

        </form>
    </table>
    </div>
                                </div>
                            </div>
</div>
                    </div>
                </div>
            </div>
<!--footer include-->
        </div>
    </div>


<!--<div data-th-replace="~{fragments/unicodeSinhala :: unicodeSinhalaFragment}" ></div >-->
<!--<div data-th-replace="~{fragments/unicodeTamil :: unicodeTamilFragment}" ></div >-->

 <div data-th-replace="~{fragments/footerSection :: footerSectionFragment}" ></div ><!-- footer Section -->
</div ><!-- wrapper end -->
<div data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}" ></div ><!-- script Fragment -->
</body >
</html >
