<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}" ></head >
<body class="hold-transition sidebar-mini layout-fixed" >
<div class="wrapper" ><!-- wrapper start -->
    <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}" ></nav ><!-- navbar Section -->
    <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}" ></aside ><!-- navbar Section -->
    <div class="content-wrapper" ><!-- content-wrapper Start -->
        <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}" ></section >

        <!--form action button---------------------------------------------------------     -->
        <div class="row m-1" >
            <div class="col-12" >
                <div class="text-right" >
                    <div text-right >
                        <button type="button" class="btn btn-success btn-sm mr-lg-1" >
                            <a data-th-href="${'/punishment/add'}" >
                                <span class="info-box-icon text-white" ><i class="fas fa-folder-open mr-1" ></i ></span >
                                <span class="text-white" > Add Punishment </span ></a >
                        </button >
                    </div >
                </div >
            </div >
        </div >
<!--Heading Area-->


        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4>Punishment Management</h4>
                                        <!--if not empty list-->

                                        <table class="table table-hover table-striped table-striped" id="myTable">
                                            <div class="row" id="instituteListPresent" data-th-if="${not #lists.isEmpty(punishments)}">
                                                <thead class="thead-inverse" >

                    <tr>
                        <th> Index</th>
                        <th> Type</th>
                        <th> Description</th>
                        <th> Modify</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-th-each="punishment, rowCount : ${punishments}">
                        <th data-th-text="${rowCount.count}"></th>
                        <th data-th-text="${punishment.punishmentType.punishmentType}"></th>
                        <th data-th-text="${punishment.name}"></th>
                        <th>
                            <a  data-th-href="${'/punishment/edit/' + punishment.id}" class="btn btn-success btn-sm"><i class="fa fa-edit" style="font-size: 15px"></i>&nbsp;Edit</a>
                            <a  data-th-href="${'/punishment/remove/' + punishment.id}" class="btn btn-danger btn-sm">
                             <!-- data-th-if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"--> <i class="fa fa-trash" style="font-size: 15px"></i> Delete</a>
                        </th>
                    </tr>
                </tbody>
                                            </div>
            </table>
        </div>
    </div>
    <!--Error-->
    <div class="row" data-th-if="${ #lists.isEmpty(punishments)}">
        <div class="col-sm-12">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="text-center text-danger">
                    <strong>There is no punishment upto now please add punishment to the system using "New" button.</strong>
                </h3>
            </div>
        </div>

    </div>
</div>

    </div >
    <div data-th-replace="~{fragments/footerSection :: footerSectionFragment}" ></div ><!-- footer Section -->
</div ><!-- wrapper end -->
                </div>
            </div>
        </div>
    </div>
</div>
<div data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}" ></div ><!-- script Fragment -->
</body >
</html >