<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section th:replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        <!-- Form Header  Path -->
        <section th:replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section><!-- Small Box Set -->






            <div class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4>First sud Header</h4>
                                            <form role="form">
                                                <a class="btn btn-success" id="newUser" th:href="${'/user/add'}">
                                                    <i class="fa fa-user-plus" style="font-size: 18px;"></i> &nbsp; Add User </a>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4>Secondary Header </h4>
                                            <div class="row" id="userListTable" th:if="${not #lists.isEmpty(users)}">
                                                <table class="table table-hover table-striped" id="myTable">
                                                    <thead class="thead-inverse">
                                                    <tr>
                                                        <th>Index</th>
                                                        <th>User Name</th>
                                                        <th>User Status</th>
                                                        <th>Created Date</th>
                                                        <th>Modify</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="user, rowCount : ${users}" scope="row">
                                                        <th th:text="${rowCount.count}"></th>
                                                        <th th:text="${user.username}"></th>
                                                        <th th:text="${user.enabled==true?'Active':'Blocked'}"></th>
                                                        <th th:text="${{user.createdAt}}"></th>
                                                        <th><a class="btn btn-success btn-sm" id="userView"><i
                                                                class="fa fa-folder-open" th:href="${'/user/' + user.id}"></i>&nbsp;View</a>
                                                            <a class="btn btn-primary btn-sm" id="userEdit" th:href="${'/user/edit/' + user.id}"><i
                                                                    class="fa fa-edit"></i>&nbsp;Edit</a>
                                                            <a class="btn btn-danger btn-sm" id="userRemove" th:href="${'/user/remove/' + user.id}"
                                                               th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                                                            ><i
                                                                    aria-hidden="true" class="fa fa-trash"></i>
                                                                Delete</a>
                                                        </th>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="row" id="userNotList" th:if="${ #lists.isEmpty(users)}">
                                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <h3 class="text-center text-danger">
                                                        <strong>There is no user upto know please add user to the system
                                                            using add user button.
                                                        </strong>
                                                    </h3>
                                                </div>

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- content-wrapper end -->
        <footer th:replace="~{fragments/footerSection :: footerSectionFragment}"></footer><!-- footer Section -->
    </div><!-- wrapper end -->
    <script th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></script><!-- script Fragment -->
</body>
</html>