<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}" ></head >
<body class="hold-transition sidebar-mini layout-fixed" >
<div class="wrapper" ><!-- wrapper start -->
    <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}" ></nav ><!-- navbar Section -->
    <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}" ></aside ><!-- navbar Section -->
    <div class="content-wrapper" ><!-- content-wrapper Start -->
        <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}" ></section ><!-- content-header Start -->
        <!--action button layer---------------------------------------------------------     -->
        <div class="row m-1">
            <div class="col-12">
                <div class="text-right">
                    <div text-right>
                        <button type="button" class="btn btn-info btn-sm">
                            <a  data-th-href="${'/employee/add'}" >
                                <span class="info-box-icon text-white"><i class="fa fa-plus mr-1" ></i ></span >
                                <span class="text-white"> Add Employee </span></a>
                        </button>
                        <!--                      <button type="button" class="btn btn-success btn-sm">-->
                        <!--                          <a  data-th-href="${'/employee'}" >-->
                        <!--                              <span class="info-box-icon text-white"><i class="fas fa-folder-open mr-1" ></i ></span >-->
                        <!--                              <span class="text-white"> View Employee </span></a>-->
                        <!--                      </button>-->
                        <!--                      <button type="button" class="btn btn-warning btn-sm hide" onclick="myEdit()">-->
                        <!--                          //                         <a  data-th-href="${'/designation/edit/'}" >-->
                        <!--                          <span class="info-box-icon text-white"><i class="fas fa-edit" ></i ></span >-->
                        <!--                          <span class="text-white"> Edit Employee </span></a>-->
                        <!--                      </button>-->
                        <!--                      <button type="button" class="btn btn-danger btn-sm " display="none" onclick="myDelete()">-->
                        <!--                          // <a  data-th-href="${'/designation/remove/'}" >-->
                        <!--                          <span class="info-box-icon text-white"><i class="fas fa-trash mr-1" ></i ></span >-->
                        <!--                          <span class="text-white"> Delete Employee </span></a>-->
                        <!--                      </button>-->
                        <button type="button" class="btn btn-success btn-sm">
                            <a  data-th-href="${'/home'}" >
                                <span class="info-box-icon text-white"><i class="fas fa-home mr-1" ></i ></span >
                                <span class="text-white"> Home </span></a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--form action end button---------------------------------------------------------     -->



        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h4>First sud Header</h4>
                                        <form role="form">
       <span id="formHeader"
             th:text="${userDetail.employee.title.title}+${' '}+${userDetail.employee.name}"></span>

                                            <a href="/user" class="btn btn-primary">
                                                <i class="fa fa-list"></i>&nbsp; View List
                                            </a>

                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="card">
                                    <div class="card-body">
                                        <h4>Secondary Header </h4>
                                        <div class="container-fluid bg-dark formBorder">
                                            <div class="row">
                                                <!--Left Side-->
                                                <div class="form-group col-md-6 col-sm-6 text-left flex-column">
                                                    <div class="form-row">
                                                        <!--id-->
                                                        <div class="col-md-4">
                                                            <label class="control-label">ID :</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <strong><span id="id" th:text="${userDetail.id}"></span></strong>
                                                        </div>
                                                    </div>
                                                    <!--User Name-->
                                                    <div class="form-row">
                                                        <div class="col-md-4">
                                                            <label class="control-label">User Name :</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <strong><span id="userName" th:text="${userDetail.username}"></span></strong>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Right Side-->
                                                <div class="form-group col-md-6 col-sm-6 text-left flex-column">
                                                    <!--Employee Details-->
                                                    <div class="form-row">
                                                        <div class="col-md-4">
                                                            <label class="control-label">Employee :</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <strong><span id="employeeName"
                                                                          th:text="${userDetail.employee.name}+ ${' - '}+${userDetail.employee.nic}"></span></strong>
                                                        </div>
                                                    </div>
                                                    <!--Created date-->
                                                    <div class="form-row">
                                                        <div class="col-md-4">
                                                            <label class="control-label">Created Date :</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <strong><span id="createDate" th:text="${{userDetail.createdAt}}"></span></strong>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-md-2">
                                                            <label class="control-label">Roles :</label>
                                                        </div>
                                                        <div class="col-md-10">
                                                            <table class="table table-responsive">
                                                                <thead>
                                                                <tr>
                                                                    <th>No</th>
                                                                    <th>Name</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr th:each="roles, count : ${userDetail.roles}">
                                                                    <th th:text="${count.count}"></th>
                                                                    <th th:text="${roles.roleName}"></th>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- content-wrapper end -->
    <div  data-th-replace="~{fragments/footerSection :: footerSectionFragment}"></div><!-- footer Section -->
</div><!-- wrapper end -->
<div  data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}"></div><!-- script Fragment -->
</body>
</html>
