<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        <!-- content-header Start -->
        <!--action button layer---------------------------------------------------------     -->
        <div class="row m-1">
            <div class="col-12">
                <div class="text-right">
                    <div text-right>
                        <button type="button" class="btn btn-info btn-sm mr-1">
                            <a data-th-href="${'/workingPlace'}">
                                <span class="info-box-icon text-white"><i class="fa fa-backward mr-1"></i></span>
                                <span class="text-white"> View Working Place List </span></a></button>

                        <button type="button" class="btn btn-success btn-sm">
                            <a data-th-href="${'/home'}">
                                <span class="info-box-icon text-white"><i class="fas fa-home mr-1"></i></span>
                                <span class="text-white"> Home </span></a>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4>Working Place</h4>
                                        <table class="table table-borderless table-hover">
                                            <form data-th-action="${addStatus==true?'/employeeWorkingPlace/save' :'/employeeWorkingPlace/update'}"
                                                  method="post" data-th-object="${employeeWorkingPlace}" class="mt-3">
                                                <input type="text"data-th-name="${'employee.id'}"
                                                       data-th-value="${employeeDetail.id}" hidden>

                                                <tr >
                                                    <th >
                                                        <label class="control-label" data-th-if="${addStatus==false}" for="id">ID :</label></th>
                                                    <td><input id="id" data-th-if="${addStatus==false}" data-th-field="*{id}" class="form-control"
                                                               type="text" readonly/></td>
                                                </tr>
                                                <tr>
                                                    <th><label class="control-label" for="workingPlace">Working Place
                                                        :</label></th>
                                                    <td><select id="workingPlace" data-th-field="*{workingPlace}"
                                                                class="form-control" tabindex="19"
                                                                required>
                                                        <option value="">Please select</option>
                                                        <option data-th-each="workingPlace : ${workingPlaces}"
                                                                data-th-text="${workingPlace.name}"
                                                                data-th-value="${workingPlace.id}"></option>
                                                    </select></td>
                                                </tr>
                                                <tr>
                                                    <th><label class="control-label" for="startAt">Start At :</label>
                                                    </th>
                                                    <td><input type="date" class="form-control " onchange="dateMatch()"
                                                               data-th-field="*{startAt}" id="startAt" required>

                                                        <span data-th-errors="*{startAt}"
                                                              data-th-if="${#fields.hasErrors('startAt')}"
                                                              class="error">Error Employee code
                            </span></td>
                                                </tr>
                                                <tr>
                                                    <th><label class="control-label" for="endAt">End At :</label></th>
                                                    <td><input type="date" class="form-control " onchange="dateMatch()"
                                                               data-th-field="*{endAt}" id="endAt" required>

                                                        <span data-th-errors="*{endAt}"
                                                              data-th-if="${#fields.hasErrors('endAt')}" class="error">Error Employee code
                            </span></td>
                                                </tr>
                                                <tr>
                                                    <th><label class="control-label" for="employeeStatus">Change Reason
                                                        :</label></th>
                                                    <td><select id="employeeStatus"
                                                                data-th-field="*{workingPlaceChangeReason}"
                                                                class="form-control"
                                                                tabindex="19"
                                                                required>
                                                        <option value="">Please select</option>
                                                        <option data-th-each="workingPlaceChangeReason : ${workingPlaceChangeReasons}"
                                                                data-th-text="${workingPlaceChangeReason.workingPlaceChangeReason}"
                                                                data-th-value="${workingPlaceChangeReason}"></option>
                                                    </select></td>
                                                </tr>


                                                <tr>
                                                    <th><label class="control-label" for="remarks">Remarks :</label>
                                                    </th>
                                                    <td><input id="remarks" data-th-field="*{remarks}"
                                                               class="form-control" tabindex="4"
                                                               type="text" required/>
                                                        <span id="codeE" data-th-errors="*{remarks}"
                                                              data-th-if="${#fields.hasErrors('remarks')}"
                                                              class="error">Error Employee code
                            </span></td>
                                                </tr>
                                                <tr>
                                                    <th></th>
                                                    <td>
                                                        <button class="btn btn-success" type="submit" tabindex="21">
                                                            <i class="fa fa-save " style="font-size: 20px"></i>&nbsp;
                                                            &nbsp;<span
                                                                data-th-text="${addStatus==true?'Save': 'Update'}"></span>
                                                        </button>
                                                        <button class="btn btn-danger" type="reset">
                                                            <i class="fa fa-redo"></i> <span id="reset">Reset</span>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th><label id="errorLabel" data-th-if="${#fields.hasErrors('*')}"
                                                               data-th-text="'Errors: '">Errors: </label></th>
                                                    <td>
                                                        <li id="error" data-th-each="err : ${#fields.errors('*')}"
                                                            data-th-text="${err}"
                                                            class="error"></li>
                                                    </td>
                                                </tr>
                                            </form>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</div>
<div data-th-replace="~{fragments/footerSection :: footerSectionFragment}"></div><!-- footer Section -->
<div data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}"></div><!-- script Fragment -->
<script>
    function dateMatch() {
        let startDateTime = $(`#startAt`).val();
        let endDateTime = $(`#endAt`).val();
        if (startDateTime !== "" && endDateTime !== "") {
            if (Date.parse(startDateTime) > Date.parse(endDateTime)) {
                swal({
                    title: "Could you accept those days.. !",
                    icon: "warning",
                    text: "Please check your date time \n End Date Time can not be less than Start Date Time",
                })
                $(`#endAt`).val(startDateTime);
            }
        }
    }
</script>
</body>
</html>
