<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        <!-- content-header Start -->
        <!--action button layer---------------------------------------------------------     -->
        <div class="row m-1">
            <div class="col-12">
                <div class="text-right">
                    <div text-right>
                        <button type="button" class="btn btn-info btn-sm">
                            <a data-th-href="${'/workingPlace/add'}">
                                <span class="info-box-icon text-white"><i class="fa fa-plus mr-1"></i></span>
                                <span class="text-white"> Add Workong Place </span></a>
                        </button>

                        <button type="button" class="btn btn-success btn-sm">
                            <a data-th-href="${'/home'}">
                                <span class="info-box-icon text-white"><i class="fas fa-home mr-1"></i></span>
                                <span class="text-white"> Home </span></a>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body" id="workingPlaceListTable"
                                         data-th-if="${not #lists.isEmpty(employeeWorkingPlaces)}">
                                        <h4>Secondary Header </h4>
                                        <table class="table table-hover table-striped" id="myTable">
                                            <thead class="thead-inverse">
                                            <tr>
                                                <th>Index</th>
                                                <th>Employee Name</th>
                                                <th>Worked Place</th>
                                                <th>Transfer Date</th>
                                                <th>Working Up to</th>
                                                <th> Transfer Reason</th>
                                                <th>Modify</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr data-th-each="employeeWorkingPlace, rowCount : ${employeeWorkingPlaces}"
                                                scope="row">
                                                <th data-th-text="${rowCount.count}"></th>
                                                <th data-th-text="${employeeWorkingPlace.employee.name}"></th>
                                                <th data-th-text="${employeeWorkingPlace.workingPlace.name}"></th>
                                                <th data-th-text="${{employeeWorkingPlace.startAt}}"></th>
                                                <th data-th-text="${{employeeWorkingPlace.endAt}}"></th>
                                                <th data-th-text="${employeeWorkingPlace.workingPlaceChangeReason.workingPlaceChangeReason}"></th>
                                                <th>
                                                    <a class="btn btn-primary btn-sm" id="qualificationEdit"
                                                       data-th-href="${'/employeeWorkingPlace/edit/' + employeeWorkingPlace.id}"><i
                                                            class="fa fa-edit"></i>&nbsp;Edit</a>
                                                    <!--        <a class="btn btn-danger btn-sm" id="qualificationRemove"-->
                                                    <!--           data-th-href="${'/employeeWorkingPlace/remove/' + employeeWorkingPlace.id}"-->
                                                    <!--           data-th-if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"-->
                                                    <!--           data-th-click="if(!(confirm('Are you want to delete this civilStatus ?'))) return false"-->
                                                    <!--        ><i-->
                                                    <!--              aria-hidden="true" class="fa fa-trash" ></i >-->
                                                    <!--          Delete</a >-->

                                                </th>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <!--if empty list-->
                                        <div class="row" id="qualificationNotList"
                                             data-th-if="${ #lists.isEmpty(employeeWorkingPlaces)}">
                                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h3 class="text-center text-danger">
                                                    <strong>There is no employee upto know please add
                                                        employeeWorkingPlace to the system
                                                        using add employee institute button.
                                                    </strong>
                                                </h3>
                                            </div>
                                        </div>
                                        <!--Show saved employeeWorkingPlace-->
                                        <div class="row" data-th-if="${employeeWorkingPlaces!=null}">
                                            <div class="col-sm-12">
                                                <div class="alert alert-success alert-dismissible fade show"
                                                     role="alert">
                                                    <button type="button" class="close" data-dismiss="alert"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
<!--                                                    <div class="container">-->
<!--                                                        <div data-th-replace="~{employeeWorkingPlace/employeeWorkingPlace-detail :: employeeWorkingPlaceDetailsFragment}"></div>-->
<!--                                                    </div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div><!-- content-wrapper end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>
    <div data-th-replace="~{fragments/footerSection :: footerSectionFragment}"></div><!-- footer Section -->

<!-- wrapper end -->

</div>
<div data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}"></div>
<script>
  /*active boostrap alert - start*/
  $(".alert").alert();
  /*active boostrap alert - end*/
</script><!-- script Fragment -->
</body>
</html>