<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}" ></head >
<body class="hold-transition sidebar-mini layout-fixed" >
<div class="wrapper" ><!-- wrapper start -->

      <div class="invisible">
        <div class="container-fluid" th:fragment="employeeWorkingPlace1" >
          <table class="table table-valign-middle table-hover table-borderless">
            <tbody>
            <tr>
              <td style="width: 5%" class="display_detail" th:text="${employeeWorkingPlace.workingPlaces}" ></td>
              <td style="width: 30%" class="display_detail" th:text="${employeeWorkingPlace.startAt}" ></td>
              <td style="width: 25%" class="display_detail"  th:text="${employeeWorkingPlace.endAt}" ></td>
              <td style="width: 20%" class="display_detail"  th:text="${employeeWorkingPlace.workingPlaceChangeReason}" ></td>
              <td style="width: 20%"><a data-th-href="${'/promotion/edit/'+ employeeWorkingPlace.remark}" class="btn btn-primary" > <i
                      class="fa fa-list" ></i >&nbsp; Edit  </a ></td>

            </tr>

            </tbody></table>
        </div >


</body >
</html >
