<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:data-th="http://www.w3.org/1999/xhtml">
<!-- Header (null area) -->
<section th:fragment="contentHeaderSectionFragment">

<!-- Form Header Path end-->
<div class="content-header mt-5 ">
    <div class="container-fluid">
        <div class="row" style="padding: 5px; background-color: #fff !important; ">
            <div class="col-sm-4" >
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="/mainWindow">Home</a></li>
                    <li class="breadcrumb-item active" th:text="${contendHeader}"></li>
                </ol>
            </div><!-- Form Header -->
            <div class="col-sm-8" >
                <ol class="float-sm-right mb-0">
<!--                    <button type="button" class="btn btn-primary btn-sm">-->
<!--                        <a  data-th-href="${'/employee/add'}" >-->
<!--                            <span class="info-box-icon text-white"><i class="fas fa-user mr-1" ></i ></span >-->
<!--                            <span class="text-white"> Add Employee </span></a>-->
<!--                    </button>-->
                    <!--<button type="button" class="btn btn-warning btn-sm">
                        <a  data-th-href="${'/employee/add'}" >
                            <span class="info-box-icon text-white"><i class="fas fa-folder-open mr-1" ></i ></span >
                            <span class="text-white"> View Employee </span></a>
                    </button>
                    <button type="button" class="btn btn-info btn-sm">
                        <a  data-th-href="${'/employee/add'}" >
                            <span class="info-box-icon text-white"><i class="fas fa-edit" ></i ></span >
                            <span class="text-white"> Edit Employee </span></a>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm">
                        <a  data-th-href="${'/employee/add'}" >
                            <span class="info-box-icon text-white"><i class="fas fa-trash mr-1" ></i ></span >
                            <span class="text-white"> Delete Employee </span></a>
                    </button>-->
                </ol>
            </div><!-- Form Header -->
        </div>
    </div>
</div>


<!-- Form Header  Path -->
</section>
</html>