<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Header (null area) -->
<section th:fragment="contentHeaderSectionFragment">
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark"></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"></li>
                    <li class="breadcrumb-item active"></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Header (null area) -->
<!-- Form Header Path end-->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2" style="background-color: #fff !important;">
            <div class="col-sm-12" >
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="/mainWindow">Home</a></li>
                    <li class="breadcrumb-item active" th:text="${contendHeader}">Employee</li>
                </ol>
<!--                <h1 class="m-0 text-dark" th:text="${contendHeader}">Employee</h1>-->

            </div><!-- Form Header -->
            <div class="col-sm-6">
<!--                <ol class="breadcrumb float-sm-left">-->
<!--                    <li class="breadcrumb-item"><a href="#">Home</a></li>-->
<!--                    <li class="breadcrumb-item active" th:text="${contendHeader}">Employee</li>-->
<!--                </ol>-->
            </div><!-- Form Path -->
        </div>
    </div>
</div>

<!--    <div class="sud-content-header">-->
<!--        <div class="container-fluid">-->
<!--            <div class="row mb-2" style="background-color: #fff !important;">-->
<!--                <div class="col-sm-12" >-->
<!--                    <ol class="breadcrumb float-sm-left">-->
<!--                        <li class="breadcrumb-item active" th:text="${contendHeader}">Employee</li>-->
<!--                    </ol>-->
<!--                    &lt;!&ndash;                <h1 class="m-0 text-dark" th:text="${contendHeader}">Employee</h1>&ndash;&gt;-->

<!--                </div>&lt;!&ndash; Form Header &ndash;&gt;-->
<!--                <div class="col-sm-6">-->
<!--                    &lt;!&ndash;                <ol class="breadcrumb float-sm-left">&ndash;&gt;-->
<!--                    &lt;!&ndash;                    <li class="breadcrumb-item"><a href="#">Home</a></li>&ndash;&gt;-->
<!--                    &lt;!&ndash;                    <li class="breadcrumb-item active" th:text="${contendHeader}">Employee</li>&ndash;&gt;-->
<!--                    &lt;!&ndash;                </ol>&ndash;&gt;-->
<!--                </div>&lt;!&ndash; Form Path &ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!-- Form Header  Path -->
</section>
</html>