<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="sidebarSectionFragment" class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Company Logo -->
    <a href="index.html" class="brand-link">
        <img src="/img/airporticon.png" alt="AVSEC" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">AVSEC WMS</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->


        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/img/user.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a><span data-th-text="${#authentication.name}"></span></a>
            </div>
        </div>
<!--        <a data-sec-authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_PRESIDENT')"  data-th-href="@{'/employee'}" class="nav-link text-primary"> Employee Management </a>-->
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->

                <li class="nav-item">
                    <a href="/home" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Home
<!--                            <span class="right badge badge-danger">New</span>-->
                        </p>
                    </a>
                </li> <!--Dashboad-->
                <li class="nav-item has-treeview" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'',''ROLE_TREASURE'', ''ROLE_AGENT'')')}">
                    <a href="#" class="nav-link">
                <i class="fas fa-users"></i>
                        <p>
                            Employee Mgt
                            <i class="fas fa-angle-left right"></i>
                            <span class="badge badge-info right"></span>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'',''ROLE_TREASURE'', ''ROLE_AGENT'')')}">
                            <a href="/employee" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>View Employee</p>
                            </a>
                        </li>
                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'')')}">
                            <a href="/employee/add" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add Employee</p>
                            </a>
                        </li>
                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'')')}">
                            <a href="/designation" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>View Designation</p>
                            </a>
                        </li>
                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'')')}">
                            <a href="/offence" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>View Offence</p>
                            </a>
                        </li>
                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'')')}">
                            <a href="/offence/add" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add Offence</p>
                            </a>
                        </li>
                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'')')}">
                            <a href="/workingPlace" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Working Place</p>
                            </a>
                        </li>
                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'')')}">
                            <a href="/workingPlace/add" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add Working Place</p>
                            </a>
                        </li>
                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'')')}">
                            <a href="/punishment" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>View Punishment</p>
                            </a>
                        </li>
                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'')')}">
                            <a href="/punishment/add" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add Punishment</p>
                            </a>
                        </li>
                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'')')}">
                            <a href="/district" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>View District</p>
                            </a>
                        </li>
                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'')')}">
                            <a href="/district" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add District</p>
                            </a>
                        </li>


                    </ul>
                </li><!--Members Mgt-->
                <li class="nav-item has-treeview" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'',''ROLE_TREASURE'', ''ROLE_AGENT'')')}">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Account Mgt
                            <i class="fas fa-angle-left right"></i>
<!--                            <span class="badge badge-light right">8</span>-->
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_AGENT'')')}">
                            <a href="/collection" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Collection</p>
                            </a>
                        </li>
                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'',''ROLE_TREASURE'')')}">
                            <a href="/instalmentType" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Instalment Type</p>
                            </a>
                        </li>
                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_TREASURE'')')}">
                            <a href="/otherFundReceiving" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Other Fund Receiving</p>
                            </a>
                        </li>
                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_TREASURE'')')}">
                            <a href="/deathDonation" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Death Donation</p>
                            </a>
                        </li>
                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_TREASURE'')')}">
                            <a href="/otherExpence" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Other Expence</p>
                            </a>
                        </li>
                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_TREASURE'')')}">
                            <a href="/collection/treasure" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Collection Save</p>
                            </a>
                        </li>

                    </ul>
                </li><!--Account Mgt-->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>
                            Notification Mgt
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'',''ROLE_TREASURE'', ''ROLE_AGENT'',''ROLE_MEMBER'')')}">
                            <a href="/briefing" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Day Briefing</p>
                            </a>
                        </li>
                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'')')}">
                            <a href="/briefing/add" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add Briefing</p>
                            </a>
                        </li>
                            <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'',''ROLE_TREASURE'', ''ROLE_AGENT'',''ROLE_MEMBER'')')}">
                                <a href="/grievances" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>View Grievances</p>
                                </a>
                            </li>
                            <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'',''ROLE_TREASURE'', ''ROLE_AGENT'',''ROLE_MEMBER'')')}">
                                <a href="/grievances/add" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Add Grievances</p>
                                </a>
                            </li>
                        </ul>
                </li><!--Notice mgt-->
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>
                            System Mgt
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'')')}">
                            <a href="/user" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>View User</p>
                            </a>
                        </li>
                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'')')}">
                            <a href="/user/add" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add User</p>
                            </a>
                        </li>
                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'')')}">
                            <a href="/role" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Privilege Mgt</p>
                            </a>
                        </li>
                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'')')}">
                            <a href="/role/add" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add Role</p>
                            </a>
                        </li>
                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'',''ROLE_TREASURE'', ''ROLE_AGENT'',''ROLE_MEMBER'')')}">
                            <a href="/profile" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Profile</p>
                            </a>
                        </li>
                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'',''ROLE_TREASURE'', ''ROLE_AGENT'',''ROLE_MEMBER'')')}">
                            <a href="/passwordChange" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Password Change</p>
                            </a>
                        </li>
                    </ul>
                </li><!--System Mgt-->

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Report Mgt
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
<!--                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'',''ROLE_TREASURE'', ''ROLE_AGENT'',''ROLE_MEMBER'')')}">-->
<!--                            <a href="#" class="nav-link">-->
<!--                                <i class="far fa-circle nav-icon"></i>-->
<!--                                <p>Employee List</p>-->
<!--                            </a>-->
<!--                        </li>-->


<!--                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'',''ROLE_TREASURE'', ''ROLE_AGENT'',''ROLE_MEMBER'')')}">-->
<!--                            <a href="/report/employee" class="nav-link">-->
<!--                                <i class="far fa-circle nav-icon"></i>-->
<!--                                <p>Employee Reports</p>-->
<!--                            </a>-->
<!--                        </li>-->

                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'',''ROLE_TREASURE'')')}">
                            <a href="/report/deathDonation" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Death Donation</p>
                            </a>
                        </li>

<!--                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'',''ROLE_TREASURE'', ''ROLE_AGENT'')')}">-->
<!--                            <a href="/report/employeeAllCount" class="nav-link">-->
<!--                                <i class="far fa-circle nav-icon"></i>-->
<!--                                <p>Employee All Count</p>-->
<!--                            </a>-->
<!--                        </li>-->

                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'')')}">
                            <a href="/report/mainAccount" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Main Account</p>
                            </a>
                        </li>

                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'',''ROLE_TREASURE'', ''ROLE_AGENT'')')}">
                            <a href="/report/agentVise" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Agent Vise Payment</p>
                            </a>
                        </li>

                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'')')}">
                            <a href="/report/offenceCount" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Offence Summary</p>
                            </a>
                        </li>

                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'')')}">
                            <a href="/report/otherExpense" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Other Expence Summary</p>
                            </a>
                        </li>

                        <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'')')}">
                            <a href="/report/otherFundReceivingType" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Other Fund Receiving Summary</p>
                            </a>
                        </li>



                    </ul>
                </li><!--Report Mgt-->
                <li class="nav-item has-treeview menu-open">
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/logout" class="nav-link active">
                                <i class="fas fa-sign-out-alt"></i>
                                <p>Log Out</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>







</div >
<!--footer include-->
<div data-th-replace="~{fragments/footerSection :: footerSectionFragment}" ></div ><!-- footer Section -->
</div><!-- wrapper end -->
<div data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}" ></div ><!-- script Fragment -->
</body >
</html >
