<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
 <div th:fragment="smallBoxFragment" class="row">
        <!-- 4 small box col-lg-3 col-6-->
        <div class="col-lg-3 col-6">
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>1867</h3>

                    <p>Members</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>23<sup style="font-size: 20px"></sup></h3>

                    <p>Section</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>30</h3>

                    <p>Notices</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>4</h3>

                    <p>Activity</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
       <!-- ./col -->

     <!-- Info Box -->
<!--     <h5 class="mb-2">Info Box</h5>
     <div class="row">
         <div class="col-md-3 col-sm-6 col-12">
             <div class="info-box">
                 <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>

                 <div class="info-box-content">
                     <span class="info-box-text">Messages</span>
                     <span class="info-box-number">1,410</span>
                 </div>
                 &lt;!&ndash; /.info-box-content &ndash;&gt;
             </div>
             &lt;!&ndash; /.info-box &ndash;&gt;
         </div>
         <div class="col-md-3 col-sm-6 col-12">
             <div class="info-box">
                 <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>

                 <div class="info-box-content">
                     <span class="info-box-text">Bookmarks</span>
                     <span class="info-box-number">410</span>
                 </div>
                 &lt;!&ndash; /.info-box-content &ndash;&gt;
             </div>
             &lt;!&ndash; /.info-box &ndash;&gt;
         </div>
         <div class="col-md-3 col-sm-6 col-12">
             <div class="info-box">
                 <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>

                 <div class="info-box-content">
                     <span class="info-box-text">Uploads</span>
                     <span class="info-box-number">13,648</span>
                 </div>
                 &lt;!&ndash; /.info-box-content &ndash;&gt;
             </div>
             &lt;!&ndash; /.info-box &ndash;&gt;
         </div>
         <div class="col-md-3 col-sm-6 col-12">
             <div class="info-box">
                 <span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>

                 <div class="info-box-content">
                     <span class="info-box-text">Likes</span>
                     <span class="info-box-number">93,139</span>
                 </div>
                 &lt;!&ndash; /.info-box-content &ndash;&gt;
             </div>
             &lt;!&ndash; /.info-box &ndash;&gt;
         </div>
     </div>-->
     <!-- Info Box end -->

    </div>



</html>