<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section th:replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        <!-- Form Header  Path -->
        <section th:replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section><!-- Small Box Set -->

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h4>First sud Header</h4>
                                <form role="form">
                                    <a class="btn btn-primary" href="/home"> <i class="fa fa-home" ></i>  Home </a>
                                    <a href="/employee" class="btn btn-primary"><i class="fa fa-list"></i>&nbsp; View List </a>


                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-body">
                                <h4>Secondary Header </h4>
                                <form th:action="${addStatus==true?'/employee/save' :'/employee/update'}" method="post" th:object="${employee}">
                                    <div class="row">
                                        <div class="col-md-6"><!--Left Side-->
                                            <!--ID -->
                                            <div id="idStatus" th:if="${addStatus==false}" class="form-row text-right">

                                                <label class="control-label" for="id">ID :</label>


                                                <input id="id" th:field="*{id}" class="form-control" type="text" readonly/>

                                            </div>
                                            <!--Tittle -->
                                            <div class="form-group">

                                                <label class="control-label" for="title">Title :</label>


                                                <select id="title" th:field="*{title}" class="form-control" tabindex="3" required>
                                                    <option value="">Please select</option>
                                                    <option th:each="titles : ${title}"
                                                            th:text="${titles.title}"
                                                            th:value="${titles}"
                                                            th:selected="${titles==employee.title?'selected':'unselected'}"></option>
                                                </select>
                                            </div>
                                            <!--Name-->
                                            <div class="form-group">

                                                <label class="control-label" for="name">Name :</label>


                                                <input id="name" th:field="*{name}" class="form-control" type="text" required/>
                                                <span id="nameError" th:errors="*{name}"
                                                      th:if="${#fields.hasErrors('name')}" class="error">Error Name</span>
                                            </div>
                                            <!--Calling Name-->
                                            <div class="form-group">
                                                <label class="control-label" for="callingName">Calling Name :</label>
                                                <input id="callingName" th:field="*{callingName}" class="form-control" tabindex="5" type="text" minlength="5"/>
                                                <span class="error" th:errors="*{callingName}"
                                                      th:if="${#fields.hasErrors('callingName')}" id="callingNameError">Error
                                                                       Calling                                                                                                                        Name</span>
                                            </div>
                                            <!--Nic-->
                                            <div class="form-group">

                                                <label class="control-label" for="nic">NIC No :</label>

                                                <input id="nic" th:field="*{nic}" class="form-control" tabindex="6" type="text"
                                                       maxlength="12"
                                                       minlength="10" required/>
                                                <span class="error" id="nicError" th:errors="*{nic}"
                                                      th:if="${#fields.hasErrors('nic')}">Error
                                                               NIC Number</span>

                                            </div>
                                            <!--Gender-->
                                            <div class="form-group">

                                                <label class="control-label" for="gender">Gender :</label>

                                                <select id="gender" th:field="*{gender}" class="form-control" tabindex="7" required>
                                                    <option value="">Please select</option>
                                                    <option th:each="genders : ${gender}"
                                                            th:text="${genders.gender}"
                                                            th:value="${genders}"
                                                            th:selected="${genders==employee.gender?'selected':'unselected'}"></option>
                                                </select>

                                            </div>
                                            <!--Date of birth-->
                                            <div class="form-group">

                                                <label class="control-label" for="dateOfBirth">Birth date :</label>


                                                <input id="dateOfBirth" th:field="*{dateOfBirth}" class="form-control" tabindex="8"
                                                       placeholder="Ex: 1990 - 01 - 20"
                                                       required type="date"/>
                                                <span id="dateOfBirthError" th:errors="*{dateOfBirth}"
                                                      th:if="${#fields.hasErrors('dateOfBirth')}" class="error">Error Birthday</span>

                                            </div>
                                            <!--Blood group-->
                                            <div class="form-group">

                                                <label class="control-label" for="bloodGroup">Blood Group :</label>

                                                <select id="bloodGroup" th:field="*{bloodGroup}" class="form-control" tabindex="9" required>
                                                    <option value="">Please select</option>
                                                    <option th:each="bloodGroups : ${bloodGroup}"
                                                            th:text="${bloodGroups.bloodGroup}"
                                                            th:value="${bloodGroups}"
                                                            th:selected="${bloodGroups==employee.bloodGroup?'selected':'unselected'}">Please
                                                        select
                                                    </option>
                                                </select>

                                            </div>
                                            <!--Designation-->
                                            <div class="form-group">

                                                <label class="control-label" for="designation">Designation :</label>

                                                <select id="designation" th:field="*{designation}" class="form-control" tabindex="10"
                                                        required>
                                                    <option value="">Please select</option>
                                                    <option th:each="designations : ${designation}"
                                                            th:text="${designations.name}"
                                                            th:value="${designations.id}"
                                                            th:selected="${designations==employee.designation?'selected':'unselected'}"></option>
                                                </select>

                                            </div>
                                            <!--Photos-->
                                            <div class="form-group">
                                                <label class="active ">Photos :</label>
                                                <label>Please remove numbers where included in image number </label>
                                                <div class="input-images" style="padding-top: .5rem;"></div>
                                            </div>
                                            <div class="col" id="photoDetails" th:if="${addStatus==false}">
                                                <label class="control-label ">Photo Details : </label>
                                                <div class="col" id="filesList" th:each="file, rowStat: ${files}">
                                                    <div class="col">
                                                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                            <button id="alertClose" type="button" class="close" data-dismiss="alert"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                            <div class="card-header" hidden>
                                                                <input id="removeImages" th:value="${file.filename}" type="text"
                                                                       name="removeImages">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                          <img id="img" class="rounded" src="" th:src="${file.url}"
                                                         style="height: 150px; width: 150px; border-radius: 10px" alt=""/>
                                                </div>
                                                <div class="form-group">
                                                    <p id="imgName" th:text="${file.filename}"></p>
                                                    <p> Uploaded Date : <span id="imgCreateAt"    th:text="${{file.createAt}}"></span>
                                                    </p>
                                                </div>
                                                <button class="btn btn-success" type="submit" tabindex="21">
                                                    <i class="fa fa-save " style="font-size: 20px"></i>&nbsp; &nbsp;<span id="submit"
                                                                                                                          th:text="${addStatus==true?'Save': 'Update'}"></span>
                                                </button>
                                                <div class="form-row">
                                                    <label id="errorLabel" th:if="${#fields.hasErrors('*')}" th:text="'Errors: '">Errors: </label>
                                                    <ul>
                                                        <li id="error" th:each="err: ${#fields.errors('*')}" th:text="${err}" class="error"></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6"><!--Right Side-->
                                            <div class="form-group">

                                                <label class="control-label" for="civilStatus">Civil State :</label>

                                                <select th:field="*{civilStatus}" id="civilStatus" class="form-control" tabindex="11"
                                                        required>
                                                    <option value="">Please select</option>
                                                    <option th:each="civilStatu : ${civilStatus}"
                                                            th:text="${civilStatu.CivilStatus}"
                                                            th:value="${civilStatu}"
                                                            th:selected="${civilStatu==employee.civilStatus?'selected':'unselected'}"></option>
                                                </select>

                                            </div>
                                            <!--Address-->
                                            <div class="form-group">

                                                <label class="control-label" for="address">Address :</label>

                                                <textarea id="address" th:field="*{address}" class="form-control" tabindex="12"
                                                          required></textarea>
                                                <span class="error" th:errors="*{address}"
                                                      th:if="${#fields.hasErrors('address')}" id="addressError">Error Address</span>

                                            </div>
                                            <!--Mobile Number One-->
                                            <div class="form-group">

                                                <label class="control-label" for="mobileOne">Mobile One No :</label>

                                                <input id="mobileOne" th:field="*{mobileOne}" class="form-control mobile" tabindex="13"
                                                       type="text"
                                                       maxlength="10" min="9"
                                                       required/>
                                                <span class="error" th:errors="*{mobileOne}"
                                                      th:if="${#fields.hasErrors('mobileOne')}"
                                                      id="mobileOneError">Error Mobile Number</span>

                                            </div>
                                            <!--Mobile Number Two-->
                                            <div class="form-group">

                                                <label class="control-label" for="mobileTwo">Mobile Two No :</label>

                                                <input id="mobileTwo" th:field="*{mobileTwo}" class="form-control mobile" tabindex="14"
                                                       type="text"
                                                       maxlength="10" min="9"/>
                                                <span class="error" th:errors="*{mobileTwo}"
                                                      th:if="${#fields.hasErrors('mobileTwo')}"
                                                      id="mobileTwoError">Error Mobile  Number</span>

                                            </div>
                                            <!--Land Number-->
                                            <div class="form-group">

                                                <label class="control-label" for="land">Land No :</label>

                                                <input id="land" th:field="*{land}" class="form-control land" type="text" tabindex="15"
                                                       maxlength="10"
                                                       min="9"/>
                                                <span class="error" th:errors="*{land}"
                                                      th:if="${#fields.hasErrors('land')}" id="landError">Error Land Number</span>

                                            </div>
                                            <!--Email-->
                                            <div class="form-group">

                                                <label class="control-label" for="email">Email :</label>

                                                <input id="email" th:field="*{email}" class="form-control" tabindex="16" type="email"
                                                       required/>
                                                <span class="error" th:errors="*{email}"
                                                      th:if="${#fields.hasErrors('email')}" id="emailError">Error Email</span>

                                            </div>
                                            <!--Office email-->
                                            <div class="form-group">

                                                <label class="control-label" for="officeEmail">Office Email :</label>

                                                <input id="officeEmail" th:field="*{officeEmail}" class="form-control" tabindex="17"
                                                       type="email" required/>
                                                <span class="error" th:errors="*{officeEmail}"
                                                      th:if="${#fields.hasErrors('officeEmail')}"
                                                      id="officeEmailError">Error Office Email</span>

                                            </div>
                                            <!--Date of assignment-->
                                            <div class="form-group">

                                                <label class="control-label" for="dateOfAssignment">Date Of Assignment :</label>

                                                <input id="dateOfAssignment" th:field="*{{dateOfAssignment}}" type="date"
                                                       class="form-control" tabindex="18"
                                                       placeholder="Ex: 1990 - 01 - 20" required/>
                                                <span class="error" th:errors="*{dateOfAssignment}"
                                                      th:if="${#fields.hasErrors('dateOfAssignment')}" id="dateOfAssignmentError">Error Date Of Assignment</span>

                                            </div>
                                            <!--Employee receivingExpensesStatus-->
                                            <div class="form-group">

                                                <label class="control-label" for="employeeStatus">Employee Status :</label>

                                                <select id="employeeStatus" th:field="*{employeeStatus}" class="form-control" tabindex="19"
                                                        required>
                                                    <option value="">Please select</option>
                                                    <option th:each="employeeStatuss : ${employeeStatus}"
                                                            th:text="${employeeStatuss.employeeStatus}"
                                                            th:value="${employeeStatuss}"
                                                            th:selected="${employeeStatuss==employee.employeeStatus?'selected':'unselected'}"></option>
                                                </select>

                                            </div>
                                            <div class="form-group" id="updateStatus" th:if="${addStatus==false}">
                                                <label class="control-label" for="createdBy">Created By :</label>

                                                <input id="createdBy" th:field="*{createdBy}" class="form-control" type="text"
                                                       readonly/>

                                            </div>


                                        </div>

                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">
                                            <i th:class="${addStatus==true?'fa fa-save mr-1':'fa fa-thumbs-up mr-1'}"></i> <span
                                                th:text="${addStatus==true?'Save' : 'Update'}"></span>
                                        </button>
                                    </div>
                                </form>
  </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div></div>
</div><!-- content-wrapper end -->
<footer th:replace="~{fragments/footerSection :: footerSectionFragment}"></footer><!-- footer Section -->
</div><!-- wrapper end -->
<script th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></script><!-- script Fragment -->
<script>
    $('.input-images').imageUploader();
</script>
</body>
</html>