<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}" ></head >
<body class="hold-transition sidebar-mini layout-fixed" >
<div class="wrapper" ><!-- wrapper start -->
  <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}" ></nav ><!-- navbar Section -->
  <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}" ></aside ><!-- navbar Section -->
  <div class="content-wrapper" ><!-- content-wrapper Start -->
    <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}" ></section >

    <!--form action button---------------------------------------------------------     -->
    <div class="row m-1" >
      <div class="col-12" >
        <div class="text-right" >
          <div text-right >
            <button type="button" class="btn btn-success btn-sm mr-lg-1" >
              <a data-th-href="${'/employee'}" >
                <span class="info-box-icon text-white" ><i class="fas fa-folder-open mr-1" ></i ></span >
                <span class="text-white" > View Employee </span ></a >
            </button >
          </div >
        </div >
      </div >
    </div >
    <!--form action end button---------------------------------------------------------     -->
    <div class="content-header" >
      <div class="container-fluid" >
        <div class="row" >
          <div class="col-md-12" >
            <div class="row" >
              <div class="col-md-12" >
                <div class="card" >
                  <div class="card-body" >
                    <!-- <h4>
                       <div data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"/>
                     </h4>-->
                    <form data-th-action="${addStatus==true?'/employee/save' :'/employee/update'}"
                          method="post" data-th-object="${employee}" enctype="multipart/form-data" >
                      <!--Employee personal data-->
                      <div class="row" >
                        <!--left side-->
                        <div class="col-md-6" ><!--Left Side-->
                                               <!--ID -->
                          <div id="idStatus" data-th-if="${addStatus==false}"
                               class="form-row text-right" >

                            <label class="control-label" for="id" >ID :</label >


                            <input id="id" data-th-field="*{id}" class="form-control"
                                   type="text"
                                   readonly />

                          </div >
                                               <!--Name-->
                          <div class="form-group" >
                            <label class="control-label" for="name" >Name :</label >
                            <div class="form-row" >
                              <select id="title" data-th-field="*{title}"
                                      class="form-control col-2"
                                      autofocus="autofocus" required >
                                <option data-th-each="titles : ${title}"
                                        data-th-text="${titles.title}"
                                        data-th-value="${titles}"
                                        data-th-selected="${titles==employee.title?'selected':'unselected'}" ></option >
                              </select >
                              <input id="name" data-th-field="*{name}"
                                     class="form-control col-10"
                                     type="text" required />
                              <span id="nameError" data-th-errors="*{name}"
                                    data-th-if="${#fields.hasErrors('name')}"
                                    class="error" >Error Name</span >
                            </div >
                          </div >
                                               <!--Full Name-->
                          <div class="form-group" >
                            <label class="control-label" for="name" >Full Name :</label >
                            <input id="fullName" data-th-field="*{fullName}"
                                   class="form-control"
                                   type="text" tabindex="2" required />
                            <span id="fullNameError" data-th-errors="*{fullName}"
                                  data-th-if="${#fields.hasErrors('fullName')}"
                                  class="error" >Error Full Name</span >
                          </div >
                                               <!--Calling Name-->
                          <div class="form-group" >
                            <label class="control-label" for="callingName" >Calling Name
                                                                            :</label >
                            <input id="callingName" data-th-field="*{callingName}"
                                   class="form-control" tabindex="3" type="text"
                                   minlength="5" />
                            <span class="error" data-th-errors="*{callingName}"
                                  data-th-if="${#fields.hasErrors('callingName')}"
                                  id="callingNameError" >Error
                                                                       Calling                                                                                                                        Name</span >
                          </div >
                                               <!--Nic-->
                          <div class="form-group" >
                            <label class="control-label" for="nic" >NIC No :</label >
                            <input id="nic" data-th-field="*{nic}" class="form-control"
                                   tabindex="4" type="text"
                                   maxlength="12"
                                   minlength="10" required />
                            <span class="error" id="nicError" data-th-errors="*{nic}"
                                  data-th-if="${#fields.hasErrors('nic')}" >Error
                                                               NIC Number</span >
                          </div >
                                               <!--Gender-->
                          <div class="form-group" >
                            <label data-th-for="${gender}" >Gender:</label >
                            <!--Radio button-->
                            <div class="col" >
                              <div class="custom-control custom-checkbox custom-control-inline "
                                   data-th-each="genders,index : ${gender}" >
                                <input class="custom-control-input gender" tabindex="-1" required
                                       data-th-name="${'gender'}"
                                       data-th-value="${genders}"
                                       data-th-id="${index.index}+${genders}"
                                       type="radio"
                                       data-th-checked="${genders==gender}" />
                                <label class="custom-control-label" tabindex="-1"
                                       data-th-for="${index.index}+${genders}"
                                       data-th-text="${genders.gender}" > radio
                                </label >
                              </div >
                            </div >
                          </div >
                                               <!--Date of birth-->
                          <div class="form-group" >
                            <label class="control-label" for="dateOfBirth" >Birth date
                                                                            :</label >
                            <input id="dateOfBirth" data-th-field="*{dateOfBirth}"
                                   class="form-control" tabindex="-1"
                                   placeholder="Ex: 1990 - 01 - 20"
                                   required type="date" readonly />
                            <span data-th-errors="*{dateOfBirth}"
                                  data-th-if="${#fields.hasErrors('dateOfBirth')}"
                                  class="error" >Error Birthday</span >
                          </div >
                                               <!--Nationality -->
                          <div class="form-group" >
                            <label class="control-label"
                                   data-th-for="nationality" >Nationality
                                                              :</label >
                            <select id="nationality" data-th-field="*{nationality}"
                                    class="form-control" tabindex="5" required >
                              <option value="" >Please select</option >
                              <option data-th-each="nationalitys : ${nationality}"
                                      data-th-text="${nationalitys.nationality}"
                                      data-th-value="${nationalitys}"
                                      data-th-selected="${nationalitys==employee.nationality?'selected':'unselected'}" ></option >
                            </select >
                          </div >
                                               <!--religion-->
                          <div class="form-group" >
                            <label class="control-label" for="religion" >Religion :</label >
                            <select id="religion" data-th-field="*{religion}"
                                    class="form-control" tabindex="6" required >
                              <option value="" >Please select</option >
                              <option data-th-each="religions : ${religion}"
                                      data-th-text="${religions.religion}"
                                      data-th-value="${religions}"
                                      data-th-selected="${religions==employee.religion?'selected':'unselected'}" >
                                Please
                                select
                              </option >
                            </select >
                          </div >
                                               <!--Blood group-->
                          <div class="form-group" >
                            <label class="control-label" for="bloodGroup" >Blood Group
                                                                           :</label >
                            <select id="bloodGroup" data-th-field="*{bloodGroup}"
                                    class="form-control" tabindex="7" required >
                              <option value="" >Please select</option >
                              <option data-th-each="bloodGroups : ${bloodGroup}"
                                      data-th-text="${bloodGroups.bloodGroup}"
                                      data-th-value="${bloodGroups}"
                                      data-th-selected="${bloodGroups==employee.bloodGroup?'selected':'unselected'}" >
                                Please
                                select
                              </option >
                            </select >
                          </div >
                                               <!--EPF-->
                          <div class="form-group" >

                            <label class="control-label" for="epf" >EPF No
                                                                    :</label >

                            <input id="epf" data-th-field="*{epf}"
                                   class="form-control" tabindex="8"
                                   type="text" />
                            <span class="error" data-th-errors="*{epf}"
                                  data-th-if="${#fields.hasErrors('epf')}"
                                  id="epfError" >Error epf</span >

                          </div >
                                               <!--uniformType-->
                          <div class="form-group" >
                            <label class="control-label" for="uniformType" >Uniform Type
                                                                            :</label >
                            <select id="uniformType" data-th-field="*{uniformType}"
                                    class="form-control" tabindex="9" required >
                              <option value="" >Please select</option >
                              <option data-th-each="uniformTypes : ${uniformType}"
                                      data-th-text="${uniformTypes.uniformType}"
                                      data-th-value="${uniformTypes}"
                                      data-th-selected="${uniformTypes==employee.uniformType?'selected':'unselected'}" >
                                Please
                                select
                              </option >
                            </select >
                          </div >
                                               <!--Designation-->
                          <div class="form-group" >
                            <label class="control-label" for="designation" >Designation
                                                                            :</label >
                            <select id="designation" data-th-field="*{designation}"
                                    class="form-control" tabindex="10"
                            >
                              <option value="" >Please select</option >
                              <option data-th-each="designations : ${designation}"
                                      data-th-text="${designations.name}"
                                      data-th-value="${designations.id}"
                                      data-th-selected="${designations==employee.designation?'selected':'unselected'}" ></option >
                            </select >
                          </div >
                                               <!--position-->
                          <div class="form-group" >
                            <label class="control-label" for="designation" >Welfare Position
                                                                            :</label >
                            <select data-th-field="*{welfarePosition}" class="form-control"
                                    tabindex="11" >
                              <option value="" >Please select</option >
                              <option data-th-each="welfarePosition : ${welfarePositions}"
                                      data-th-text="${welfarePosition.welfarePosition}"
                                      data-th-value="${welfarePosition}"
                              ></option >
                            </select >
                          </div >
                                               <!--intakeNo-->
                          <div class="form-group" >
                            <label class="control-label" for="intakeNo" >Intake No :</label >
                            <input id="intakeNo" data-th-field="*{intakeNo}"
                                   class="form-control"
                                   tabindex="12" type="text" />
                            <span id="intakeNoError" data-th-errors="*{intakeNo}"
                                  data-th-if="${#fields.hasErrors('intakeNo')}"
                                  class="error" >Error IntakeNo</span >
                          </div >
                                               <!--Email-->
                          <div class="form-group" >

                            <label class="control-label" for="email" >Email :</label >

                            <input id="email" data-th-field="*{email}" class="form-control"
                                   tabindex="13" type="email"
                                   required />
                            <span class="error" data-th-errors="*{email}"
                                  data-th-if="${#fields.hasErrors('email')}"
                                  id="emailError" >Error Email</span >

                          </div >
                                               <!--Office email-->
                          <div class="form-group" >

                            <label class="control-label" for="officeEmail" >Office Email
                                                                            :</label >

                            <input id="officeEmail" data-th-field="*{officeEmail}"
                                   class="form-control" tabindex="14"
                                   type="email" />
                            <span class="error" data-th-errors="*{officeEmail}"
                                  data-th-if="${#fields.hasErrors('officeEmail')}"
                                  id="officeEmailError" >Error Office Email</span >

                          </div >


                        </div >
                        <!--right side-->
                        <div class="col-md-6" >

                          <!-- Civil State-->
                          <div class="form-group" >
                            <label class="control-label" for="civilStatus" >Civil State
                                                                            :</label >

                            <select data-th-field="*{civilStatus}" id="civilStatus"
                                    class="form-control" tabindex="15"
                                    required >
                              <option value="" >Please select</option >
                              <option data-th-each="civilStatu : ${civilStatus}"
                                      data-th-text="${civilStatu.CivilStatus}"
                                      data-th-value="${civilStatu}"
                                      data-th-selected="${civilStatu==employee.civilStatus?'selected':'unselected'}" ></option >
                            </select >

                          </div >
                          <!--Address-->
                          <div class="form-group" >

                            <label class="control-label" for="address" >Address :</label >

                            <textarea id="address" data-th-field="*{address}"
                                      class="form-control" tabindex="16"
                                      required ></textarea >
                            <span class="error" data-th-errors="*{address}"
                                  data-th-if="${#fields.hasErrors('address')}"
                                  id="addressError" >Error Address</span >

                          </div >
                          <!--Temporary Address-->
                          <div class="form-group" >

                            <label class="control-label" for="address" >Temporary Address
                                                                        :</label >

                            <textarea id="temporaryAddress"
                                      data-th-field="*{temporaryAddress}"
                                      class="form-control" tabindex="17"
                            ></textarea >
                            <span class="error" data-th-errors="*{temporaryAddress}"
                                  data-th-if="${#fields.hasErrors('temporaryAddress')}"
                                  id="temporaryAddressError" >Error temporaryAddress</span >

                          </div >
                          <!--Mobile Number One-->
                          <div class="form-group" >

                            <label class="control-label" for="mobileOne" >Mobile One No
                                                                          :</label >

                            <input id="mobileOne" data-th-field="*{mobileOne}"
                                   class="form-control mobile" tabindex="18"
                                   type="text"
                                   maxlength="10" min="9"
                                   required />
                            <span class="error" data-th-errors="*{mobileOne}"
                                  data-th-if="${#fields.hasErrors('mobileOne')}"
                                  id="mobileOneError" >Error Mobile Number</span >

                          </div >
                          <!--Mobile Number Two-->
                          <div class="form-group" >

                            <label class="control-label" for="mobileTwo" >Mobile Two No
                                                                          :</label >

                            <input id="mobileTwo" data-th-field="*{mobileTwo}"
                                   class="form-control mobile" tabindex="19"
                                   type="text"
                                   maxlength="10" min="9" />
                            <span class="error" data-th-errors="*{mobileTwo}"
                                  data-th-if="${#fields.hasErrors('mobileTwo')}"
                                  id="mobileTwoError" >Error Mobile  Number</span >

                          </div >
                          <!--Land Number-->
                          <div class="form-group" >

                            <label class="control-label" for="land" >Land No :</label >

                            <input id="land" data-th-field="*{land}"
                                   class="form-control land"
                                   type="text" tabindex="20"
                                   maxlength="10"
                                   min="9" />
                            <span class="error" data-th-errors="*{land}"
                                  data-th-if="${#fields.hasErrors('land')}"
                                  id="landError" >Error
                                                                                                                Land Number</span >

                          </div >
                          <!--Office Number-->
                          <div class="form-group" >

                            <label class="control-label" for="land" >Office Contact No
                                                                     :</label >

                            <input id="officeNo" data-th-field="*{officeNo}"
                                   class="form-control land"
                                   type="text" tabindex="21"
                                   maxlength="10"
                                   min="9" />
                            <span class="error" data-th-errors="*{officeNo}"
                                  data-th-if="${#fields.hasErrors('officeNo')}"
                                  id="officeNoError" >Error Office Number</span >
                          </div >
                          <!--emergencyContactNo-->
                          <div class="form-group" >
                            <label class="control-label" for="land" >Emergency Contact No
                                                                     :</label >
                            <input id="emergencyContactNo"
                                   data-th-field="*{emergencyContactNo}"
                                   class="form-control land"
                                   type="text" tabindex="22"
                                   maxlength="10"
                                   min="9" />
                            <span class="error" data-th-errors="*{emergencyContactNo}"
                                  data-th-if="${#fields.hasErrors('emergencyContactNo')}"
                                  id="emergencyContactNoError" >Error EmergencyNumber</span >

                          </div >
                          <!--nearestPoliceStation-->
                          <div class="form-group" >
                            <label class="control-label" for="nearestPoliceStation" >Nearest
                                                                                     Police
                                                                                     Station
                                                                                     :</label >
                            <input id="nearestPoliceStation" data-th-field="*{nearestPoliceStation}"
                                   class="form-control"
                                   tabindex="23" type="text" />
                            <span id="nearestPoliceStationError"
                                  data-th-errors="*{nearestPoliceStation}"
                                  data-th-if="${#fields.hasErrors('nearestPoliceStation')}"
                                  class="error" >Error Nearest Police Station</span >
                          </div >
                          <!--Medical  No-->
                          <div class="form-group" >
                            <label class="control-label" for="medicleNo" >Medical No
                                                                          :</label >
                            <input id="medicleNo" data-th-field="*{medicleNo}"
                                   class="form-control"
                                   tabindex="24" type="text" required />
                            <span id="medicleNoError" data-th-errors="*{medicleNo}"
                                  data-th-if="${#fields.hasErrors('medicleNo')}"
                                  class="error" >Error Medicle No</span >
                          </div >
                          <!--Date of assignment-->
                          <div class="form-group" >

                            <label class="control-label" for="dateOfAssignment" >Date Of
                                                                                 Assignment
                                                                                 :</label >

                            <input id="dateOfAssignment"
                                   data-th-field="*{{dateOfAssignment}}"
                                   type="date"
                                   class="form-control" tabindex="25"
                                   placeholder="Ex: 1990 - 01 - 20" required />
                            <span class="error" data-th-errors="*{dateOfAssignment}"
                                  data-th-if="${#fields.hasErrors('dateOfAssignment')}"
                                  id="dateOfAssignmentError" >Error Date Of Assignment</span >

                          </div >
                          <!--Date of Appointment-->
                          <div class="form-group" >
                            <label class="control-label" for="appoimentDate" >Date of
                                                                              Appointment
                                                                              :</label >
                            <input id="appoimentDate" data-th-field="*{{appoimentDate}}"
                                   type="date"
                                   class="form-control" tabindex="25"
                                   placeholder="Ex: 1990 - 01 - 20" required />
                            <span class="error" data-th-errors="*{appoimentDate}"
                                  data-th-if="${#fields.hasErrors('appoimentDate')}"
                                  id="appoimentDateError" >Error Date Of Appointment</span >
                          </div >
                          <!--Employee Status-->
                          <div class="form-group" >
                            <label class="control-label" for="employeeStatus" >Employee
                                                                               Status
                                                                               :</label >
                            <select id="employeeStatus" data-th-field="*{employeeStatus}"
                                    class="form-control" tabindex="26"
                                    required >
                              <option value="" >Please select</option >
                              <option data-th-each="employeeStatuss : ${employeeStatus}"
                                      data-th-text="${employeeStatuss.employeeStatus}"
                                      data-th-value="${employeeStatuss}"
                                      data-th-selected="${employeeStatuss==employee.employeeStatus?'selected':'unselected'}" ></option >
                            </select >
                          </div >
                          <!--Image-->
                          <div class="form-row text-right" >
                            <div class="form-row " >
                              <div class="col-md-3 mr-5" >
                                <label class="control-label" >Image</label >
                                <input type="file" name="file" id="imgUpload"
                                       accept="image/png, image/jpeg" />
                              </div >
                              <div class="col-md-3" ></div >
                              <div class="col-md-3 ml-5" >
                                <!--photo details-->
                                <img class="img-fluid ml-5" data-th-if="${addStatus==false && file!=null}" data-th-src="${file.url}"
                                     id="image" alt=""
                                     style="height: 100px; width: 100%;" >
                                <img class="img-fluid ml-5" data-th-if="${addStatus==true}" src="" id="image" alt=""
                                     style="height: 100px; width: 100%" >
                              </div >
                            </div >
                          </div >


                        </div >

                        <div class="form-group" id="updateStatus"
                             data-th-if="${addStatus==false}" >
                          <label class="control-label" for="createdBy" >Created By
                                                                        :</label >
                          <input id="createdBy" data-th-field="*{createdBy}"
                                 class="form-control" type="text"
                                 readonly />
                        </div >
                        <hr >

                      </div >
                      <div class="card-footer " >
                        <button type="submit" class="btn btn-primary float-right ml-2" tabindex="28" >
                          <i data-th-class="${addStatus==true?'fa fa-save mr-1':'fa fa-thumbs-up mr-1'}" ></i >
                          <span data-th-text="${addStatus==true?'Save' : 'Update'}" ></span >
                        </button >

                        <button type="clear" class="btn btn-primary float-right" >
                          <i data-th-class="${addStatus==true?'fa fa-save mr-1':'fa fa-thumbs-down mr-1'}" ></i >
                          <span data-th-text="${addStatus==true?'Clear' : 'Reset'}" ></span >
                        </button >
                      </div >
                    </form >
                  </div >
                </div >
              </div >
            </div >
          </div >
        </div >
      </div >
    </div >
  </div >
</div >
<div data-th-replace="~{fragments/footerSection :: footerSectionFragment}" ></div >
<!-- footer Section -->
<!-- wrapper end -->
<div data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}" ></div >
<!-- script Fragment -->
<!-- content-wrapper end -->
<script >
    $(document).ready(function () {
        imageSrcAttributeCheck();
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            let reader = new FileReader();

            reader.onload = function (e) {
                $('#image').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }

    //display selected image
    $("#imgUpload").change(function () {
        $("#image").toggle('show');
        readURL(this);

    });

    //image is not -> showing area hide
    function imageSrcAttributeCheck() {
        let attribute = $("#image").attr("src");
        if (attribute === '') {
            $("#image").toggle('hide');
        }
    }
</script >
</body >
</html >
