<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        <!-- content-header Start -->
        <!--action button layer---------------------------------------------------------     -->
        <div class="row m-1">
            <div class="col-12">
                <div class="text-right">
                    <div text-right>
                        <button type="button" class="btn btn-info btn-sm">
                            <a data-th-href="${'/branch'}">
                                <span class="info-box-icon text-white"><i class="fa fa-backward mr-1"></i></span>
                                <span class="text-white"> View Branch list </span></a>
                        </button>
                        <button type="button" class="btn btn-success btn-sm">
                            <a data-th-href="${'/home'}">
                                <span class="info-box-icon text-white"><i class="fas fa-home mr-1"></i></span>
                                <span class="text-white"> Home </span></a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--form action end button-<i class="fa fa-list">--------------------------------------------------------     -->
        <!--Form Content-->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card ">
                                <form id="form" th:action="${addStatus==true?'/branch/save':'/branch/update'}"
                                      th:object="${branch}" method="POST" enctype="multipart/form-data">

                                    <div class="card-header">
                                        <h3 th:text="${addStatus==true?'Add New Branch':'Update Branch Details'}"></h3>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-borderless table-hover">
                                            <tbody>
                                            <tr id="idStatus" th:if="${addStatus==false}">
                                                <th>
                                                    <label class="control-label" for="id">ID :</label>
                                                </th>
                                                <td>
                                                    <input id="id" th:field="*{id}" class="form-control" type="text"
                                                           readonly/>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    <label class="control-label" for="name">Name :</label>
                                                </th>
                                                <td>
                                                    <input id="name" th:field="*{name}" class="form-control"
                                                           tabindex="4" type="text" required/>
                                                    <span id="nameError" th:errors="*{name}"
                                                          th:if="${#fields.hasErrors('name')}"
                                                          class="error">Error Name</span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    <label class="control-label" for="land">Land No :</label>
                                                </th>
                                                <td>
                                                    <input id="land" th:field="*{land}" class="form-control land"
                                                           tabindex="5" type="text" maxlength="10" min="9" required/>
                                                    <span class="error" th:errors="*{land}"
                                                          th:if="${#fields.hasErrors('land')}" id="mobileError">Error Land Number</span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    <label class="control-label" for="address">Address :</label>
                                                </th>
                                                <td>
                                                    <textarea id="address" th:field="*{address}" class="form-control"
                                                              tabindex="6" rows="4"
                                                              style="font-size: medium"></textarea>
                                                    <span class="error" th:errors="*{address}"
                                                          th:if="${#fields.hasErrors('address')}" id="addressError">Error Address</span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>
                                                    <label class="control-label" for="email">Email :</label>
                                                </th>
                                                <td>
                                                    <input id="email" th:field="*{email}" class="form-control"
                                                           tabindex="7" type="email" required/>
                                                    <span id="emailError" th:errors="*{email}"
                                                          th:if="${#fields.hasErrors('email')}" class="error">Error Email</span>
                                                </td>
                                            </tr>

                                            <tr id="updateStatus1" th:if="${addStatus==false}">
                                                <th>
                                                    <label class="control-label" for="createdBy">Created By :</label>
                                                </th>
                                                <td>
                                                    <input id="createdBy" th:field="*{createdBy}" class="form-control"
                                                           type="text" readonly/>
                                                </td>
                                            </tr>

                                            <tr id="updateStatus2" th:if="${addStatus==false}">
                                                <th>
                                                    <label class="control-label" for="createdAt">Created At :</label>
                                                </th>
                                                <td>
                                                    <input id="createdAt" th:field="*{createdAt}" class="form-control"
                                                           type="text" readonly/>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                    <div class="form-group float-right m-2">
                                        <!--Back Button-->
                                        <a class="btn btn-dark" tabindex="8" href="/branch">
                                            <i class="fas fa-arrow-circle-left" style="font-size: 20px"></i>&nbsp;&nbsp;Back
                                        </a>
                                        <!--Save Button-->
                                        <button class="btn btn-success ml-2" type="submit" tabindex="9">
                                            <i class="fa fa-save " style="font-size: 20px"></i>&nbsp;&nbsp;<span
                                                id="submit" th:text="${addStatus==true?'Save': 'Update'}"></span>
                                        </button>
                                        <!--Cancel Button-->
                                        <button class="btn btn-warning ml-2" type="reset" tabindex="10">
                                            <i class="far fa-times-circle" style="font-size: 20px"></i>&nbsp;&nbsp;Cancel
                                        </button>
                                    </div>
                                </form>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>

<div data-th-replace="~{fragments/footerSection :: footerSectionFragment}"></div><!-- footer Section -->
</div><!-- wrapper end -->
<div data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}"></div><!-- script Fragment -->
</body>
</html>