<!doctype html>
<html lang="en" >
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}" ></head >
<body class="hold-transition sidebar-mini layout-fixed" >
<div class="wrapper" ><!-- wrapper start -->
    <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}" ></nav ><!-- navbar Section -->
    <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}" ></aside ><!-- navbar Section -->
    <div class="content-wrapper" ><!-- content-wrapper Start -->
        <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}" ></section >
        <!-- Form Header  Path -->
        <!--                                <section data-th-replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section>-->
        <!-- Small Box Set -->

        <div class="content-header" >
<!--            <div class="container-fluid" data-th-with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.expensesStatus)}">-->
                <div class="container text-center">
<!--                    <h1 class="invalid-feedback" data-th-text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>-->
                    <h1 class="invalid-feedback" data-th-if="${accessDenied!=null}" data-th-text="${accessDenied}">
                        404</h1>
                </div>
                <div class="col-12 col-sm-12 col-md-12 mt-4 mb-4 p-4">
<!--                    <marquee behavior="scroll" direction="left">-->
<!--                        <div class="container" id="iconAround">-->
<!--                            <div id="icon">-->
<!--                                <i class="fa fa-frown text-danger " id="iconIn"> </i>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </marquee>-->
                </div>
            <div><h1>Someting Error- <a href="/index">home directory</a></a></h1></div>
                <div class="container-fluid mt-4 text-center">
                    <p class="invalid-feedback" data-th-text="${errorMessage}">Error java.lang.NullPointerException</p>
                </div>
                <div class="container-fluid text-center">
                    <a href="/index">
                        <button class="btn btn-info" a href="/index">
                            <i class="fa fa-home" style="font-size: 20px"></i>&nbsp; Home
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div><!-- content-wrapper end -->
    <!-- content-wrapper end -->
    <div data-th-replace="~{fragments/footerSection :: footerSectionFragment}" ></div ><!-- footer Section -->
    <!-- wrapper end -->
    <div data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}" ></div ><!-- script Fragment -->
</body >
</html >