<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}" >-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>404 Error</title>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
    <!-- Custom stlylesheet -->
    <link th:href="@{/css/style.css}" media="all" rel="stylesheet" type="text/css"/>
</head >
<body class="hold-transition sidebar-mini layout-fixed" >
<div class="wrapper" ><!-- wrapper start -->
<!--    <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}" ></nav >&lt;!&ndash; navbar Section &ndash;&gt;-->
<!--    <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}" ></aside >&lt;!&ndash; navbar Section &ndash;&gt;-->
    <div class="content-wrapper" >
<!--        <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}" ></section >-->



<div id="notfound">
    <div class="notfound">
        <div class="notfound-404"></div>
        <h1>404</h1>
        <h2>Oops! Page Not Be Found</h2>
        <p>Sorry but the page you are looking for does not exist, have been removed. name changed or is temporarily unavailable</p>
        <a href="/home">Back to homepage</a>
<!--        <button type="button" class="btn btn-success btn-sm">-->
<!--            <a  data-th-href="${'/home'}" >-->
<!--                <span class="info-box-icon text-white"><i class="fas fa-home mr-1" ></i ></span >-->
<!--                <span class="text-white"> Home </span></a>-->
<!--            <h1 class="invalid-feedback" data-th-if="${accessDenied!=null}" data-th-text="${accessDenied}">-->
<!--                404</h1>-->
<!--            <p class="invalid-feedback" data-th-text="${errorMessage}">Error java.lang.NullPointerException</p>-->

<!--        </button>-->
    </div>
</div>

    </div><!-- content-wrapper end -->
    <!-- content-wrapper end -->
    <div data-th-replace="~{fragments/footerSection :: footerSectionFragment}" ></div ><!-- footer Section -->
    <!-- wrapper end -->
    <div data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}" ></div ><!-- script Fragment -->
</body >
</html >