/*
.input::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: #0f1041;
}
.input-header {
    position: relative;
    padding-top: 80px;
    color: #fff;
}
.input-header h1 {
    padding-bottom: 25px;
    font-size: 3.25em;
    font-weight: 100;
    }

.input-content {
    position: relative;
    padding: 4px 5px;
    background: #fff;
    z-index: 10;
}
.input-content h2 {
    padding-bottom: 45px;
    font-size: 1.625em;
    font-weight: bold;
    vertical-align: middle;
}
.input-content h2 span {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 6px 3px;
    border: 1px solid #ffca00;
    border-radius: 4px;
    font-size: 0.85rem;
    vertical-align: middle;
    color: #ffca00;
}
.input-content .inputbox {
    overflow: hidden;
    position: relative;
    padding: 15px 0 28px 200px;
}
.input-content .inputbox-title {
    position: absolute;
    top: 15px;
    left: 0;
    width: 200px;
    height: 30px;
    color: #666;
    font-weight: bold;
    line-height: 30px;
}
.input-content .inputbox-content {
    position: relative;
    width: 100%;
}
.input-content .inputbox-content input {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    line-height: 30px;
    font-size: 14px;
    border: 0;
    background: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
}
.input-content .inputbox-content input:focus ~ label, .input-content .inputbox-content input:valid ~ label {
    color: #2962ff;
    transform: translateY(-20px);
    font-size: 0.825em;
    cursor: default;
}
.input-content .inputbox-content input:focus ~ .underline {
    width: 100%;
}
.input-content .inputbox-content label {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    line-height: 30px;
    color: #ccc;
    cursor: text;
    transition: all 200ms ease-out;
    z-index: 10;
}
.input-content .inputbox-content .underline {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    background: #2962ff;
    transition: all 200ms ease-out;
}
.input-content .btns {
    padding: 30px 0 0 200px;
}
.input-content .btns .btn {
    display: inline-block;
    margin-right: 2px;
    padding: 10px 25px;
    background: none;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    color: #666;
    font-size: 1.125em;
    outline: none;
    transition: all 100ms ease-out;
}
.input-content .btns .btn:hover, .input-content .btns .btn:focus {
    transform: translateY(-3px);
}
.input-content .btns .btn-confirm {
    border: 1px solid #2962ff;
    background: #2962ff;
    color: #fff;
}

:not(output):-moz-ui-invalid {
    box-shadow: 0 0 1.5px 1px red;
}

input:invalid {
    box-shadow: 0 0 1.5px 1px #ff0000;
}
input:invalid {
    box-shadow: none;
}
*/


/*

:required {
    border-left-color: salmon !important;
    border-left: 4px solid red;
    background-color: #3CBC8D;
    color: white;}


input-content:invalid {

    border-left-color: salmon !important;
}

input[type=text]:focus {
    border: 3px solid #555;
}

input:required:invalid, input:focus:invalid {
    background-image:url(/assets/invalid.png);
    background-position: right top;
    background-repeat: no-repeat;
}
input:required:valid {
    background-image: url(/assets/valid.png);
    background-position: right top;
    background-repeat: no-repeat;
}
.sideImage{
    background-image: url(/assets/valid.png);
}

.tooltip {
    border-bottom: 1px dotted #000000; color: #000000; outline: none;
    cursor: help; text-decoration: none;
    position: relative;
}
.tooltip span {
    margin-left: -999em;
    position: absolute;
}
.tooltip:hover span {
    border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    font-family: Calibri, Tahoma, Geneva, sans-serif;
    position: absolute; left: 1em; top: 2em; z-index: 99;
    margin-left: 0; width: 250px;
}
.tooltip:hover img {
    border: 0; margin: -10px 0 0 -55px;
    float: left; position: absolute;
}
.tooltip:hover em {
    font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
    display: block; padding: 0.2em 0 0.6em 0;
}
.classic { padding: 0.8em 1em; }
.custom { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover { background: transparent; }
.classic {background: #FFFFAA; border: 1px solid #FFAD33; }
.critical { background: #FFCCAA; border: 1px solid #FF3334;	}
.help { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.info { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.warning { background: #FFFFAA; border: 1px solid #FFAD33; }*/
input:required+label::after,
select:required+label::after,
textarea:required+label::after {
    content: " *";
    color: #e32;
}