<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}" ></head >
<body class="hold-transition sidebar-mini layout-fixed" >
<div class="wrapper" ><!-- wrapper start -->
  <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}" ></nav ><!-- navbar Section -->
  <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}" ></aside ><!-- navbar Section -->
  <div class="content-wrapper" ><!-- content-wrapper Start -->
    <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}" ></section >
                                <!-- content-header Start -->
                                <!--action button layer---------------------------------------------------------     -->
    <div class="row m-1" >
      <div class="col-12" >
        <div class="text-right" >
          <div text-right >
            <button type="button" class="btn btn-info btn-sm" >
              <a data-th-href="${'/deathDonation'}" >
                <span class="info-box-icon text-white" ><i class="fa fa-plus mr-1" ></i ></span >
                <span class="text-white" > View Death Donation </span ></a >
            </button >

          </div >
        </div >
      </div >
    </div >
                                <!--form action end button---------------------------------------------------------     -->


    <div class="content-header" >
      <div class="container-fluid" >
        <div class="row" >


              <div class="col-md-12" >
                <div class="card" >
                  <div class="card-body" >
                    <div class="card-header" >

                      <h3 ><span id="formHeader"
                                 th:text="${addStatus==false?'Add Death Donation':'Update Death Donation'}" ></span ></h3 >
                    </div>

                    <table class="table table-borderless" id="myTable">
                      <form th:action="${addStatus==false?'/deathDonation/save' :'/deathDonation/update'}"
                            method="post" th:object="${deathDonation}" >

                        <tr th:if="${addStatus==true}" >
                      <th >
                          <label for="id" class="form-label " > Id </label >

                      </th>
                      <td>
                        <input type="text" class="form-control" th:field="*{id}" id="id" readonly />
                      </td>
                        </tr>
                        <tr>
                        <!--Employee Name-->
                      <th>
                          <label th:for="${'employees'}" class="form-label " >
                            Employee Name </label >
                                        </th>
                      <td>
                        <select class="form-control" th:field="*{employee}" required >
                          <option value="" selected >Please Select</option >
                          <option th:each="employee : ${employees}"
                                  th:text="${employee.name}"
                                  th:value="${employee.id}" >
                          </option >
                        </select >
                      </td>
                          </tr>
                        <tr>
                      <th>
                        <!--Dependent Name-->
                          <label th:for="${'dependent'}" class="form-label " >
                            Dependent Name </label >
                           </th>
                      <td>
                        <select id="dependent" class="form-control" th:field="*{dependent}" required >
                          <option value="" selected >Please Select</option >
                        </select >
                      </td>
                      <th>
                        </tr>
                        <tr>
                        <th><!--Amount-->

                            <label th:for="${'amount'}" class="form-label " >
                              Amount </label >
                      </th>
                      <td>
                        <input class="form-control" id="amount" th:field="*{amount}"

                               type="text"  required />
                        <span th:errors="*{amount}"
                              th:if="${#fields.hasErrors('amount')}"
                              class="error" >Error Name</span >
                      </td>
                        </tr>
                        <tr>
                      <th>
                        <!--Remark new-->

                          <label th:for="${'remark'}" class="form-label " > Remark </label >

                      </th>
                      <td>
<textarea type="text" class="form-control" th:field="*{remark}"
          required ></textarea >
                      </td>
                        </tr>
                       <tr>
                         <td></td>
                      <td>
                        <!--button-->

                          <button type="submit" class="btn btn-primary" >
                            <i th:class="${addStatus==false?'fa fa-save mr-1':'fa fa-thumbs-up mr-1'}" ></i >
                            <span
                                    th:text="${addStatus==false?'Save' : 'Update'}" ></span >
                          </button >

                      </td>
                       </tr>
</form >
                    </table>

              </div >
            </div >
          </div >
        </div >
      </div >
    </div >
                                <!-- content-wrapper end -->
  </div >


<!-- script Fragment -->
<input type="hidden" id="dependentFindUrl" name="" data-th-value="${dependentFindUrl}" >

</div >
<div data-th-replace="~{fragments/footerSection :: footerSectionFragment}" ></div ><!-- footer Section -->
</div ><!-- wrapper end -->
<div data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}" ></div ><!-- script Fragment -->
<script >
  $("#employee").change(function () {
    let url = $("#dependentFindUrl").val() + $(this).val();
    $.ajax({
      type: 'GET',
      url: url,
      success: function (resp) {
        $("#dependent").empty();
        addOptionTag(resp);
      },
      error: function (err) {
        console.log(err);
        swal({
          title: "There is no more dependent who selected to this benifit",
          icon: "warning",
        });
      }
    });
  });

  function addOptionTag(resp) {
    $("#dependent").append(`<option value="">Please Select</option>`);
    for (let i = 0; i < resp.length; i++) {
      $("#dependent").append(`<option value="${resp[i].id}">${resp[i].name}</option>`);
    }
  }
</script >
</body >
</html >
