<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}" ></head >
<body class="hold-transition sidebar-mini layout-fixed" >
<div class="wrapper" ><!-- wrapper start -->
    <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}" ></nav ><!-- navbar Section -->
    <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}" ></aside ><!-- navbar Section -->
    <div class="content-wrapper" ><!-- content-wrapper Start -->
        <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}" ></section ><!-- content-header Start -->
        <!--action button layer---------------------------------------------------------     -->
        <div class="row m-1">
            <div class="col-12">
                <div class="text-right">
                    <div text-right>
                        <button type="button" class="btn btn-info btn-sm">
                            <a  data-th-href="${'/category/add'}" >
                                <span class="info-box-icon text-white"><i class="fa fa-plus mr-1" ></i ></span >
                                <span class="text-white"> Add Category </span></a>
                        </button>
                        <button type="button" class="btn btn-success btn-sm">
                            <a  data-th-href="${'/home'}" >
                                <span class="info-box-icon text-white"><i class="fas fa-home mr-1" ></i ></span >
                                <span class="text-white"> Home </span></a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--form action end button---------------------------------------------------------     -->
        <!-- Home Button-->
    <div class="content-header">
            <div class="row">
                <div class="col-md-12" >
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                               <div class="card-header">
                                   Category Management
                               </div>

                                <div class="card-body" >
                                    <div class="col" id="categoryListPresent" th:if="${not #lists.isEmpty(categorys)}">
                                    <table class="table table-hover table-striped" id="myTable">
                                        <thead>
                                        <tr>
                                            <th> Index</th>
                                            <th> Main Category</th>
                                            <th> Name</th>
                                            <th> Modify</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="category, rowCount : ${categorys}">
                                            <th th:text="${rowCount.count}"></th>
                                            <th th:text="${category.mainCategory.mainCategory}"></th>
                                            <th th:text="${category.name}"></th>
                                            <th>
                                                <a id="categoryView" th:href="${'/category/' + category.id}" class="btn btn-primary btn-sm"><i class="fa fa-folder-open" style="font-size: 15px"></i>&nbsp;View</a>
                                                <a id="categoryEdit" th:href="${'/category/edit/' + category.id}" class="btn btn-success btn-sm"><i class="fa fa-edit" style="font-size: 15px"></i>&nbsp;Edit</a>
                                                <a id="categoryRemove" th:href="${'/category/remove/' + category.id}" class="btn btn-danger btn-sm">
                                                    <!-- th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"--> <i class="fa fa-trash" style="font-size: 15px"></i> Delete</a>
                                            </th>
                                        </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                    <div class="row" th:if="${ #lists.isEmpty(categorys)}">
                                        <div class="col-sm-12">
                                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h3 class="text-center text-danger">
                                                    <strong>There is no category upto now please add category to the system using "New" button.</strong>
                                                </h3>
                                            </div>
                                        </div>
                                        <script>
                                            /*active boostrap alert - start*/
                                            $(".alert").alert();
                                            /*active boostrap alert - end*/
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  <!--Error-->
    </div>
    <!--footer include-->
    <div data-th-replace="~{fragments/footerSection :: footerSectionFragment}"></div><!-- footer Section -->
</div><!-- wrapper end -->
<div data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}"></div><!-- script Fragment -->
</body>
</html>