<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <!-- Header (null area) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">-</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">-</a></li>
                            <li class="breadcrumb-item active">-</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header (null area) -->
        <!-- Form Header / Path -->
        <section class="content">
            <!--<div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">Add Payment Type</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Add Payment Type</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>-->
            <!-- <div th:replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></div>-->
            <!-- Small Box Set -->
        </section>
        <!-- Form Header/Path end-->

        <div class="container-fluid">
            <div class="main-section">
                <!--<p class="welcome-Notes">Welcome To AVSEC Welfare Society Management System</p>-->
                <div class="col-12">
                    <div class="row">

                        <!-- Carousel -->
<!--                        <div class="col-md-12">-->
<!--                            <div class="card">-->

<!--                                &lt;!&ndash; /.card-header &ndash;&gt;-->
<!--                                <div class="card-body">-->
<!--                                    <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">-->
<!--                                        <ol class="carousel-indicators">-->
<!--                                            <li data-target="#carouselExampleIndicators" data-slide-to="0"-->
<!--                                                class="active">home_banner01-->
<!--                                            </li>-->
<!--                                            <li data-target="#carouselExampleIndicators" data-slide-to="1">-->
<!--                                                home_banner02-->
<!--                                            </li>-->
<!--                                            <li data-target="#carouselExampleIndicators" data-slide-to="2">-->
<!--                                                home_banner01-->
<!--                                            </li>-->
<!--                                        </ol>-->
<!--                                        <div class="carousel-inner">-->
<!--                                            <div class="carousel-item active">-->
<!--                                                <img class="d-block w-100" src="img/home_banner01.jpg"-->
<!--                                                     alt="First slide">-->
<!--                                            </div>-->
<!--                                            <div class="carousel-item">-->
<!--                                                <img class="d-block w-100" src="img/home_banner02.jpg"-->
<!--                                                     alt="Second slide">-->
<!--                                            </div>-->
<!--                                            <div class="carousel-item">-->
<!--                                                <img class="d-block w-100" src="img/home_banner01.jpg"-->
<!--                                                     alt="Third slide">-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"-->
<!--                                           data-slide="prev">-->
<!--                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                                            <span class="sr-only">Previous</span>-->
<!--                                        </a>-->
<!--                                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"-->
<!--                                           data-slide="next">-->
<!--                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                                            <span class="sr-only">Next</span>-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; /.card-body &ndash;&gt;-->
<!--                            </div>-->
<!--                            &lt;!&ndash; /.card &ndash;&gt;-->
<!--                        </div>-->
<!--                        -->
                        <!-- Carousel end-->


                </div>
            </div>
        </div>
            <div>
                <ol class="breadcrumb">

                    <h4><span style="color: #a71d2a">Protect yourself from COVID-19 by </span> -
                        <span
                                class="txt-rotate"
                                data-period="2000"
                                data-rotate='[
                                "Clean your hands often.",
                                "Cough or sneeze in your bent elbow - not your hands!",
                                "Avoid touching your eyes, nose and mouth.",
                                "Limit social gatherings and time spent in crowded places.",
                                "Avoid close contact with someone who is sick."
                                ]'></span>
                    </h4>
</ol>
            </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
<!--                            <div class="card-header">-->
<!--                                <h3 class="card-title">Your able to access module which is permission granted</h3>-->
<!--                            </div>-->
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4" >
                                        <div class="position-relative p-3 bg-gray" style="height: 180px;background-size:100% auto; background-image:url('./img/BG_01.png');">

                                            Employee Module <br/>
                                            <small><ul><li>Register Employer</li>
                                                <li>Edit Employer</li>
                                                <li>Delete Employer</li>
                                                <li>Skill Update</li>
                                                <li>Dependant Update</li></ul></small>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="position-relative p-3 bg-gray" style="height: 180px;background-size:100% auto; background-image:url('./img/BG_02.png');">
                                        <div class="ribbon-wrapper ribbon-lg">
                                                <div class="ribbon bg-info">
                                                    SMS alert add
                                                </div>
                                            </div>
                                            Ribbon Large <br/>
                                            <small>.ribbon-wrapper.ribbon-lg .ribbon</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="position-relative p-3 bg-gray" style="height: 180px;background-size:100% auto; background-image:url('./img/BG_03.png');">


                                        Ribbon Extra Large <br/>
                                            <small>.ribbon-wrapper.ribbon-xl .ribbon</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-sm-4">
                                        <div class="position-relative p-3 bg-gray" style="height: 180px;background-size:100% auto; background-image:url('./img/BG_04.png');">


                                        Ribbon Large <br/> with Large Text <br/>
                                            <small>.ribbon-wrapper.ribbon-lg .ribbon.text-lg</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="position-relative p-3 bg-gray" style="height: 180px;background-size:100% auto; background-image:url('./img/BG_05.png');">


                                        Ribbon Extra Large <br/> with Large Text <br/>
                                            <small>.ribbon-wrapper.ribbon-xl .ribbon.text-lg</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="position-relative p-3 bg-gray" style="height: 180px;background-size:100% auto; background-image:url('./img/BG_06.png');">


                                        Ribbon Extra Large <br/> with Extra Large Text <br/>
                                            <small>.ribbon-wrapper.ribbon-xl .ribbon.text-xl</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->

<script>


    var TxtRotate = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtRotate.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
            this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
            this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 300 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
            delta = this.period;
            this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
            this.isDeleting = false;
            this.loopNum++;
            delta = 500;
        }

        setTimeout(function() {
            that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('txt-rotate');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-rotate');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
                new TxtRotate(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 }";
        document.body.appendChild(css);
    };



</script>
        </div>
    </div><!-- content-wrapper end -->
    <div th:replace="~{fragments/footerSection :: footerSectionFragment}"></div><!-- footer Section -->
    <!-- Scroll Up Button -->
    <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
        <i class="fas fa-chevron-up"></i>
    </a>
    <!-- Scroll Up Button end-->
</div><!-- wrapper end -->
<div th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></div><!-- script Fragment -->
</body>
</html>
