<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  data-th-replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav  data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside  data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <!-- Header (null area) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">-</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">-</a></li>
                            <li class="breadcrumb-item active">-</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header (null area) -->
        <!-- Form Header / Path -->
        <section class="content">

        </section>
        <!-- Form Header/Path end-->

        <div class="container-fluid">
            <div class="main-section">
                <!--<p class="welcome-Notes">Welcome To AVSEC Welfare Society Management System</p>-->
                <div class="col-12">
                    <div class="row">
                </div>
            </div>
        </div>
            <div class="card p-2">
            <div class="card-tools">
                <button  type="button" class="btn btn-tool float-right p-1" data-card-widget="remove"><i class="fas fa-times"></i>
                </button>
            </div>
                <h4><span style="color: #a71d2a; padding: 3px">Protect yourself from COVID-19 by </span> -
                    <span
                            class="txt-rotate"
                            data-period="2000"
                            data-rotate='[
                                "Clean your hands often.",
                                "Cough or sneeze in your bent elbow - not your hands!",
                                "Avoid touching your eyes, nose and mouth.",
                                "Limit social gatherings and time spent in crowded places.",
                                "Avoid close contact with someone who is sick."
                                ]'></span>
                </h4>

            </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="row">

                            <!-- New Dashboad --->


<!--                            <div class="col-12">-->
<!--                                <div class="row">-->
<!--                            <div class="col-md-6">-->
<!--                        <div class="card">-->
<!--                            <div class="card-header">-->
<!--                                <h4 class="breadcrumb-item active"> Briefing</h4>-->
<!--                            </div>-->
<!--                                <div class="card-body">-->
<!--                        sdfdsfdsfsdfsfsf-->
<!--                                </div>-->
<!--                        </div>-->
<!--                            </div>-->


<!--                            <div class="col-md-6">-->
<!--                                <div class="card">-->
<!--                            <div class="card-header">-->
<!--                                <h4 class="breadcrumb-item active"> Day Briefing</h4>-->
<!--                            </div>-->
<!--                            <div class="card-body">-->
<!--xcvcvxcvxcvxcvxcv-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        </div>-->


<!--</div>-->
                            </div>














                        <div class="card">
<!--                            <div class="card-header">-->
<!--                                <h3 class="card-title">Your able to access module which is permission granted</h3>-->
<!--                            </div>-->
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4" >
<!--                                        <div class="col-sm-4" style="box-shadow: 1px 1px 10px blue;" >-->

                                        <div  class="position-relative p-3 bg-gray" style="height: 180px;background-size:100% auto; background-image: url('./img/BG_01.png'); ">
                                            <!-- <li data-sec-authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_HOSS','ROLE_PRESIDENT', 'ROLE_SECRETORY','ROLE_TREASURE', 'ROLE_AGENT','ROLE_MEMBER')"  data-th-href="@{'/employee'}"> Employee Management </li>-->

                                            <span style="font-size: large; font-weight: bold">Employee Management</span> <br/>
                                            <small><ul>
<!--                                                <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'',''ROLE_TREASURE'', ''ROLE_AGENT'',''ROLE_MEMBER'')')}"><a href="/employee" style="color: #ffffff; font-size: small" >Employee</a></li>-->
                                                <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'',''ROLE_TREASURE'', ''ROLE_AGENT'',''ROLE_MEMBER'')')}"><a href="/employee" style="color: #ffffff; font-size: small" >Employee</a></li>
                                                <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'',''ROLE_TREASURE'', ''ROLE_AGENT'')')}"><a href="/designation" style="color: #ffffff; font-size: small" >Designation</a></li>
                                                <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'',''ROLE_TREASURE'', ''ROLE_AGENT'')')}"><a href="/workingPlace" style="color: #ffffff; font-size: small" >Work Station</a></li>
                                                <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'')')}"><a href="/promotion" style="color: #ffffff; font-size: small" >Promotion</a></li>
                                                <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'')')}"><a href="/employee/findAll" style="color: #ffffff; font-size: small" >Censure</a></li>
                                                <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'')')}"><a href="/offence" style="color: #ffffff; font-size: small" >Offence</a></li>
                                                <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'')')}"><a href="/punishment" style="color: #ffffff; font-size: small" >Punishment</a></li>
                                                <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'')')}"><a href="/qualification" style="color: #ffffff; font-size: small" >Qualification</a></li>
                                                <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'')')}"><a href="/dependent" style="color: #ffffff; font-size: small" >Dependant</a></li>
                                                <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'')')}"><a href="/district" style="color: #ffffff; font-size: small" >District</a></li>
                                               </ul></small>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" >
                                        <div class="position-relative p-3 bg-gray" style="height: 180px;background-size:100% auto; background-image:url('./img/BG_02.png');">
                                        <div class="ribbon-wrapper ribbon-lg">
                                                <div class="ribbon bg-info">
                                                    SMS alert add
                                                </div>
                                            </div>
                                            <span style="font-size: large; font-weight: bold">Account Management</span> <br/>
                                            <small><ul>
                                                <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_SECRETORY'',''ROLE_TREASURE'', ''ROLE_AGENT'',''ROLE_MEMBER'')')}"><a href="/instalment/add" style="color: #ffffff; font-size: small" >Add Instalment</a></li>
                                                <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_SECRETORY'',''ROLE_TREASURE'')')}"><a href="/instalmentType" style="color: #ffffff; font-size: small" >Set Instrolment Type</a></li>
                                                <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'',''ROLE_TREASURE'')')}"><a href="/otherExpence" style="color: #ffffff; font-size: small" >Expence</a></li>
                                                <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'',''ROLE_TREASURE'')')}"><a href="/otherFundReceiving" style="color: #ffffff; font-size: small" >Fund Receiving</a></li>
                                                <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'',''ROLE_TREASURE'')')}"><a href="/allCollection" style="color: #ffffff; font-size: small" >All Collection</a></li>
                                               </ul></small>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="position-relative p-3 bg-gray" style="height: 180px;background-size:100% auto; background-image:url('./img/BG_03.png');">

                                            <span style="font-size: large; font-weight: bold">Notification Management</span> <br/>

                                            <small><ul>
                                                <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'')')}">
                                                    <a href="/briefing" style="color: #ffffff; font-size: small" >Day Briefing</a></li>

                                                <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'')')}">
                                                    <a href="/briefing/add" style="color: #ffffff; font-size: small" >Add Briefing</a></li>




<!--                                                -->
<!--                                                <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'')')}"><a href="/#" style="color: #ffffff; font-size: small" >Send Email</a></li>-->
<!--                                                <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'')')}"><a href="/#" style="color: #ffffff; font-size: small" >Send SMS</a></li>-->
<!--                                                <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'')')}"><a href="/#" style="color: #ffffff; font-size: small" >Emergency Notification</a></li>-->
<!--                                                <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'')')}"><a href="/#" style="color: #ffffff; font-size: small" >Bulk Notificationes</a></li>-->
<!--                                                <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'',''ROLE_TREASURE'', ''ROLE_AGENT'',''ROLE_MEMBER'')')}"><a href="/#" style="color: #ffffff; font-size: small" >View Contacts</a></li>-->
                                            </ul></small>

                                        <div>
                                            <a href="/breifing"><span
                                                     class="txt-rotate"
                                                     data-period="2000"
                                                     style="color: #0d47a1"
                                                     data-rotate='[
                                "Please see day Briefing here  Click"
                                ]'></span></a>

                                        <div data-th-replace="~{briefing/briefing :: briefingNews}"></div>
                                        </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-sm-4">
                                        <div class="position-relative p-3 bg-gray" style="height: 180px;background-size:100% auto; background-image:url('./img/BG_04.png');">

                                            <span style="font-size: large; font-weight: bold">Grievances Management</span> <br/>
                                                <small><ul><li>Submit Grievances</li>
                                                    <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'',''ROLE_TREASURE'', ''ROLE_AGENT'',''ROLE_MEMBER'')')}"><a href="/grievances" style="color: #ffffff; font-size: small" >View Grievances</a></li>
                                                    <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'',''ROLE_TREASURE'', ''ROLE_AGENT'',''ROLE_MEMBER'')')}"><a href="/grievances/add" style="color: #ffffff; font-size: small" >Submit Grievances</a></li>


                                                </ul></small>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="position-relative p-3 bg-gray" style="height: 180px;background-size:100% auto; background-image:url('./img/BG_05.png');">

                                            <span style="font-size: large; font-weight: bold">Report Management </span> <br/>

                                                <small><ul>
                                                    <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'',''ROLE_TREASURE'', ''ROLE_AGENT'',''ROLE_MEMBER'')')}"><a href="/report/employee" style="color: #ffffff; font-size: small" >Employee Reports</a></li>
                                                    <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'',''ROLE_TREASURE'')')}"><a href="/report/deathDonation" style="color: #ffffff; font-size: small" >Death Donation</a></li>
                                                    <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'',''ROLE_TREASURE'', ''ROLE_AGENT'')')}"><a href="/report/employeeAllCount" style="color: #ffffff; font-size: small" >Employee All Count</a></li>
                                                    <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'')')}"><a href="/report/mainAccount" style="color: #ffffff; font-size: small" >Main Account</a></li>
                                                    <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'',''ROLE_TREASURE'', ''ROLE_AGENT'')')}"><a href="/report/agentVise" style="color: #ffffff; font-size: small" >Agent Vise Payment</a></li>
                                                    <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'')')}"><a href="/report/offenceCount" style="color: #ffffff; font-size: small" >Offence Summary</a></li>
                                                    <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'')')}"><a href="/report/otherExpense" style="color: #ffffff; font-size: small" >Other Expence Summary</a></li>
                                                    <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'')')}"><a href="/report/otherFundReceivingType" style="color: #ffffff; font-size: small" >Other Fund Receiving Summary</a></li>

                                                </ul></small>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="position-relative p-3 bg-gray" style="height: 180px;background-size:100% auto; background-image:url('./img/BG_06.png');">

                                            <a href="/role">
                                                <span style="font-size: large; font-weight: bold">System Management</span> <br/>

                                                <small><ul>
                                                    <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'')')}"><a href="/role" style="color: #ffffff; font-size: small" >Sys Role Management</a></li>
                                                    <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_PRESIDENT'')')}"><a href="/user" style="color: #ffffff; font-size: small" >User Management</a></li>
                                                    <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'',''ROLE_TREASURE'', ''ROLE_AGENT'',''ROLE_MEMBER'')')}"><a href="/passwordChange" style="color: #ffffff; font-size: small" >Password Change</a></li>
                                                    <li class="nav-item" data-th-if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_HOSS'',''ROLE_PRESIDENT'', ''ROLE_SECRETORY'',''ROLE_TREASURE'', ''ROLE_AGENT'',''ROLE_MEMBER'')')}"><a href="/profile" style="color: #ffffff; font-size: small" >My Profile</a></li>

                                                </ul></small>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                                </div>




















                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->

<script>


    var TxtRotate = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtRotate.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
            this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
            this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 300 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
            delta = this.period;
            this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
            this.isDeleting = false;
            this.loopNum++;
            delta = 500;
        }

        setTimeout(function() {
            that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('txt-rotate');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-rotate');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
                new TxtRotate(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 }";
        document.body.appendChild(css);
    };



</script>

<!--            <script>-->
<!--                var TxtType = function(el, toRotate, period) {-->
<!--                    this.toRotate = toRotate;-->
<!--                    this.el = el;-->
<!--                    this.loopNum = 0;-->
<!--                    this.period = parseInt(period, 10) || 2000;-->
<!--                    this.txt = '';-->
<!--                    this.tick();-->
<!--                    this.isDeleting = false;-->
<!--                };-->

<!--                TxtType.prototype.tick = function() {-->
<!--                    var i = this.loopNum % this.toRotate.length;-->
<!--                    var fullTxt = this.toRotate[i];-->

<!--                    if (this.isDeleting) {-->
<!--                        this.txt = fullTxt.substring(0, this.txt.length - 1);-->
<!--                    } else {-->
<!--                        this.txt = fullTxt.substring(0, this.txt.length + 1);-->
<!--                    }-->

<!--                    this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';-->

<!--                    var that = this;-->
<!--                    var delta = 200 - Math.random() * 100;-->

<!--                    if (this.isDeleting) { delta /= 2; }-->

<!--                    if (!this.isDeleting && this.txt === fullTxt) {-->
<!--                        delta = this.period;-->
<!--                        this.isDeleting = true;-->
<!--                    } else if (this.isDeleting && this.txt === '') {-->
<!--                        this.isDeleting = false;-->
<!--                        this.loopNum++;-->
<!--                        delta = 500;-->
<!--                    }-->

<!--                    setTimeout(function() {-->
<!--                        that.tick();-->
<!--                    }, delta);-->
<!--                };-->

<!--                window.onload = function() {-->
<!--                    var elements = document.getElementsByClassName('typewrite');-->
<!--                    for (var i=0; i<elements.length; i++) {-->
<!--                        var toRotate = elements[i].getAttribute('data-type');-->
<!--                        var period = elements[i].getAttribute('data-period');-->
<!--                        if (toRotate) {-->
<!--                            new TxtType(elements[i], JSON.parse(toRotate), period);-->
<!--                        }-->
<!--                    }-->
<!--                    // INJECT CSS-->
<!--                    var css = document.createElement("style");-->
<!--                    css.type = "text/css";-->
<!--                    css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";-->
<!--                    document.body.appendChild(css);-->
<!--                };-->
<!--            </script>-->
        </div>
    </div><!-- content-wrapper end -->
    <div  data-th-replace="~{fragments/footerSection :: footerSectionFragment}"></div><!-- footer Section -->
    <!-- Scroll Up Button -->
    <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
        <i class="fas fa-chevron-up"></i>
    </a>
    <!-- Scroll Up Button end-->
</div><!-- wrapper end -->
<div  data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}"></div><!-- script Fragment -->
</body>
</html>
