<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}" ></head >
<body class="hold-transition sidebar-mini layout-fixed" >
<div class="wrapper" ><!-- wrapper start -->
    <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}" ></nav ><!-- navbar Section -->
    <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}" ></aside ><!-- navbar Section -->
    <div class="content-wrapper" ><!-- content-wrapper Start -->
        <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}" ></section ><!-- content-header Start -->
        <!--action button layer---------------------------------------------------------     -->
        <div class="row m-1">
            <div class="col-12">
                <div class="text-right">
                    <div text-right>
                        <button type="button" class="btn btn-info btn-sm">
                            <a  data-th-href="${'/customer'}" >
                                <span class="info-box-icon text-white"><i class="fa fa-plus mr-1" ></i ></span >
                                <span class="text-white"> View Customer </span></a>
                        </button>
                        <button type="button" class="btn btn-success btn-sm">
                            <a  data-th-href="${'/home'}" >
                                <span class="info-box-icon text-white"><i class="fas fa-home mr-1" ></i ></span >
                                <span class="text-white"> Home </span></a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--form action end button---------------------------------------------------------     -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <span th:text="${addStatus==true?'Add New Customer':'Update Customer Details'}"></span>
                            </div>
                            <div class="card-body">
                                <table class="table table-borderless table-striped">
                                    <form id="form" class="form-horizontal"
                                          th:action="${addStatus==true?'/customer/save':'/customer/update'}"
                                          th:object="${customer}" method="POST" enctype="multipart/form-data">
                                        <tbody>
                                        <tr id="idStatus" th:if="${addStatus==false}" >
                                            <th>
                                                <label class="control-label" for="id">ID :</label>
                                            </th>
                                            <td>
                                                <input id="id" th:field="*{id}" class="form-control" type="text"
                                                       readonly/>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th>
                                                <label class="control-label" for="code">Customer Code :</label>
                                            </th>
                                            <td>
                                                <input id="code" th:field="*{code}" class="form-control"
                                                       type="text" readonly/>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th>
                                                <label class="control-label" for="title">Title :</label>
                                            </th>
                                            <td>
                                                <select id="title" th:field="*{title}" class="form-control"
                                                        tabindex="3" required>
                                                    <option value="">Please select</option>
                                                    <option th:each="titles : ${title}"
                                                            th:text="${titles.title}"
                                                            th:value="${titles}"
                                                            th:selected="${titles==customer.title?'selected':'unselected'}"></option>
                                                </select>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th>
                                                <label class="control-label" for="name">Name :</label>


                                            </th>
                                            <td>
                                                <input id="name" th:field="*{name}" class="form-control"
                                                       tabindex="4" type="text" required/>
                                                <span id="nameError" th:errors="*{name}"
                                                      th:if="${#fields.hasErrors('name')}"
                                                      class="error">Error Name</span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th>
                                                <label class="control-label" for="nic">NIC No :</label>

                                            </th>
                                            <td>

                                                <input id="nic" th:field="*{nic}" class="form-control"
                                                       tabindex="5" type="text" minlength="10" maxlength="12"/>
                                                <span class="error" id="nicError" th:errors="*{nic}"
                                                      th:if="${#fields.hasErrors('nic')}">Error
                                                               NIC Number</span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th>
                                                <label class="control-label" for="mobile">Mobile :</label>

                                            </th>
                                            <td>

                                                <input id="mobile" th:field="*{mobile}"
                                                       class="form-control mobile" tabindex="6" type="text"
                                                       minlength="9" maxlength="10" required/>
                                                <span class="error" th:errors="*{mobile}"
                                                      th:if="${#fields.hasErrors('mobile')}" id="mobileError">Error Mobile Number</span>

                                            </td>
                                        </tr>

                                        <tr>
                                            <th>
                                                <label class="control-label" for="email">Email :</label>

                                            </th>
                                            <td>

                                                <input id="email" th:field="*{email}" class="form-control"
                                                       tabindex="6" type="email"/>
                                                <span class="error" th:errors="*{email}"
                                                      th:if="${#fields.hasErrors('email')}" id="emailError">Error Mobile Number</span>

                                            </td>
                                        </tr>

                                        <tr>
                                            <th>
                                                <label class="control-label" for="address">Address :</label>
                                            </th>
                                            <td>
                                                        <textarea id="address" th:field="*{address}"
                                                                  class="form-control" tabindex="7" rows="3"
                                                                  style="font-size: medium"></textarea>
                                                <span class="error" th:errors="*{address}"
                                                      th:if="${#fields.hasErrors('address')}" id="addressError">Error Address</span>
                                            </td>
                                        </tr>

                                        <tr id="updateStatus" th:if="${addStatus==false}">
                                            <th>
                                                <!--Created By--> <label class="control-label" for="createdBy">Created
                                                By :</label>


                                            </th>
                                            <td>
                                                <input id="createdBy" th:field="*{createdBy}"
                                                       class="form-control" type="text" readonly/>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th>

                                                <label class="control-label" for="createdAt">Created At
                                                    :</label>

                                            </th>
                                            <td>
                                                <input id="createdAt" th:field="*{createdAt}"
                                                       class="form-control" type="text" readonly/>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label id="errorLabel" th:if="${#fields.hasErrors('*')}"
                                                       th:text="'Errors: '">Errors: </label>
                                            </td>
                                            <td> <li id="error" th:each="err: ${#fields.errors('*')}" th:text="${err}"
                                                        class="error"></li>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                            </th>
                                            <td>
                                                <a class="btn btn-dark" tabindex="10" href="/customer">
                                                    <i class="fas fa-arrow-circle-left"
                                                       style="font-size: 20px"></i>&nbsp;&nbsp;Back
                                                </a>
                                                <!--Save Button-->
                                                <button class="btn btn-success ml-5" type="submit" tabindex="8">
                                                    <i class="fa fa-save " style="font-size: 20px"></i>&nbsp;&nbsp;<span
                                                        id="submit"
                                                        th:text="${addStatus==true?'Save': 'Update'}"></span>
                                                </button>
                                                <!--Cancel Button-->
                                                <button class="btn btn-warning ml-5" type="reset" tabindex="9">
                                                    <i class="far fa-times-circle" style="font-size: 20px"></i>&nbsp;&nbsp;Cancel
                                                </button>
                                            </td>
                                        </tr>


                                        </tbody>
                                    </form>
                                </table>
                                <!--Error-->
                                <div class="form-row">

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer include-->
    <div data-th-replace="~{fragments/footerSection :: footerSectionFragment}"></div><!-- footer Section -->
</div><!-- wrapper end -->
<div data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}"></div><!-- script Fragment -->
</body>
</html>