<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        <!-- Form Header  Path -->
        <section data-th-replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section><!-- Small Box Set
         -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
<!--                    <a class="btn btn-success" id="newDesignation" data-th-href="${'/designation/add'}">-->
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h4>Designation </h4>
                               <!--if not empty list-->
                                    <div class="row" id="designationListTable"
                                         data-th-if="${not #lists.isEmpty(designations)}">
                                        <table class="table table-hover table-striped" id="myTable">
                                            <thead class="thead-inverse">
                                            <tr>
                                                <th>Index</th>
                                                <th>Designation</th>
                                                <th>Short Name</th>
                                                <th>Category Type</th>
                                                <th>Salary Scale</th>
                                                <th>Remark</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr data-th-each="designation, rowCount : ${designations}" scope="row">
                                                <td data-th-text="${rowCount.count}"></td>
                                                <td data-th-text="${designation.name}"></td>
                                                <td data-th-text="${designation.shortName}">
                                                <td data-th-text="${designation.categoryType.categoryType}"></td>
                                                <td data-th-text="${designation.salaryScale.salaryScale}"></td>
                                                <td data-th-text="${designation.remark}"></td>


                                                <td><a class="btn btn-success btn-sm"
                                                       data-th-href="${'/designation/' + designation.id}"
                                                       id="designationView"><i
                                                        class="fa fa-folder-open"></i>&nbsp;View</a>
                                                    <a class="btn btn-primary btn-sm" id="designationEdit"
                                                       data-th-href="${'/designation/edit/' + designation.id}"><i
                                                            class="fa fa-edit"></i>&nbsp;Edit</a>
                                                    <a class="btn btn-danger btn-sm" id="designationRemove"
                                                       data-th-href="${'/designation/remove/' + designation.id}"
                                                       data-th-if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                                                       data-th-onclick="if(!(confirm('Are you want to delete this civilStatus ?'))) return false"
                                                    ><i
                                                            aria-hidden="true" class="fa fa-trash"></i>
                                                        Delete</a>

                                                </td>

                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                <!--if empty list-->
                                <div class="row" id="designationNotList" data-th-if="${ #lists.isEmpty(designations)}">
                                      <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h3 class="text-center text-danger">
                                                <strong>There is no designation upto know please add designation to the system
                                                    using add designation button.
                                                </strong>
                                            </h3>
                                        </div>
                                    </div>

                                <!--Show saved designation-->
                                <div class="row" data-th-if="${designationDetail!=null}">
                                    <div class="col-sm-12">
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <div class="container">
                                                <div
                                                        data-th-replace="~{designation/designation-detail :: designationDetail}"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <script>
                                        /*active boostrap alert - start*/
                                        $(".alert").alert();
                                        /*active boostrap alert - end*/
                                    </script>
                                </div>



                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</div><!-- content-wrapper end -->
    </div>
<div data-th-replace="~{fragments/footerSection :: footerSectionFragment}"></div><!-- footer Section -->
</div><!-- wrapper end -->
<div data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}"></div><!-- script Fragment -->
</body>
</html>