<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section th:replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        <!-- Form Header  Path -->
        <section th:replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section><!-- Small Box Set -->


        <form th:action="${'/login'}" method="post">
            <br/>
            <fieldset>
                <!--   <legend class="text-lg-center bg-white"><h3><strong> Excise Department - Sri Lanka</strong></h3>
                   </legend>-->
                <div class="form-label-group">
                    <input type="text" id="username" th:name="${'username'}" class="form-control" placeholder="username"
                           required>
                    <label for="username">Username</label>
                </div>
                <div class="form-label-group">
                    <input type="password" id="inputPassword" th:name="${'password'}" class="form-control"
                           placeholder="password"
                           required>
                    <label for="inputPassword">Password</label>
                </div>
                <div class="form-group text-right">
                    <button class="btn btn-primary " type="submit">LOGIN</button>
                </div>
            </fieldset>
            <div class="container-fluid " th:if="${param.error}">
                <p class="bg-white text-capitalize text-danger text-lg-center">Invalid username or password. </p>
            </div>
            <div class="container-fluid ">
                <p id="errorMessage" th:text="${err}" class="bg-white text-capitalize text-danger text-lg-center"></p>
            </div>
        </form>
    </div>
</div><!-- content-wrapper end -->
<footer th:replace="~{fragments/footerSection :: footerSectionFragment}"></footer><!-- footer Section -->
</div><!-- wrapper end -->
<script th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></script><!-- script Fragment -->
</body>
</html>