<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section th:replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        <!-- Form Header  Path -->
<!--        <section th:replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section>&lt;!&ndash; Small Box Set &ndash;&gt;-->



        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3"></div>

                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Change Password of <b><span th:text="${#authentication.name}"></span></b></h4></div>
                                    <div class="card-body">

                                        <table class="table table-borderless">
                                            <tbody>
                                                <form class="form-horizontal" id="form" th:action="${'/passwordChange'}" th:object="${pswChange}" th:method="POST">

                                                        <!--Old password-->
                                                       <tr> <th> <label class="control-label " for="opsw">Old Password</label></th>
                                                           <td>
                                                                <input type="password" th:field="*{oldPassword}" id="opsw" placeholder="Enter Old Password Here"
                                                                       class="form-control pwd" name="opsw" required/>
                                                                <span class="error" id="opswError" th:errors="*{oldPassword}" th:if="${#fields.hasErrors('oldPassword')}">Current Password is error</span>
                                                            </td>
                                                       </tr>
                                                        <!--new password-->
                                                        <tr>  <th><label class="control-label " for="npsw">New Password</label></th>
                                                            <td>

                                                                <input type="password" th:field="*{newPassword}" id="npsw" placeholder="Enter New Password Here"
                                                                       class="form-control pwd" name="npsw" required/>
                                                                <span class="error" th:errors="*{newPassword}" th:if="${#fields.hasErrors('newPassword')}" id="npswError">Error New Password</span>
                                                                <div class="text-right">
                                                                    <span id="resultOne"></span>
                                                                </div>

                                                        </td>
                                                        </tr>
                                                        <!--re enter password-->
                                                        <tr>  <th> <label class="control-label " for="nrepsw">Re Enter New Password</label></th>
                                                            <td>

                                                                <input type="password" th:field="*{newPasswordConform}" id="nrepsw" placeholder="Re Enter New Password Here"
                                                                       class="form-control pwd" name="nrepsw" required/>
                                                                <span class="error" id="nrepswError" th:errors="*{newPasswordConform}" th:if="${#fields.hasErrors('newPasswordConform')}">Error New Password</span>
                                                                <div class="text-right">
                                                                    <span id="resultTwo"></span>
                                                                </div>
                                                        </td>
                                                        </tr>
                                                        <!--Password match-->
                                                        <tr>  <th><span class="input-group-btn">
                                <button class=" btn brn-sm bg-white reveal" type="button">
                                   <i class="fas fa-eye"></i>
                                </button>
                            </span></th>
                                                            <td><span id="passwordMatch"></span>
                                                            </td>
                                                        </tr>
                                                        <!--button-->
                                                        <tr>  <th></th><td>
                                                        <div class="form-group col-md-12 col-sm-12 text-right flex-column">
                                                            <button class="btn btn-success" type="submit">&nbsp; Change Password &nbsp;
                                                                <i class="fa fa-thumbs-up fa-lg"></i>
                                                            </button>
                                                        </div></td>
                                                        </tr>

                                                </form>
                                            </tbody>
                                        </table>
                                     </div>
                                        </div>
                                    </div>
                                    <div id="message" th:if="${message}" th:class="${'alert alert-dismissable' + alertClass}">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <strong> <span id="messageNote" th:text="${message}"></span></strong>
                                    </div>

                                </div>
                            <div class="col-md-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- content-wrapper end -->
    <div th:replace="~{fragments/footerSection :: footerSectionFragment}"></div><!-- footer Section -->
</div><!-- wrapper end -->
<div th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></div><!-- script Fragment -->
</body>
</html>