<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section th:replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        <!-- Form Header  Path -->
        <section th:replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section><!-- Small Box Set -->



<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h4><span id="formHeader" th:text="${addStatus==false?'New Dependency':'Update Dependency'}"></span></h4>
                                <form role="form">
 <a href="/dependency" class="btn btn-primary"><i class="fa fa-list"></i>&nbsp; View List</a>
</form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-body">
                                <h4>Secondary Header </h4>
                            <form th:action="${addStatus==false?'/dependency/save' :'/dependency/update'}" method="post" th:object="${dependency}">
                                    <!--Id-->
                                    <div class="form-group row" th:if="${addStatus==true}">
                                        <label for="id" class="form-label "> Id </label>

                                            <input type="text" class="form-control" th:field="*{id}" id="id" readonly>
                                        </div>


                                    <!--Name-->
                                    <div class="form-group row">
                                        <label th:for="${'name'}" class="form-label "> Name </label>

                                            <input type="text" class="form-control" th:field="*{name}" required>
                                            <p class="text-danger" th:if="${#fields.hasErrors('name')}"
                                               th:errors="*{name}">Error Name</p>
                                        </div>

                                    <!--relationship name-->
                                    <!--     <div class="form-group row">
                                             <label th:for="${'relationship'}" class="col-sm-2 col-form-label "> Relationship</label>
                                             <div class="col-sm-10">
                                                 <input type="text" class="form-control" th:field="*{relationship}" required>
                                                 <p class="text-danger" th:if="${#fields.hasErrors('relationship')}"
                                                    th:errors="*{relationship}">Error relationship</p>
                                             </div>
                                         </div>-->
                                    <!--relationship name-->

                                    <!--Enum test-->
                                    <div class="form-group row">
                                        <label th:for="${'relationship'}" class="form-label "> relationship </label>

                                            <select class="form-control" th:field="*{relationship}">
                                                <option th:each="relationship : ${relationship}"
                                                        th:text="${relationship.relationship}"
                                                        th:value="${relationship}">

                                                </option>
                                            </select>
                                        </div>
                                     <!--Date of Birth-->
                                    <div class="form-group row">
                                        <label th:for="${'dob'}" class="form-label "> Date of Birth </label>
                                              <input type="date" class="form-control" th:field="*{dob}" >
                                            <p class="text-danger" th:if="${#fields.hasErrors('dob')}"
                                               th:errors="*{dob}">Error dob</p>
                                        </div>
                                    <!--nic-->
                                    <div class="form-group row">
                                        <label th:for="${'nic'}" class="form-label "> NIC No </label>

                                            <input type="text" class="form-control" th:field="*{nic}" required>
                                            <p class="text-danger" th:if="${#fields.hasErrors('nic')}"
                                               th:errors="*{nic}">Error NIC</p>
                                        </div>
                                    <!--currentStatus-->
                                    <div class="form-group row">
                                        <label th:for="${'currentStatus'}" class="form-label "> Current Status No </label>

                                            <input type="text" class="form-control" th:field="*{currentStatus}" required>
                                            <p class="text-danger" th:if="${#fields.hasErrors('currentStatus')}"
                                               th:errors="*{currentStatus}">Error Current Status</p>
                                        </div>
                                    <!--Remark-->
                                    <div class="form-group row">
                                        <label th:for="${'Remark'}" class="form-label"> Remark </label>

                                            <input type="text" class="form-control" th:field="*{Remark}" required>
                                            <p class="text-danger" th:if="${#fields.hasErrors('Remark')}"
                                               th:errors="*{Remark}">Error Remark</p>
                                        </div>

                                    <div class="form-group row">

                                            <button type="submit" class="btn btn-primary">
                                                <i th:class="${addStatus==false?'fa fa-save mr-1':'fa fa-thumbs-up mr-1'}"></i> <span
                                                    th:text="${addStatus==false?'Save' : 'Update'}"></span>
                                            </button>

                                    </div>



                        </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div><!-- content-wrapper end -->
    </div>
<footer th:replace="~{fragments/footerSection :: footerSectionFragment}"></footer><!-- footer Section -->
</div><!-- wrapper end -->
<script th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></script><!-- script Fragment -->
</body>
</html>