<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<nav th:replace="~{fragments/navBar :: navBarFragment}"></nav>
<nav th:replace="~{fragments/sidebar :: sidebarFragment}"></nav>

<!--Page header -->
<div class="container-fluid bg-secondary form-Border">
    <div class="row text-center formManagement border-info">
        <div class="col">
            <a class="btn btn-primary" href="/home">
                <i class="fa fa-home" style="font-size: 20px"></i> &nbsp; Home
            </a>
        </div>
        <div class="col">
            <h4 class="text-light text-center">
                <strong>
                    <span id="formHeader" th:text="${addStatus==false?'New Dependency':'Update Dependency'}"></span>
                </strong>
            </h4>
        </div>
        <div class="col">
            <a href="/dependency" class="btn btn-primary">
                <i class="fa fa-list"></i>&nbsp; View List
            </a>
        </div>
    </div>
</div>
<!--add form-->
<div class="container-fluid">
    <form th:action="${addStatus==false?'/dependency/save' :'/dependency/update'}" method="post" th:object="${dependency}"
          class="mt-3">
        <div class="offset-3 col-6" >
            <!--/* id this comment not visualize */-->
            <!--Id-->
            <div class="form-group row" th:if="${addStatus==true}">
                <label for="id" class="col-sm-2 col-form-label "> Id </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{id}" id="id" readonly>
                </div>
            </div>

            <!--Name-->
            <div class="form-group row">
                <label th:for="${'name'}" class="col-sm-2 col-form-label "> Name </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{name}" required>
                    <p class="text-danger" th:if="${#fields.hasErrors('name')}"
                       th:errors="*{name}">Error Name</p>
                </div>
            </div>
            <!--relationship name-->
       <!--     <div class="form-group row">
                <label th:for="${'relationship'}" class="col-sm-2 col-form-label "> Relationship</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{relationship}" required>
                    <p class="text-danger" th:if="${#fields.hasErrors('relationship')}"
                       th:errors="*{relationship}">Error relationship</p>
                </div>
            </div>-->
            <!--relationship name-->

            <!--Enum test-->
                <div class="form-group row">
                    <label th:for="${'relationship'}" class="col-sm-4 col-form-label "> relationship </label>
                    <div class="col-sm-8">
                        <select class="form-control" th:field="*{relationship}">
                            <option th:each="relationship : ${relationship}"
                                    th:text="${relationship.relationship}"
                                    th:value="${relationship}">

                            </option>
                        </select>
                    </div>
                </div>



            <!--Date of Birth-->
            <div class="form-group row">
                <label th:for="${'dob'}" class="col-sm-2 col-form-label "> Date of Birth </label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" th:field="*{dob}" >
                    <p class="text-danger" th:if="${#fields.hasErrors('dob')}"
                       th:errors="*{dob}">Error dob</p>
                </div>
            </div>
            <!--nic-->
            <div class="form-group row">
                <label th:for="${'nic'}" class="col-sm-2 col-form-label "> NIC No </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{nic}" required>
                    <p class="text-danger" th:if="${#fields.hasErrors('nic')}"
                       th:errors="*{nic}">Error NIC</p>
                </div>
            </div>
            <!--currentStatus-->
            <div class="form-group row">
                <label th:for="${'currentStatus'}" class="col-sm-2 col-form-label "> Current Status No </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{currentStatus}" required>
                    <p class="text-danger" th:if="${#fields.hasErrors('currentStatus')}"
                       th:errors="*{currentStatus}">Error Current Status</p>
                </div>
            </div>
            <!--Remark-->
            <div class="form-group row">
                <label th:for="${'Remark'}" class="col-sm-2 col-form-label "> Remark </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{Remark}" required>
                    <p class="text-danger" th:if="${#fields.hasErrors('Remark')}"
                       th:errors="*{Remark}">Error Remark</p>
                </div>
            </div>
          <div class="form-group row">
                            <div class="offset-sm-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">
                                    <i th:class="${addStatus==false?'fa fa-save mr-1':'fa fa-thumbs-up mr-1'}"></i> <span
                                        th:text="${addStatus==false?'Save' : 'Update'}"></span>
                                </button>
                            </div>
                        </div>

            </div>
        </div>
    </form>
</div>


<!--footer include-->
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script th:replace="~{fragments/script :: scriptFragment}"></script>


</body>
</html>