<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section th:replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        <!-- Form Header  Path -->
        <section th:replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section><!-- Small Box Set -->

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5>Action Bar</h5>
                    <form role="form">
                        <a class="btn btn-success" id="newDesignation" th:href="${'/instrallmentType/add'}">
                            <i class="fa fa-designation-plus"></i> &nbsp; Add Instrallment Type </a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <h4>Add Instrallment Type</h4>
                    <!--if not empty list-->
                    <div class="row" id="designationListTable" th:if="${not #lists.isEmpty(instrallmentType)}">
                        <table class="table table-hover table-striped" id="myTable">
                            <thead class="thead-inverse">
                            <tr>
                                <th>Index</th>
                                <th>Year</th>
                                <th>Remark</th>
                                <th>Amount</th>
                                <th>Collection Type</th>
                                  <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="designation, rowCount : ${instrallmentType}" scope="row">
                                <td th:text="${rowCount.count}"></td>
                                <td th:text="${instrallmentType.year}"></td>
                                <td th:text="${instrallmentType.remark}">
                                <td th:text="${instrallmentType.amount}"></td>
                                <td th:text="${instrallmentType.collectionType.collectionType}"></td>

                                <td><a class="btn btn-success btn-sm" th:href="${'/instrallmentType/' + instrallmentType.id}" id="designationView"><i
                                        class="fa fa-folder-open"></i>&nbsp;View</a>
                                    <a class="btn btn-primary btn-sm" id="designationEdit"
                                       th:href="${'/instrallmentType/edit/' + instrallmentType.id}"><i
                                            class="fa fa-edit"></i>&nbsp;Edit</a>
                                    <a class="btn btn-danger btn-sm" id="instrallmentTypeRemove"
                                       th:href="${'/instrallmentType/remove/' + instrallmentType.id}"
                                       th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                                       th:onclick="if(!(confirm('Are you want to delete this instrallmentType ?'))) return false"
                                    ><i
                                            aria-hidden="true" class="fa fa-trash"></i>
                                        Delete</a>

                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--if empty list-->
                    <div class="row" id="instrallmentTypeNotList" th:if="${ #lists.isEmpty(instrallmentTypes)}">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h3 class="text-center text-danger">
                                <strong>There is no instrallmentType upto know please add designation to the system
                                    using add designation button.
                                </strong>
                            </h3>
                        </div>
                    </div>

                    <!--Show saved instrallmentType-->
                    <div class="row" th:if="${instrallmentTypeDetail!=null}">
                        <div class="col-sm-12">
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <div class="container">
                                    <div th:replace="~{instrallmentType/instrallmentType-detail :: instrallmentTypeDetail}"></div>
                                </div>
                            </div>
                        </div>
                        <script>
                            /*active boostrap alert - start*/
                            $(".alert").alert();
                            /*active boostrap alert - end*/
                        </script>
                    </div>



                </div>
            </div>
        </div>



    </div><!-- content-wrapper end -->
    <footer th:replace="~{fragments/footerSection :: footerSectionFragment}"></footer><!-- footer Section -->
</div><!-- wrapper end -->
<script th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></script><!-- script Fragment -->
</body>
</html>
