<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}" ></head >
<body class="hold-transition sidebar-mini layout-fixed" >
<div class="wrapper" ><!-- wrapper start -->
    <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        <!-- content-header Start -->
        <!--action button layer---------------------------------------------------------     -->
        <div class="row m-1">
            <div class="col-12">
                <div class="text-right">
                    <div text-right>
                        <button type="button" class="btn btn-info btn-sm">
                            <a data-th-href="${'/discountRatio'}">
                                <span class="info-box-icon text-white"><i class="fa fa-plus mr-1"></i></span>
                                <span class="text-white"> Veiw Discount Ratio </span></a>
                        </button>

                        <button type="button" class="btn btn-success btn-sm">
                            <a data-th-href="${'/home'}">
                                <span class="info-box-icon text-white"><i class="fas fa-home mr-1"></i></span>
                                <span class="text-white"> Home </span></a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--form action end button---------------------------------------------------------     -->
        <div class="content-header">

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 data-th-text="${addStatus==true?'New Discount Ratio Add':'Update Discount Ratio Details'}"></h3>
                            </div>
                            <div class="card-body">
                                <table class="table table-borderless">
                                    <form data-th-action="${addStatus==true?'/discountRatio/save':'/discountRatio/update'}"
                                          data-th-object="${discountRatio}" method="POST">
                                        <tbody>
                                        <tr>
                                            <th data-th-if="${addStatus==false}">
                                                <label class="control-label" for="name">ID :</label>

                                            </th>
                                            <td>
                                                <input data-th-field="*{id}" data-th-if="${addStatus==false}" readonly="readonly"
                                                       type="text"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <label class="control-label" for="name">Name :</label>

                                            </th>
                                            <td>
                                                <input class="form-control" data-th-field="*{name}" id="name" required
                                                       tabindex="4"
                                                       type="text"/>
                                                <span class="error" data-th-errors="*{name}"
                                                      data-th-if="${#fields.hasErrors('name')}" id="nameError">Error Name</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <label class="control-label" for="name">Amount :</label>
 </th>
                                            <td>
                                                <input class="form-control" data-th-field="*{amount}" id="amount"
                                                       required tabindex="4"
                                                       type="text"/>
                                                <span class="error" data-th-errors="*{amount}"
                                                      data-th-if="${#fields.hasErrors('amount')}">Error Name</span>
                                            </td>
                                        </tr>
                                        <tr class="form" data-th-if="${addStatus==false}">
                                            <th>
                                                <label class="control-label" for="discountRatioStatus">Discount Ratio
                                                    Status :</label>

                                            </th>
                                            <td>
                                                <select id="discountRatioStatus" data-th-field="*{discountRatioStatus}"
                                                        class="form-control" tabindex="7" required>
                                                    <option value="">Please select</option>
                                                    <option data-th-each="discountRatioStatus : ${discountRatioStatuses}"
                                                            data-th-text="${discountRatioStatus.discountRatioStatus}"
                                                            data-th-value="${discountRatioStatus}"></option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>

                                            </th>
                                            <td>
                                                <button class="btn btn-success" tabindex="21" type="submit">
                                                    <i class="fa fa-save " style="font-size: 20px"></i>&nbsp;
                                                    &nbsp;<span
                                                        data-th-text="${addStatus==true?'Save': 'Update'}"
                                                        id="submit"></span>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <label data-th-if="${#fields.hasErrors('*')}" data-th-text="'Errors: '"
                                                       id="errorLabel">Errors: </label>
                                            </th>
                                            <td>
                                                <ul>
                                                    <li class="error" data-th-each="err: ${#fields.errors('*')}"
                                                        data-th-text="${err}"
                                                        id="error"></li>
                                                </ul>
                                            </td>
                                        </tr>


                                        </tbody>
                                    </form>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer include-->
    <div data-th-replace="~{fragments/footerSection :: footerSectionFragment}"></div><!-- footer Section -->
</div><!-- wrapper end -->
<div data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}"></div><!-- script Fragment -->
</body>
</html>