<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}" ></head >
<body class="hold-transition sidebar-mini layout-fixed" >
<div class="wrapper" ><!-- wrapper start -->
    <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}" ></nav ><!-- navbar Section -->
    <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}" ></aside ><!-- navbar Section -->
    <div class="content-wrapper" ><!-- content-wrapper Start -->
        <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}" ></section ><!-- content-header Start -->
        <!--action button layer---------------------------------------------------------     -->
        <div class="row m-1">
            <div class="col-12">
                <div class="text-right">
                    <div text-right>
                        <button type="button" class="btn btn-info btn-sm">
                            <a  data-th-href="${'/discountRatio/add'}" >
                                <span class="info-box-icon text-white"><i class="fa fa-plus mr-1" ></i ></span >
                                <span class="text-white"> Add Discount Ratio </span></a>
                        </button>
                        <button type="button" class="btn btn-success btn-sm">
                            <a  data-th-href="${'/home'}" >
                                <span class="info-box-icon text-white"><i class="fas fa-home mr-1" ></i ></span >
                                <span class="text-white"> Home </span></a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--form action end button---------------------------------------------------------     -->


        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3>Discount Ratio Management</h3>
                            </div>
                            <div class="card-body" id="discountRatioListPresent"
                                 th:if="${not #lists.isEmpty(discountRatios)}">
                                <table class="table table-hover table-striped" id="myTable">
                                    <thead>
                                    <tr>
                                        <th> Index</th>
                                        <th> Name</th>
                                        <th> Amount</th>
                                        <th> Status</th>
                                        <th> Modify</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="discountRatio, rowCount : ${discountRatios}">
                                        <th th:text="${rowCount.count}"></th>
                                        <th th:text="${discountRatio.name}"></th>
                                        <th th:text="${discountRatio.amount}"></th>
                                        <th th:text="${discountRatio.discountRatioStatus.discountRatioStatus}"></th>
                                        <th>
                                            <a id="discountRatioEdit"
                                               th:href="${'/discountRatio/edit/' + discountRatio.id}"
                                               class="btn btn-primary btn-sm"><i class="fa fa-edit"></i>&nbsp;Edit</a>
                                            <a id="discountRatioRemove"
                                               th:href="${'/discountRatio/delete/' + discountRatio.id}"
                                               th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                                               class="btn btn-danger btn-sm">
                                                <i class="fa fa-trash"></i>
                                                Delete</a>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row" th:if="${ #lists.isEmpty(discountRatios)}">
                                <div class="col-sm-12">
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h3 class="text-center text-danger">
                                            <strong>There is no discountRatio upto now please add discountRatio to the system
                                                using add user button.
                                            </strong>
                                        </h3>
                                    </div>
                                </div>
                                <script>
                                    /*active boostrap alert - start*/
                                    $(".alert").alert();
                                    /*active boostrap alert - end*/
                                </script>
                            </div>
                        </div>

</div>
<!--footer include-->
    </div>
            </div>
        </div>
    </div>
    <!--footer include-->
    <div data-th-replace="~{fragments/footerSection :: footerSectionFragment}"></div><!-- footer Section -->
</div><!-- wrapper end -->
<div data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}"></div><!-- script Fragment -->
</body>
</html>