<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        <!-- Form Header  Path -->
        <section data-th-replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section><!-- Small Box Set
         -->

        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h4>First sud Header</h4>
                                        <form role="form">
                                            <div class="col">
                                                <a class="btn btn-primary" href="/home">
                                                    <i class="fa fa-home" style="font-size: 20px"></i> &nbsp; Home
                                                </a>
                                            </div>
                                            <div class="col">
                                                <h4 class="text-light text-center">
                                                    <strong>
                                                        <span id="formHeader"
                                                              data-th-text="${addStatus==false?'New WorkingPlace':'Update WorkingPlace'}"></span>
                                                    </strong>
                                                </h4>
                                            </div>
                                            <div class="col">
                                                <a href="/workingPlace" class="btn btn-primary">
                                                    <i class="fa fa-list"></i>&nbsp; View List
                                                </a>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="card">
                                    <div class="card-body">
                                        <h4>Secondary Header </h4>
                                        <form
                                                data-th-action="${addStatus==false?'/workingPlace/save' :'/workingPlace/update'}"
                                              method="post"
                                              data-th-object="${workingPlace}">
                                            <div class="form-group row" data-th-if="${addStatus==true}">
                                                <label for="id" class="form-label "> Id </label>

                                                <input type="text" class="form-control" data-th-field="*{id}" id="id"
                                                       readonly>
                                                <input type="hidden" id="provinceDistrict"
                                                       data-th-value="${workingPlace.district.province}"/>
                                            </div>

                                            <!--Province-->
                                            <div class="form-group row">
                                                <label data-th-for="${'province'}" class="form-label "> Province
                                                </label>

                                                <select class="form-control" id="province">
                                                    <option value="" selected>Please Select</option>
                                                    <option data-th-each="province : ${provinces}"
                                                            data-th-text="${province.province}"
                                                            data-th-value="${province}">

                                                    </option>
                                                </select>

                                            </div>
                                            <!--District-->
                                            <div class="form-group row">
                                                <label data-th-for="${'province'}" class="form-label "> District
                                                </label>

                                                <select class="form-control" data-th-field="*{district}">
                                                    <option value=""> Please Select</option>
                                                    <option data-th-each="district : ${districts}"
                                                            data-th-text="${district.name}"
                                                            data-th-value="${district.id}"></option>
                                                </select>
                                                <p class="text-danger" data-th-if="${#fields.hasErrors('district')}"
                                                   data-th-errors="*{district}">Error Name</p>
                                            </div>

                                            <!--ShortNameAirport-->
                                            <div class="form-group row">
                                                <label data-th-for="${'shortName'}" class="form-label "> Airport
                                                                                                    Code </label>

                                                <select class="form-control" data-th-field="*{shortName}">
                                                    <option data-th-each="shortName : ${shortNames}"
                                                            data-th-text="${shortName.shortName}"
                                                            data-th-value="${shortName}"
                                                    ></option>
                                                </select>
                                                <p class="text-danger" data-th-if="${#fields.hasErrors('shortName')}"
                                                   data-th-errors="*{shortName}">Error Name</p>
                                            </div>

                                            <!--Address-->
                                            <div class="form-group row">
                                                <label data-th-for="${'address'}" class="form-label "> Address </label>

                                                <textarea class="form-control" data-th-field="*{address}"></textarea>
                                                <p class="text-danger" data-th-if="${#fields.hasErrors('address')}"
                                                   data-th-errors="*{address}">Error Name</p>
                                            </div>

                                            <!--Email-->
                                            <div class="form-group row">
                                                <label data-th-for="${'email'}" class="form-label "> Email </label>

                                                <input type="email" class="form-control" data-th-field="*{email}">
                                                <p class="text-danger" data-th-if="${#fields.hasErrors('email')}"
                                                   data-th-errors="*{email}">Error Name</p>
                                            </div>

                                            <!--phoneNumber-->
                                            <div class="form-group row">
                                                <label data-th-for="${'phoneNumber'}" class="form-label "> Phone
                                                    Number </label>

                                                <input type="tel" class="form-control" data-th-field="*{phoneNumber}">
                                                <p class="text-danger" data-th-if="${#fields.hasErrors('phoneNumber')}"
                                                   data-th-errors="*{phoneNumber}">Error Name</p>
                                            </div>

                                            <!--airportType-->
                                            <div class="form-group row">
                                                <label data-th-for="${'airportType'}" class="form-label "> Airport
                                                    Type </label>

                                                <select class="form-control" data-th-field="*{airportType}">
                                                    <option data-th-each="airportType : ${airportTypes}"
                                                            data-th-text="${airportType.airportType}"
                                                            data-th-value="${airportType}"
                                                    ></option>
                                                </select>
                                                <p class="text-danger" data-th-if="${#fields.hasErrors('airportType')}"
                                                   data-th-errors="*{airportType}">Error Name</p>

                                            </div>
                                            <!--workingPlaceSections-->
                                            <div class="form-group row">
                                                <label data-th-for="${'workingPlaceSection'}" class="form-label ">
                                                    Working
                                                    Group </label>

                                                <select class="form-control" data-th-field="*{workingPlaceSection}">
                                                    <option data-th-each="workingPlaceSection : ${workingPlaceSections}"
                                                            data-th-text="${workingPlaceSection.workingPlaceSection}"
                                                            data-th-value="${workingPlaceSection}"
                                                    ></option>
                                                </select>
                                                <p class="text-danger"
                                                   data-th-if="${#fields.hasErrors('workingPlaceSection')}"
                                                   data-th-errors="*{workingPlaceSection}">Error Name</p>
                                            </div>


                                            <!--Button-->
                                            <div class="form-group row">

                                                <button type="submit" class="btn btn-primary">
                                                    <i
                                                            data-th-class="${addStatus==false?'fa fa-save mr-1':'fa fa-thumbs-up mr-1'}"></i>
                                                    <span
                                                            data-th-text="${addStatus==false?'Save' : 'Update'}"></span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- content-wrapper end -->
    <footer data-th-replace="~{fragments/footerSection :: footerSectionFragment}"></footer><!-- footer Section -->
</div><!-- wrapper end -->
<script data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}"></script><!-- script Fragment -->

<script>
    $('#province').bind("change", function () {
        optionFieldAdd(this.value);
    });

    let optionFieldAdd = (value) => {
        let url = "[[${districtFindUrl}]]" + value;
        console.log(url);
        let html = "";
        $.get(url, function (data) {
            data.forEach((item) => {
                    html += `<option value="${item.id}">${item.name} </option>`
                }
            )
            $("#district").html(html);
        });
    }
    $(document).ready(function () {
        let province = $("#provinceDistrict").val();
        if (province !== null && province !== undefined) {
            $('#province').val(province);
        }
    });
</script>
</body>
</html>