<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<nav th:replace="~{fragments/navBar :: navBarFragment}"></nav>
<nav th:replace="~{fragments/sidebar :: sidebarFragment}"></nav>

<!--Page header -->
<div class="container-fluid bg-secondary form-Border">
    <div class="row text-center formManagement border-info">
        <div class="col">
            <a class="btn btn-primary" href="/home">
                <i class="fa fa-home" style="font-size: 20px"></i> &nbsp; Home
            </a>
        </div>
        <div class="col">
            <h4 class="text-light text-center">
                <strong>
                    <span id="formHeader" th:text="${addStatus==false?'New WorkingPlace':'Update WorkingPlace'}"></span>
                </strong>
            </h4>
        </div>
        <div class="col">
            <a href="/workingPlace" class="btn btn-primary">
                <i class="fa fa-list"></i>&nbsp; View List
            </a>
        </div>
    </div>
</div>
<!--add form-->
<div class="container-fluid">
    <form th:action="${addStatus==false?'/workingPlace/save' :'/workingPlace/update'}" method="post"
          th:object="${workingPlace}"
          class="mt-3">
        <div class="offset-3 col-6">
            <!--/* id this comment not visualize */-->
            <!--Id-->
            <div class="form-group row" th:if="${addStatus==true}">
                <label for="id" class="col-sm-4 col-form-label "> Id </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{id}" id="id" readonly>
                    <input type="hidden" id="provinceDistrict" th:value="${workingPlace.district.province}"/>
                </div>
            </div>
            <!--Province-->
            <div class="form-group row">
                <label th:for="${'province'}" class="col-sm-4 col-form-label "> Province </label>
                <div class="col-sm-8">
                    <select class="form-control" id="province">
                        <option th:each="province : ${provinces}"
                                th:text="${province.province}"
                                th:value="${province}">

                        </option>
                    </select>
                </div>
            </div>
            <!--District-->
            <div class="form-group row">
                <label th:for="${'province'}" class="col-sm-4 col-form-label "> District </label>
                <div class="col-sm-8">
                    <select class="form-control" th:field="*{district}">
                        <option value=""> Please Select</option>
                        <option th:each="district : ${districts}" th:text="${district.name}" th:value="${district.id}"></option>
                    </select>
                    <p class="text-danger" th:if="${#fields.hasErrors('district')}"
                       th:errors="*{district}">Error Name</p>
                </div>
            </div>
            <!--WorkingPlace name-->
            <div class="form-group row">
                <label th:for="${'name'}" class="col-sm-4 col-form-label "> Name </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{name}">
                    <p class="text-danger" th:if="${#fields.hasErrors('name')}"
                       th:errors="*{name}">Error Name</p>
                </div>
            </div>
            <!--Address-->
            <div class="form-group row">
                <label th:for="${'address'}" class="col-sm-4 col-form-label "> Address </label>
                <div class="col-sm-8">
                    <textarea class="form-control" th:field="*{address}"></textarea>
                    <p class="text-danger" th:if="${#fields.hasErrors('address')}"
                       th:errors="*{address}">Error Name</p>
                </div>
            </div>
            <!--Email-->
            <div class="form-group row">
                <label th:for="${'email'}" class="col-sm-4 col-form-label "> Email </label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" th:field="*{email}">
                    <p class="text-danger" th:if="${#fields.hasErrors('email')}"
                       th:errors="*{email}">Error Name</p>
                </div>
            </div>
            <!--phoneNumber-->
            <div class="form-group row">
                <label th:for="${'phoneNumber'}" class="col-sm-4 col-form-label "> Phone Number </label>
                <div class="col-sm-8">
                    <input type="tel" class="form-control" th:field="*{phoneNumber}">
                    <p class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}"
                       th:errors="*{phoneNumber}">Error Name</p>
                </div>
            </div>
            <!--airportType-->
            <div class="form-group row">
                <label th:for="${'airportType'}" class="col-sm-4 col-form-label "> Airport Type </label>
                <div class="col-sm-8">
                    <select class="form-control" th:field="*{airportType}">
                        <option th:each="airportType : ${airportTypes}"
                                th:text="${airportType.airportType}"
                                th:value="${airportType}"
                        ></option>
                    </select>
                    <p class="text-danger" th:if="${#fields.hasErrors('airportType')}"
                       th:errors="*{airportType}">Error Name</p>
                </div>
            </div>
            <!--workingPlaceSections-->
            <div class="form-group row">
                <label th:for="${'workingPlaceSection'}" class="col-sm-4 col-form-label "> Working Group </label>
                <div class="col-sm-8">
                    <select class="form-control" th:field="*{workingPlaceSection}">
                        <option th:each="workingPlaceSection : ${workingPlaceSections}"
                                th:text="${workingPlaceSection.workingPlaceSection}"
                                th:value="${workingPlaceSection}"
                        ></option>
                    </select>
                    <p class="text-danger" th:if="${#fields.hasErrors('workingPlaceSection')}"
                       th:errors="*{workingPlaceSection}">Error Name</p>
                </div>
            </div>
            <!--ShortNameAirport-->
            <div class="form-group row">
                <label th:for="${'shortName'}" class="col-sm-4 col-form-label "> Airport Code </label>
                <div class="col-sm-8">
                    <select class="form-control" th:field="*{shortName}">
                        <option th:each="shortName : ${shortNames}"
                                th:text="${shortName.shortName}"
                                th:value="${shortName}"
                        ></option>
                    </select>
                    <p class="text-danger" th:if="${#fields.hasErrors('shortName')}"
                       th:errors="*{shortName}">Error Name</p>
                </div>
            </div>
            <!--Button-->
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-8">
                    <button type="submit" class="btn btn-primary">
                        <i th:class="${addStatus==false?'fa fa-save mr-1':'fa fa-thumbs-up mr-1'}"></i> <span
                            th:text="${addStatus==false?'Save' : 'Update'}"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>


<!--footer include-->
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script th:replace="~{fragments/script :: scriptFragment}"></script>

<script>
    $('#province').bind("change", function () {
        optionFieldAdd(this.value);
    });

    let optionFieldAdd = (value) => {
        let url = "[[${districtFindUrl}]]" + value;
        console.log(url);
        let html = "";
        $.get(url, function (data) {
            data.forEach((item) => {
                    html += `<option value="${item.id}">${item.name} </option>`
                }
            )
            $("#district").html(html);
        });
    }
    $(document).ready(function () {
        let province = $("#provinceDistrict").val();
        if (province !== null && province !== undefined ) {
            $('#province').val(province);
        }
    });
</script>


</body>
</html>