<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section th:replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        <!-- Form Header  Path -->
        <section th:replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section><!-- Small Box Set -->

        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="card-body">
                                        <h4>First sud Header</h4>
                                        <form role="form">
                                            <a class="btn btn-success" id="newWorkingPlace" th:href="${'/workingPlace/add'}">
                                                <i class="fa fa-workingPlace-plus" style="font-size: 18px;"></i> &nbsp; Add WorkingPlace </a>

                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="card">
                                    <div class="card-body" id="workingPlaceListTable" th:if="${not #lists.isEmpty(workingPlaces)}">
                                        <h4>Secondary Header </h4>
                                                     <table class="table table-hover table-striped" id="myTable">
                                                        <thead class="thead-inverse">
                                                        <tr>
                                                            <th>Index</th>
                                                            <th>Province</th>
                                                            <th>Contact No</th>
                                                            <th>WorkingPlace</th>
                                                            <th>Email</th>
                                                            <th>Action</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:each="workingPlace, rowCount : ${workingPlaces}" scope="row">
                                                            <td th:text="${rowCount.count}"></td>
                                                            <td th:text="${workingPlace.name}"></td>
                                                            <td th:text="${workingPlace.phoneNumber}"></td>
                                                            <td th:text="${workingPlace.airportType}"></td>
                                                            <td th:text="${workingPlace.email}"></td>
                                                            <td><a class="btn btn-success btn-sm" th:href="${'/workingPlace/' + workingPlace.id}" id="workingPlaceView"><i
                                                                    class="fa fa-folder-open"></i>&nbsp;View</a>
                                                                <a class="btn btn-primary btn-sm" id="workingPlaceEdit"
                                                                   th:href="${'/workingPlace/edit/' + workingPlace.id}"><i
                                                                        class="fa fa-edit"></i>&nbsp;Edit</a>
                                                                <a class="btn btn-danger btn-sm" id="workingPlaceRemove"
                                                                   th:href="${'/workingPlace/remove/' + workingPlace.id}"
                                                                   th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                                                                   th:onclick="if(!(confirm('Are you want to delete this civilStatus ?'))) return false"
                                                                ><i
                                                                        aria-hidden="true" class="fa fa-trash"></i>
                                                                    Delete</a>

                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            <!--if empty list-->
                                            <div class="row" id="workingPlaceNotList" th:if="${ #lists.isEmpty(workingPlaces)}">
                                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        <h3 class="text-center text-danger">
                                                            <strong>There is no workingPlace upto know please add workingPlace to the system
                                                                using add workingPlace button.
                                                            </strong>
                                                        </h3>
                                                    </div>
                                                </div>


                                            <!--Show saved workingPlace-->
                                            <div class="row" th:if="${workingPlaceDetail!=null}">
                                                   <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        <div class="container">
                                                            <div th:replace="~{workingPlace/workingPlace-detail :: workingPlaceDetail}"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <script>
                                                    /*active boostrap alert - start*/
                                                    $(".alert").alert();
                                                    /*active boostrap alert - end*/
                                                </script>
                                </div>
                         </div>

                     </div>
                </div>
            </div>
        </div>



</div><!-- content-wrapper end -->
    </div>
<footer th:replace="~{fragments/footerSection :: footerSectionFragment}"></footer><!-- footer Section -->
</div><!-- wrapper end -->
<script th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></script><!-- script Fragment -->
</body>
</html>