<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}" ></head >
<body class="hold-transition sidebar-mini layout-fixed" >
<div class="wrapper" ><!-- wrapper start -->
    <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}" ></nav ><!-- navbar Section -->
    <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}" ></aside ><!-- navbar Section -->
    <div class="content-wrapper" ><!-- content-wrapper Start -->
        <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}" ></section ><!-- content-header Start -->
        <!--action button layer---------------------------------------------------------     -->
        <div class="row m-1">
            <div class="col-12">
                <div class="text-right">
                    <div text-right>
                        <button type="button" class="btn btn-info btn-sm">
                            <a  data-th-href="${'/workingPlace'}" >
                                <span class="info-box-icon text-white"><i class="fa fa-backward mr-1" ></i ></span >
                                <span class="text-white"> View Working Place List </span></a>
                        </button>
                        <button type="button" class="btn btn-success btn-sm">
                            <a  data-th-href="${'/home'}" >
                                <span class="info-box-icon text-white"><i class="fas fa-home mr-1" ></i ></span >
                                <span class="text-white"> Home </span></a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--form action end button---------------------------------------------------------     -->


        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4>Working Place </h4>


                                            <!--/* id this comment not visualize */-->
                                        <table class="table table-borderless table-hover table-striped">
                                            <tbody>
                                            <div class="container-fluid" th:fragment="workingPlaceDetail">
                                            <!--Id-->
                                            <tr><th>
                                            <label class="form-label "> Id </label></th>
                                                <td class="display_detail" th:text="${workingPlaceDetail.id}"></td>

                                            </tr>
                                            <tr><th><!--Province-->
                                                <label th:for="${'province'}" class="form-label "> Province </label></th>
                                           <td class="display_detail" th:text="${workingPlaceDetail.district.province.province}">
                                           </td>
                                            </tr>
                                            <tr><th><!--WorkingPlace S.name-->
                                                <label class="form-label "> Working placw short Name </label></th>
                                             <td class="display_detail" th:text="${workingPlaceDetail.shortName}">
                                             </td>
                                            </tr>
                                            <tr><th> <!--WorkingPlace name-->
                                                <label class="form-label "> Working place district </label></th>
                                           <td class="display_detail" th:text="${workingPlaceDetail.district}">
                                                </td>
                                            </tr>

                                                <tr>
                                                    <th></th><td>
                                                    <button class="btn btn-dark" type="button" tabindex="3"> <a data-th-href="${'/workingPlace'}">
                                                        <span class="info-box-icon text-white"><i class="fas fa-arrow-circle-left" style="font-size: 20px"></i>&nbsp;&nbsp;Back</span></a>
                                                    </button>
                                                </td></tr>
                                            </div>
                                            </tbody></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div><!-- content-wrapper end -->
<div  data-th-replace="~{fragments/footerSection :: footerSectionFragment}"></div><!-- footer Section -->
</div><!-- wrapper end -->
<div  data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}"></div><!-- script Fragment -->
</body>
</html>
