<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}" ></head >
<body class="hold-transition sidebar-mini layout-fixed" >
<div class="wrapper" ><!-- wrapper start -->
    <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}" ></nav ><!-- navbar Section -->
    <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}" ></aside ><!-- navbar Section -->
    <div class="content-wrapper" ><!-- content-wrapper Start -->
        <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}" ></section ><!-- content-header Start -->
        <!--action button layer---------------------------------------------------------     -->
        <div class="row m-1">
            <div class="col-12">
                <div class="text-right">
                    <div text-right>
                        <button type="button" class="btn btn-info btn-sm">
                            <a  data-th-href="${'/employee/add'}" >
                                <span class="info-box-icon text-white"><i class="fa fa-plus mr-1" ></i ></span >
                                <span class="text-white"> Add Employee </span></a>
                        </button>
                        <button type="button" class="btn btn-success btn-sm">
                            <a  data-th-href="${'/home'}" >
                                <span class="info-box-icon text-white"><i class="fas fa-home mr-1" ></i ></span >
                                <span class="text-white"> Home </span></a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--form action end button---------------------------------------------------------     -->




        <div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h4> <span id="formHeader" th:text="${addStatus==true?'New Role ':'Update Role'}"></span> </h4>

                                <form id="form" class="form-horizontal" method="POST" th:action="${addStatus==true?'/role/add':'/role/update'}"
                                      th:object="${role}">
                                    <div class="form-group col-md-12 col-sm-12 text-center flex-column">
                                        <div class="col-sm-6 col-md-6 offset-2">
                                            <div id="idHide" th:if="${addStatus==false}" class="form-row text-right">
                                                <div class="col-md-4">
                                                    <label class="control-label" for="id">ID :</label>
                                                </div>
                                                <div class="col-md-8">

                                                    <input class="form-control" th:field="*{liveDead}" type="hidden" readonly/>
                                                    <input class="form-control" th:field="*{id}"  id="id" type="text" readonly/>
                                                </div>
                                            </div>
                                            <div class="form-row text-right">
                                                <div class="col-md-4">
                                                    <label class="control-label" for="roleName">Name :</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input id="roleName" th:field="*{roleName}" class="form-control" type="text" required/>
                                                    <span id="roleNameError" th:errors="*{roleName}" th:if="${#fields.hasErrors('roleName')}" class="error">Error Role Name</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 text-center flex-column">
                                        <button class="btn btn-success" type="submit">
                                            <i class="fa fa-save" style="font-size: 20px"></i>&nbsp; &nbsp;<span
                                                id="submit" th:text="${addStatus==true?'Save': 'Update'}">                        </span>
                                        </button>
                                    </div>
                                    <!--Error-->
                                    <div class="form-row">
                                        <label id="errorLabel" th:if="${#fields.hasErrors('*')}" th:text="'Errors: '">Errors: </label>
                                        <ul>
                                            <li id="errorDisplay" th:each="err: ${#fields.errors('*')}" th:utext="${err}" class="error"></li>
                                        </ul>
                                    </div>
                                </form>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div><!-- content-wrapper end -->
<footer  data-th-replace="~{fragments/footerSection :: footerSectionFragment}"></footer><!-- footer Section -->
</div><!-- wrapper end -->
<script  data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}"></script><!-- script Fragment -->
</body>
</html>
