<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}" ></head >
<body class="hold-transition sidebar-mini layout-fixed" >
<div class="wrapper" ><!-- wrapper start -->
    <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}" ></nav ><!-- navbar Section -->
    <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}" ></aside ><!-- navbar Section -->
    <div class="content-wrapper" ><!-- content-wrapper Start -->
        <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}" ></section ><!-- content-header Start -->
        <!--action button layer---------------------------------------------------------     -->
        <div class="row m-1">
            <div class="col-12">
                <div class="text-right">
                    <div text-right>
                        <button type="button" class="btn btn-info btn-sm">
                            <a  data-th-href="${'/role'}" >
                                <span class="info-box-icon text-white"><i class="fa fa-folder mr-1" ></i ></span >
                                <span class="text-white"> View Role </span></a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--form action end button---------------------------------------------------------     -->




        <div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-header" >
                                    <h4 class="breadcrumb-item active">
                                        <span data-th-text="${addStatus==true?'Add New Role':'Update Role'}"></span>
                                    </h4 ></div>
<table class="table">
    <form id="form" class="form-horizontal" method="POST" th:action="${addStatus==true?'/role/add':'/role/update'}"
          th:object="${role}">
    <tr id="idHide" th:if="${addStatus==false}">
        <th > <label class="control-label" for="id">ID :</label></th>
        <td><input class="form-control" th:field="*{liveDead}" type="hidden" readonly/>
            <input class="form-control" th:field="*{id}"  id="id" type="text" readonly/></td>
    </tr>
    <tr>
        <th><label class="control-label" for="roleName">Name :</label></th>
        <td>  <input id="roleName" th:field="*{roleName}" class="form-control" type="text" required/>
            <span id="roleNameError" th:errors="*{roleName}" th:if="${#fields.hasErrors('roleName')}" class="error">Error Role Name</span>
        </td>
    </tr>
    <tr>
        <th><label id="errorLabel" th:if="${#fields.hasErrors('*')}" th:text="'Errors: '">Errors: </label>
            <ul>
                <li id="errorDisplay" th:each="err: ${#fields.errors('*')}" th:utext="${err}" class="error"></li>
            </ul></th>
        <td><button class="btn btn-success" type="submit">
            <i class="fa fa-save" style="font-size: 20px"></i>&nbsp; &nbsp;<span
                id="submit" th:text="${addStatus==true?'Save': 'Update'}">                        </span>
        </button></td>
    </tr>
    </form>
</table>



                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div><!-- content-wrapper end -->
<footer  data-th-replace="~{fragments/footerSection :: footerSectionFragment}"></footer><!-- footer Section -->
</div><!-- wrapper end -->
<script  data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}"></script><!-- script Fragment -->
</body>
</html>
