<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  data-th-replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav  data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside  data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section  data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>

            <div class="row m-1" >
              <div class="col-12" >
                <div class="text-right" >
                  <div text-right >
                    <button type="button" class="btn btn-info btn-sm" >
                      <a data-th-href="${'/role/add'}" >
                        <span class="info-box-icon text-white" ><i class="fa fa-plus mr-1" ></i ></span >
                        <span class="text-white" > Add New Role </span ></a >
                    </button >
                  </div >
                </div >
              </div >
            </div >

            <div class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header">
                                                <h4 class="breadcrumb-item active"><span id="formHeader" th:text="${addStatus==true?'New Role':'Update Role'}"></span></h4>
                                            </div></h4>

                                            <div class="card-body" id="roleListPresent" th:if="${not #lists.isEmpty(roles)}">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-condensed table-hover table-striped" id="myTable">
                                                        <thead>
                                                        <tr>
                                                            <th> Index</th>
                                                            <th> Name</th>
                                                            <th th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"> Modify</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:each="role, rowCount : ${roles}">
                                                            <td th:text="${rowCount.count}"></td>
                                                            <td th:text="${role.roleName}"></td>
                                                            <td th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                                                                <a id="edit" th:href="${'/role/edit/' + role.id}" class="btn btn-primary btn-sm mr-2 p-2">Edit
                                                                </a>
                                                                &nbsp;
                                                                <a id="remove" th:href="${'/role/remove/' + role.id}" class="btn btn-danger btn-sm mr-2 p-2"
                                                                   onclick="if
                        (!(confirm('Are you sure you want to delete this role?'))) return false"
                                                                >Delete</a></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- content-wrapper end -->
        <footer  data-th-replace="~{fragments/footerSection :: footerSectionFragment}"></footer><!-- footer Section -->
    </div><!-- wrapper end -->
    <script  data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}"></script><!-- script Fragment -->
</body>
</html>
