<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}" ></head >
<body class="hold-transition sidebar-mini layout-fixed" >
<div class="wrapper" ><!-- wrapper start -->
    <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}" ></nav ><!-- navbar Section -->
    <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}" ></aside ><!-- navbar Section -->
    <div class="content-wrapper" ><!-- content-wrapper Start -->
        <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}" ></section ><!-- content-header Start -->
        <!--action button layer---------------------------------------------------------     -->
        <div class="row m-1">
            <div class="col-12">
                <div class="text-right">
                    <div text-right>
<!--                        <button type="button" class="btn btn-info btn-sm">-->
<!--                            <a  data-th-href="${'/collection'}" >-->
<!--                                <span class="info-box-icon text-white"><i class="fa fa-plus mr-1" ></i ></span >-->
<!--                                <span class="text-white"> Payment </span></a>-->
<!--                        </button>-->

                    </div>
                </div>
            </div>
        </div>
        <!--form action end button---------------------------------------------------------     -->


        <div class="content-header">

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <!--<div class="card-body">
                                    <h4>Secondary Header </h4>-->
                                <div class="card-body"><div class="container-fluid table-responsive" data-th-if="${not #lists.isEmpty(employees)}">
                                    <table id="myTable" class="table table-hover table-striped" >
                                        <thead>
                                        <tr>
                                            <th> Index</th>
                                            <th> Designation</th>
                                            <th> Name</th>
<!--                                            <th> Working Place</th>-->
                                            <th> Mobile</th>
                                            <th> Payments</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-th-each="employee, rowCount : ${employees}">
                                            <td data-th-text="${rowCount.count}"></td>
                                             <td data-th-text="${employee.designation.shortName}"></td>
                                            <td data-th-text="${employee.name}"></td>
<!--                                            <td data-th-text="${employee.workingPlace.name == null?'Not Assign': employee.workingPlace.name }"></td>-->
                                            <td data-th-text="${employee.mobileOne}"></td>
                                            <td>
                                                <a data-th-href="${'/collection/' + employee.id}"
                                                   class="btn btn-success btn-sm"><i
                                                        class="fa fa-folder-open"></i>&nbsp;Add Instalment</a>

                                            </td>                                        </tr>
                                    </table>
                                </div>
                                    <div class="container-fluid" data-th-if="${ #lists.isEmpty(employees)}">
                                        <span data-th-text="${message}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content-wrapper end -->
<footer data-th-replace="~{fragments/footerSection :: footerSectionFragment}"></footer><!-- footer Section -->
<!-- wrapper end -->
<script data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}"></script><!-- script Fragment -->
</body>
</html>
