<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headerSection :: headerSectionFragment}"></head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper"><!-- wrapper start -->
    <nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav><!-- navbar Section -->
    <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <section th:replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
                                 <!-- Form Header  Path -->
                                 <!--<section th:replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section>-->
                                 <!-- Small Box Set -->

        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <!-- /employee/add-->
                            <div class="col-12 col-sm-6 col-md-3">
                                <a th:href="${'/employee/add'}">
                                    <div class="info-box bg-success">
                                        <span class="info-box-icon"><i class="fas fa-user"></i></span>
                                        Add <br/>Employee
                                    </div>
                                </a></div>
                            <!-- /employee/View-->
                            <div class="col-12 col-sm-6 col-md-3">
                                <!--
                                                                <a th:href="${'/employee/add'}">-->
                                <div class="info-box bg-info" data-toggle="modal" data-target="#modal">
                                    <span class="info-box-icon"><i class="fas fa-folder-open"></i></span>
                                    View <br/>Employee
                                </div>
                                <!--</a>--></div>
                            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalTitle">View Employee</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Enter EPF No <input type="text">
                                            <p><a th:href="${'/employee/' + 1}">enter</a></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary">Action</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /employee/Edit-->
                            <div class="col-12 col-sm-6 col-md-3">
                                <a th:href="${'/employee/add'}">
                                    <div class="info-box bg-warning">
                                        <span class="info-box-icon"><i class="fas fa-edit"></i></span>
                                        Edit <br/>Employee
                                    </div>
                                </a></div>
                            <!--/employee/Delete-->
                            <div class="col-12 col-sm-6 col-md-3">
                                <a th:href="${'/employee/add'}">
                                    <div class="info-box bg-danger">
                                        <span class="info-box-icon"><i class="fas fa-trash"></i></span>
                                        Edit <br/>Employee
                                    </div>
                                </a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <!--<div class="card-body">
                                    <h4>Secondary Header </h4>-->
                                <div class="card-body">
                                    <table id="example2" class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th> Index</th>
                                            <th> EPF No</th>
                                            <th> Name</th>
                                            <th> Mobile</th>
                                            <th> Designation</th>
                                            <th> Status</th>
                                            <th> Modify</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="employee, rowCount : ${employees}">
                                            <td th:text="${rowCount.count}"></td>
                                            <!--<td><div class="user-panel mt-0 pb-0 mb-0 d-flex">
                                                <div class="image">
                                                    <img th:src="${files.url}" class="img-circle elevation-2" alt="User Image">
                                                </div></div></td>-->
                                            <td>
                                                <div class="user-panel mt-0 pb-0 mb-0 d-flex">
                                                    <div class="image">
                                                        <img src="/img/prasad.jpg" class="img-circle elevation-2"
                                                             alt="User Image">
                                                    </div>
                                                    <div class="info">
                                                        <a href="#" class="d-block">W B Prasad</a>
                                                    </div>
                                                </div>
                                            </td>

                                            <!-- <td th:text="${employee.epf}"></td>-->
                                            <td th:text="${employee.name}"></td>
                                            <td th:text="${employee.mobileOne}"></td>
                                            <td th:if="${employee.designation != null}"
                                                th:text="${employee.designation.name}"></td>
                                            <td th:if="${employee.designation == null}"
                                                th:text="${'Not mentioned'}"></td>
                                            <td th:text="${employee.employeeStatus.employeeStatus}"></td>
                                            <td>
                                                <a id="employeeView" th:href="${'/collection/' + employee.id}"
                                                   class="btn btn-success btn-sm"><i
                                                        class="fa fa-folder-open"></i>&nbsp;Add Instalment</a>

                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content-wrapper end -->
<footer th:replace="~{fragments/footerSection :: footerSectionFragment}"></footer><!-- footer Section -->
<!-- wrapper end -->
<script th:replace="~{fragments/scriptSection :: scriptSectionFragment}"></script><!-- script Fragment -->
</body>
</html>