<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}" ></head >
<body class="hold-transition sidebar-mini layout-fixed" >
<div class="wrapper" ><!-- wrapper start -->
  <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}" ></nav ><!-- navbar Section -->
  <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}" ></aside ><!-- navbar Section -->
  <div class="content-wrapper" ><!-- content-wrapper Start -->
    <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}" ></section >
                                <!-- content-header Start -->
                                <!--action button layer---------------------------------------------------------     -->
    <div class="row m-1" >
      <div class="col-12" >
        <div class="text-right" >
          <div text-right >
            <button type="button" class="btn btn-info btn-sm" >
              <a data-th-href="${'/collection'}" >
                <span class="info-box-icon text-white" ><i class="fa fa-folder mr-1" ></i ></span >
                <span class="text-white" > View Collection </span ></a >
            </button >

          </div >
        </div >
      </div >
    </div >
                                <!--form action end button---------------------------------------------------------     -->


    <div class="content-header" >

      <div class="row" >
        <div class="col-md-12" >
          <div class="row" >
            <div class="col-md-12" >
              <div class="card" >
                <!--<div class="card-body">
                    <h4>Secondary Header </h4>-->
                <form action="/collection/treasure" method="post" data-th-object="${instalmentTreasure}" data-th-if="${not #lists.isEmpty(instalmentTreasure.instalmentApproves)}" >
                  <div class="card-body" >
                    <div class="card-header">
                    <h4 class="breadcrumb-item active">Executive Budget Summary</h4></div>
                    <div class="container-fluid table-responsive">
                      <table id="example2" class="table table-hover" >
                        <thead >
                        <tr >
                          <th > Index</th >
                          <th > EPF No</th >
                          <th > Name</th >
                          <th > Installment Type</th >
                          <th > Amount</th >
                        </tr >
                        </thead >
                        <tbody >
                        <tr data-th-each="instalment, rowCount : ${instalmentTreasure.instalmentApproves}" >
                        <td >
                          <span data-th-text="${rowCount.count}" ></span>
                          <input type="hidden" data-th-field="*{instalmentApproves[__${rowCount.index}__].instalment.id}">
                        </td >
                        <td data-th-text="${instalment.instalment.employee.epf}" ></td >
                        <td data-th-text="${instalment.instalment.employee.title.title+' '+instalment.instalment.employee.name}" ></td >
                        <td data-th-text="${instalment.instalment.instalmentType.name}" ></td >
                        <td data-th-text="${instalment.instalment.amount}" ></td >
                        </tr >
                        </tbody >
                        <tfooter >
                          <tr>
                          <td colspan="4" >Total</td >
                          <td data-th-text="${instalmentTreasure.total}" ></td ></tr>
                        </tfooter >
                      </table >
                    </div >

                    <div class="container-fluid" >
                      <button type="submit" class="btn btn-primary float-right ml-2" tabindex="28" >
                        <i data-th-class="${'fa fa-save mr-1'}" ></i >
                        <span data-th-text="${'Save'}" ></span >
                      </button >

<!--                      <button type="clear" class="btn btn-primary float-right" >-->
<!--                        <i data-th-class="${'fa fa-save mr-1'}" ></i >-->
<!--                        <span data-th-text="${'Clear'}" ></span >-->
<!--                      </button >-->
                      <button class="btn btn-dark float-right ml-2" type="button" tabindex="3"> <a data-th-href="${'/collection/treasure'}">
                        <span class="info-box-icon text-white"><i class="fas fa-arrow-circle-left" style="font-size: 20px"></i>&nbsp;&nbsp;Back</span></a>
                      </button>
                    </div >
                  </div >

                </form >
                <div class="container-fluid"
                     data-th-if="${ #lists.isEmpty(instalmentTreasure.instalmentApproves)}" >
                  <p class="text-danger">There is not instalment to accept to treasure.</p>
                </div >
              </div >
            </div >
          </div >
        </div >
      </div >
    </div >
  </div >
</div >
<!-- content-wrapper end -->
<footer data-th-replace="~{fragments/footerSection :: footerSectionFragment}" ></footer ><!-- footer Section -->
<!-- wrapper end -->
<script data-th-replace="~{fragments/scriptSection :: scriptSectionFragment}" ></script ><!-- script Fragment -->
</body >
</html >
