<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/headerSection :: headerSectionFragment}" ></head >
<body class="hold-transition sidebar-mini layout-fixed" >
<div class="wrapper" ><!-- wrapper start -->
    <nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}" ></nav ><!-- navbar Section -->
    <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}" ></aside ><!-- navbar Section -->
    <div class="content-wrapper" ><!-- content-wrapper Start -->
        <section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}" ></section ><!-- content-header Start -->
        <!--action button layer---------------------------------------------------------     -->
        <div class="row m-1">
            <div class="col-12">
                <div class="text-right">
                    <div text-right>
                        <button type="button" class="btn btn-info btn-sm">
                            <a  data-th-href="${'/promotion'}" >
                                <span class="info-box-icon text-white"><i class="fa fa-plus mr-1" ></i ></span >
                                <span class="text-white"> Promotion </span></a>
                        </button>
                        <button type="button" class="btn btn-success btn-sm">
                            <a  data-th-href="${'/home'}" >
                                <span class="info-box-icon text-white"><i class="fas fa-home mr-1" ></i ></span >
                                <span class="text-white"> Home </span></a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--form action end button---------------------------------------------------------     -->



        <div class="content-header" >
      <div class="container-fluid" >
        <div class="row" >
          <div class="col-md-12" >
            <div class="row" >
              <div class="col-md-12" >
                <div class="card" >
                  <div class="card-body" >
                    <h4 ><span id="formHeader" th:text="${addStatus==false?'New Promotion':'Update Promotion'}" ></span ></h4 >
                    <form th:action="${addStatus==false?'/promotion/save' :'/promotion/update'}" method="post"
                          th:object="${promotion}"
                          class="mt-3" >
                        <!--Id-->
<table class="table table-borderless table-hover">
  <tbody>
  <tr th:if="${addStatus==true}" >
    <th>     <label for="id" class="form-label " > Id </label ></th>
    <td><input type="text" class="form-control" th:field="*{id}" id="id" readonly ></td></tr>

<tr><th></th>
  <td><input type="hidden" th:field="*{employee}"></td></tr>
                        <!--Name-->

  <tr><th> <label th:for="${'name'}" class="form-label " > Name </label ></th>

    <td>       <input type="text" class="form-control" th:field="*{name}" >
                            <p class="text-danger" th:if="${#fields.hasErrors('name')}"
                               th:errors="*{name}" >Error Name</p ></td></tr>
  <!--relationship name--><tr><th>
    <label th:for="${'remark'}" class="form-label " > Remark</label ></th>
    <td>                       <input type="text" class="form-control" th:field="*{remark}" required >
                            <p class="text-danger" th:if="${#fields.hasErrors('remark')}"
                               th:errors="*{remark}" >Error condition</p >
    </td>
  </tr>
 <!--withEffectFrom-->
<tr><th>
    <label th:for="${'withEffect'}" class="form-label " > with Effect</label ></th>
<td>             <input type="date" class="form-control" th:field="*{withEffect}" >
                            <p class="text-danger" th:if="${#fields.hasErrors('withEffect')}"
                               th:errors="*{withEffect}" >Error withEffectFrom</p ></td></tr>
<tr><th></th> <td>
                            <button type="submit" class="btn btn-primary" >
                              <i th:class="${addStatus==false?'fa fa-save mr-1':'fa fa-thumbs-up mr-1'}" ></i > <span
                                  th:text="${addStatus==false?'Save' : 'Update'}" ></span >
                            </button ></td></tr>
  </tbody></table>
                    </form>
                          </div >
                        </div >
                      </div >
<!--8/11/2020-->
<!--                <div class="col-md-12" >-->
<!--                    <div class="card" >-->
<!--                        <div class="card-body" >-->
<!--                                <table class="table table-borderless table-hover">-->
<!--                                    <tbody>-->
<!--                                    <tr>-->
<!--                                        <th> <label class="form-label" > Id </label ></th>-->
<!--                                        <th> <label class="form-label" > Promotion Name </label ></th>-->
<!--                                        <th><label class="form-label" > Remark </label ></th>-->
<!--                                        <th><label class="form-label" > Effected Dte </label ></th>-->
<!--                                        <th> <label class="form-label" > Action </label >-->
<!--                                        </th></tr></tbody></table>-->
<!--                                <div class="container-fluid" data-th-each="promotionDetail : ${employeeDetail.promotions}" >-->
<!--                                    <div data-th-replace="~{promotion/promotion-detail :: promotionDetail1}" ></div >-->
<!--                                    <hr >-->
<!--                                </div >-->
<!--                            </div >-->
<!--                    </div>-->
<!--                </div>-->
                  </div >
                </div >
              </div >
            </div >
          </div >
        </div >
      </div >
    </div ><!-- content-wrapper end -->
  </div >
  <div th:replace="~{fragments/footerSection :: footerSectionFragment}" ></div ><!-- footer Section -->
</div ><!-- wrapper end -->
<div th:replace="~{fragments/scriptSection :: scriptSectionFragment}" ></div ><!-- script Fragment -->
</body >
</html >